// BUTTONS
// ========
%button-reset {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	font: 14px/1 $tahoma;
	text-align: center;
	color: #fff;
	background: $green;
	border: solid $green-darken;
	border-width: 0 0 4px;
	border-radius: 4px;
	transition: background .3s, border-color .3s;

	&:hover {
		background: $green-blue;
		border-bottom-color: $green-blue-darken;
	}
}

// mobile menu trigger common styles
.menu-trigger {
	@extend %button-reset;
	width: 32px;
	height: 32px;

	&:hover {
		.menu-trigger__svg {
			fill: $green-blue;
		}
	}

	&__svg {
		display: block;
		width: 100%;
		height: 100%;
		padding: 2px;

		fill: $green;

		@include respond-to(medium) {
			padding: 0;
		}
	}
}

// SPRITE/ICONS
// =============
.svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}

%sprite {
	background-color: #e8eaea;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;

	@include retina("sprite@2x.png", $spritesheet-width, $spritesheet-height);
}

.categories__ico {
	&_clothes {
		@include sprite($ico01);
	}
	&_house {
		@include sprite($ico05);
	}
	&_sport {
		@include sprite($ico09);
	}
	&_books {
		@include sprite($ico13);
	}
	&_gifts {
		@include sprite($ico17);
	}
	&_travelling {
		@include sprite($ico02);
	}
	&_children {
		@include sprite($ico06);
	}
	&_food {
		@include sprite($ico10);
	}
	&_health {
		@include sprite($ico14);
	}
	&_devices {
		@include sprite($ico18);
	}
}

.top-shops__item {
	@include sprite($label);
}

.tiles__icons-item {
	&_clothes {
		@include sprite($ico01-m);
	}
	&_percent {
		@include sprite($ico-percent-m);
	}
	&_food {
		@include sprite($ico10-m);
	}
	&_money {
		@include sprite($ico-money-m);
	}
	&_devices {
		@include sprite($ico18-m);
	}
	&_delivery {
		@include sprite($ico-delivery-m);
	}
	&_books {
		@include sprite($ico13-m);
	}
	&_gift {
		@include sprite($ico-gift-m);
	}
	&_sport {
		@include sprite($ico09-m);
	}
	&_health {
		@include sprite($ico14-m);
	}
	&_house {
		@include sprite($ico05-m);
	}
	&_children {
		@include sprite($ico06-m);
	}
	&_travelling {
		@include sprite($ico02-m);
	}
}

.post__ico {
	&_devices {
		@extend .tiles__icons-item_devices;
	}
}

// SOCIAL ICONS
// =============
.social {
	$svg-size: 30px; // without border
	$svg-size-small: 22px; // without border
	$border: 1px;
	$ico-color: $green;
	$ico-color-hover: #fff;
	$shadow-color: #eef0f0;
	$shadow-color-hover: $green-blue-darken;
	$bg-color-hover: $green-blue;

	@include clrf;

	&_small {
		.social__item {
			margin-left: 3px;
		}

		.social__svg {
			width: $svg-size-small;
			height: $svg-size-small;
		}
	}

	&__item {
		&:not(:first-child) {
			margin-left: 4px;
		}

		float: left;
		border: $border solid $green;
		border-radius: 2px;
		overflow: hidden;
	}

	&__link {
		display: block;

		@include respond-to(xlarge) {
			transition: background .3s;
		}

		&:hover {
			background: $bg-color-hover;

			.social__svg {
				fill: $ico-color-hover;
				color: $shadow-color-hover; // shadow
			}
		}
	}

	&__svg {
		display: block;
		width: $svg-size;
		height: $svg-size;

		fill: $ico-color;
		color: $shadow-color; // shadow

		@include respond-to(xlarge) {
			transition: fill .3s, color .3s;
		}
	}
}

// RATING
// =======
.rating {
	&__text {
		display: none;

		@include respond-to(small) {
			display: inline-block;
			vertical-align: middle;
			font: 16px/1 $gloria;
			color: $gray;
			margin-right: 4px;
		}
		@include respond-to(large) {
			vertical-align: top;
		}
	}

	&__list {
		display: inline-block;
		vertical-align: middle;

		@include respond-to(large) {
			vertical-align: top;
		}

		&-item {
			&:not(:first-child) {
				margin-right: 2px;
			}

			float: right;
			width: 15px;
			height: 14px;
			text-indent: -9999px;
			overflow: hidden;
			background-color: transparent;
			cursor: pointer;
			@include sprite($star-empty);

			&:hover,
			&:hover ~ &,
			&.active,
			&.active ~ & {
				@include sprite-position($star-full);
			}
		}

	}
}

// ICO-TOOLTIPS
// =============
[data-tooltip] {
	$width: 110px;
	$bg-color: #fff;
	$font-color: $gray;
	position: relative;

	&:hover {
		&:after {
			opacity: 1;
			visibility: visible;
			transform: translateY(-10px);
			transition-delay: 0s;
		}
	}

	&:after {
		content: attr(data-tooltip);
		width: $width;
		margin-left: -$width/2;
		padding: 5px;
		font: 13px/1.4 $tahoma;
		text-align: center;
		text-transform: uppercase;
		text-indent: 0;
		background: $bg-color;
		border: 1px dashed $green;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		left: 50%;
		bottom: 95%;
		z-index: 10;

		transition: visibility 0s .3s, opacity .3s, transform .3s;
	}
}

// RIPPLES
// ========
.ripple {
	overflow: hidden;
	position: relative;
}

.ripple-effect {
	position: absolute;
	border-radius: 50%;
	background: #fff;
	opacity: 0.3;
	pointer-events: none;

	transition: opacity .4s ease-in;
	animation: ripple-animation .4s ease-out forwards;
}

.ripple-effect-out {
	opacity: 0;
}

@keyframes ripple-animation {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}