// BUTTONS
// ========
%button-reset {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	@extend %button-reset;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 38px;
	padding: 0 5px;
	font: 14px/34px $tahoma; // -4px border 
	text-align: center;
	color: #fff;
	background: $green;
	border: solid $green-darker;
	border-width: 0 0 4px;
	border-radius: 4px;

	&:hover {
		background: $green-blue;
		border-bottom-color: $green-blue-darker;
		text-decoration: none;
	}

	@include respond-to(large) {
		width: auto;
		min-width: 151px;
	}
	@include respond-to(xlarge) {
		transition: background .3s, border-color .3s;
	}

	&_wider-darker {
		background: $green-blue;
		border-color: $green-blue-darker;
		border-radius: 0;

		&:hover {
			background: $green;
			border-bottom-color: $green-darker;
		}

		@include respond-to(large) {
			min-width: 200px;
		}
	}
}

// mobile menu trigger common styles
.menu-trigger {
	@extend %button-reset;
	width: 32px;
	height: 32px;

	&:hover {
		.menu-trigger__svg {
			fill: $green-blue;
		}
	}

	&__svg {
		display: block;
		width: 100%;
		height: 100%;
		padding: 2px;

		fill: $green;

		@include respond-to(medium) {
			padding: 0;
		}
	}
}

// SPRITE/ICONS
// =============
.svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}

%sprite {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;

	@include retina("sprite@2x.png", $spritesheet-width, $spritesheet-height);
}

.categories-ico {
	width: 64px;
	height: 64px;
	border-radius: 6px;
	background-color: #e8eaea; // makes icons visible until sprite isn't loaded
	@extend %sprite;

	&_small {
		width: 48px;
		height: 48px;
		border-radius: 4px;

		&.categories-ico {
			&_clothes {
				@include sprite-position($ico01-m);
			}
			&_percent {
				@include sprite-position($ico-percent-m);
			}
			&_food {
				@include sprite-position($ico10-m);
			}
			&_money {
				@include sprite-position($ico-money-m);
			}
			&_devices {
				@include sprite-position($ico18-m);
			}
			&_delivery {
				@include sprite-position($ico-delivery-m);
			}
			&_books {
				@include sprite-position($ico13-m);
			}
			&_gift {
				@include sprite-position($ico-gift-m);
			}
			&_gifts {
				@include sprite-position($ico17-m);
			}
			&_sport {
				@include sprite-position($ico09-m);
			}
			&_health {
				@include sprite-position($ico14-m);
			}
			&_house {
				@include sprite-position($ico05-m);
			}
			&_children {
				@include sprite-position($ico06-m);
			}
			&_travelling {
				@include sprite-position($ico02-m);
			}
		}
	}

	&_clothes {
		@include sprite-position($ico01);
	}
	&_house {
		@include sprite-position($ico05);
	}
	&_sport {
		@include sprite-position($ico09);
	}
	&_books {
		@include sprite-position($ico13);
	}
	&_gifts {
		@include sprite-position($ico17);
	}
	&_travelling {
		@include sprite-position($ico02);
	}
	&_children {
		@include sprite-position($ico06);
	}
	&_food {
		@include sprite-position($ico10);
	}
	&_health {
		@include sprite-position($ico14);
	}
	&_devices {
		@include sprite-position($ico18);
	}
}

// small ico with n days left
.ico-counter {
	width: 48px;
	height: 48px;
	padding: 9px 6px 0px 3px;

	font: bold 9px/1.2 $arial;
	color: $dark-blue;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: -1px;

	background: #e8eaea;
	position: relative;
	cursor: default;
	user-select: none;

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		@include sprite-with-sizes($ico-clock);
	}

	&__val,
	&__day {
		float: right;
	}

	&__val {
		font-size: 15px;
		color: #eb3f11;
	}

	&__day {
		margin-top: -3px;
		clear: both;
		font-size: 8px;
	}
}

.main-nav__item_ico {
	.main-nav__link:before {
		@include sprite-wo-sizes($ico-question);
	}
}

.top-shops__item {
	@include sprite-wo-sizes($label);
}

.expired__item-bottom:before {
	@include sprite-with-sizes($ico-clock-s);
}

// SOCIAL ICONS
// =============
.social {
	$ico-color: $green;
	$ico-color-hover: #fff;
	$shadow-color: #eef0f0;
	$shadow-color-hover: $green-blue-darker;
	$bg-color-hover: $green-blue;

	@include clrf;

	&_small {
		.social__item {
			&:not(:first-child) {
				margin-left: 3px;
			}
		}

		.social__svg {
			width: 22px;
			height: 22px;
		}
	}

	&__item {
		float: left;
		border: 1px solid $green;
		border-radius: 2px;
		overflow: hidden;

		&:not(:first-child) {
			margin-left: 4px;
		}
	}

	&__link {
		display: block;

		@include respond-to(xlarge) {
			transition: background .3s;
		}

		&:hover {
			background: $bg-color-hover;

			.social__svg {
				fill: $ico-color-hover;
				color: $shadow-color-hover; // shadow
			}
		}
	}

	&__svg {
		display: block;
		width: 30px;
		height: 30px;

		fill: $ico-color;
		color: $shadow-color; // shadow

		@include respond-to(xlarge) {
			transition: fill .3s, color .3s;
		}
	}
}

.tiles-social {
	display: none;

	@include respond-to(large) {
		display: block;
		margin-top: -3px;
		padding: 12px 0 13px;
		font-size: 0;
		line-height: 1;
		text-align: center;
		border-top: 1px dashed $medium-gray;

		&__item {
			&:first-child {
				margin-left: 13px;
			}

			display: inline-block;
			vertical-align: top;
			margin-left: 3px;
			border-radius: 50%;

			transition: background .3s;

			&:hover {
				&.-facebook {
					background: hsb(221, 57, 73);
				}
				&.-twitter {
					background: hsb(200, 71, 100);
				}
				&.-vk {
					background: hsb(206, 57, 73);
				}
				&.-ok {
					background: hsb(50, 80, 95);
				}
			}

			&.-facebook {
				background: hsb(221, 37, 73);
			}
			&.-twitter {
				background: hsb(200, 51, 100);
			}
			&.-vk {
				background: hsb(206, 27, 73);
			}
			&.-ok {
				background: hsb(48, 100, 98);
			}
		}

		&__link {
			display: block;
			width: 18px;
			height: 18px;
			padding: 4px;
		}

		&__svg {
			display: block;
			width: 100%;
			height: 100%;
			fill: #fff;
		}
	}
}

// RATING
// =======
.rating {
	$inner-color: transparent;
	$stroke-color: #dee2e2;
	$inner-color-hover: #ffca05;
	$stroke-color-hover: #ffca05;

	&_no-hover {
		.rating__list-item {
			cursor: default;

			// override colors to default
			&:hover,
			&:hover ~ .rating__list-item {
				.rating__list-svg {
					fill: $inner-color;
					color: $stroke-color;
				}
			}
		}
	}

	&__text {
		display: none;

		@include respond-to(small) {
			display: inline-block;
			vertical-align: middle;
			font: 16px/1 $gloria;
			color: $gray;
			margin-right: 1px;
		}
	}

	&__list {
		display: inline-block;
		vertical-align: middle;

		&-item {
			float: right;
			padding: 5px 3px;
			cursor: pointer;

			@include respond-to(xlarge) {
				padding-right: 1px;
				padding-left: 2px;
			}

			&:hover,
			&:hover ~ & {
				.rating__list-svg {
					fill: $inner-color-hover;
					color: $stroke-color-hover;
				}
			}

			// prevents overriding for .rating_no-hover
			&.is-active,
			&.is-active ~ & {
				.rating__list-svg {
					fill: $inner-color-hover !important;
					color: $stroke-color-hover !important;
				}
			}
		}

		&-svg {
			display: block;
			width: 15px;
			height: 14px;
			fill: $inner-color;
			color: $stroke-color;

			@include respond-to(xlarge) {
				transition: fill .2s, color .2s;
			}
		}
	}
}

// ICO-TOOLTIPS
// =============
[data-tooltip] {
	$width: 110px;
	color: $gray;
	position: relative;

	&:hover {
		&:after {
			opacity: 1;
			visibility: visible;
			transform: scaleX(1) translateY(-17px);
			transition-delay: 0s;
		}
	}

	&:after {
		content: attr(data-tooltip);
		width: $width;
		margin-left: -$width/2;
		padding: 5px;
		font: 13px/1.4 $tahoma;
		text-align: center;
		text-transform: uppercase;
		text-indent: 0;
		background: #fff;
		border: 1px dashed $green;

		position: absolute;
		left: 50%;
		bottom: 85%;
		opacity: 0;
		z-index: 15;
		visibility: hidden;
		pointer-events: none;

		transform: scaleX(0.4);
		transition: visibility 0s .3s, opacity .3s, transform .3s;
	}
}

// RIPPLES
// ========
.ripple {
	overflow: hidden;
	position: relative;
}

.ripple-effect {
	position: absolute;
	border-radius: 50%;
	background: $ripple-color;
	opacity: $ripple-opacity;
	pointer-events: none;

	transition: opacity $ripple-duration ease-in;
	animation: scale-in $ripple-duration linear forwards;
}

.ripple-effect-out {
	opacity: 0;
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}