input,
select,
textarea {
	display: block;
	width: 100%;
}

.form-row {
	position: relative;

	&:not(:first-child) {
		margin-top: 5px;
	}

	&_small {
		@include respond-to(medium) {
			max-width: 502px;
		}
	}

	&_smaller {
		@include respond-to(medium) {
			max-width: 262px;
		}
	}

	&_submit {
		text-align: center;
	}
}

.txt {
	height: 39px;
	padding: 0 10px 0 16px;
	font: 14px/35px $tahoma; // 39px - 4px borders
	border: solid $light-gray;
	border-width: 1px 1px 3px;
	border-radius: 1px;
	outline: none;

	&_center {
		text-align: center;
	}

	&::placeholder {
		color: #bdc3c7;
	}

	&:focus {
		& ~ .pseudo-border {
			transform: scaleX(1);
		}
	}
}

.textarea {
	@extend .txt;
	height: 110px;
	resize: none;

	&_higher {
		height: 130px;
	}
}

// input, textarea pseudo border
.pseudo-border {
	height: 2px;
	position: absolute;
	right: 1px;
	left: 1px;
	bottom: 1px;
	background: $green-darker;

	transform: scaleX(0);
	transition: transform .3s;
}

.search-form {
	position: relative;

	&_mobile {
		margin-bottom: 10px;

		.search-form {
			&__txt {
				line-height: 37px; // 39px - 2px border
				border-width: 0 0 2px;
			}

			&__btn {
				width: 39px;
				height: 39px;
				top: 0;
				right: 0;
				background: none;
				border-bottom-color: $green-darker;

				&-svg {
					width: 17px;
					height: 17px;
					fill: $green-darker;
				}
			}

			&__pseudo-border {
				right: 39px; // 39px === btn-size
				left: 0;
				bottom: 0;
			}
		}
	}

	&__txt {
		padding-right: 45px;
	}

	&__btn {
		@extend %button-reset;
		width: 37px;
		height: 37px;
		background: $green;
		border-bottom: 2px solid $green-darker;

		position: absolute;
		top: 1px;
		right: 1px;

		@include respond-to(xlarge) {
			&:hover {
				background: $green-blue;
				border-bottom-color: $green-blue-darker;
				transition: background .3s, border-color .3s;
			}
		}

		&-svg {
			display: block;
			width: 14px;
			height: 15px;
			margin: 0 auto;

			fill: #fff;
		}
	}

	&__pseudo-border {
		right: 38px; // 37px === btn-size + 1px === border-size
	}
}

.subscribe-form {
	padding: 5px 0 5px;

	@include respond-to(medium) {
		padding: 10px;
	}
	@include respond-to(large) {
		padding: 10px 18px 16px 17px;
	}

	&_smaller {
		@include respond-to(large) {
			padding-right: 27px;
			padding-left: 26px;
		}
	}

	&__btn {
		padding-top: 10px;
		padding-bottom: 13px;
		height: auto;
		line-height: 1;
		border-color: $medium-gray;
		border-width: 1px 1px 0;
		box-shadow: inset 0 -4px 0 $green-blue-darker;

		&:hover {
			background: $green;
			box-shadow: inset 0 -4px 0 $green-darker;
		}

		@include respond-to(large) {
			width: 100%;
		}
		@include respond-to(xlarge) {
			transition: background .3s, box-shadow .3s;
		}
	}
}

.reviews-form,
.feedback-form {
	.form-row {
		&:not(:first-child) {
			margin-top: 10px;
		}

		&_submit {
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
	}
}

.reviews-form {
	padding: 20px;
	border: 1px dashed $medium-gray;
	background: #fff;

	&_no-bg {
		padding: 0;
		border: none;
		background: none;

		.form-row_small {
			@include respond-to(medium) {
				max-width: 452px;
			}
		}
	}
}

.feedback-form {
	.form-row_small {
		@include respond-to(medium) {
			max-width: 452px;
		}
	}
}