/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico01-name: 'ico01';
$ico01-x: 0px;
$ico01-y: 37px;
$ico01-offset-x: 0px;
$ico01-offset-y: -37px;
$ico01-width: 64px;
$ico01-height: 64px;
$ico01-total-width: 455px;
$ico01-total-height: 455px;
$ico01-image: 'sprite.png';
$ico01: (0px, 37px, 0px, -37px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico01', );
$ico01-m-name: 'ico01_m';
$ico01-m-x: 51px;
$ico01-m-y: 305px;
$ico01-m-offset-x: -51px;
$ico01-m-offset-y: -305px;
$ico01-m-width: 48px;
$ico01-m-height: 48px;
$ico01-m-total-width: 455px;
$ico01-m-total-height: 455px;
$ico01-m-image: 'sprite.png';
$ico01-m: (51px, 305px, -51px, -305px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico01_m', );
$ico02-name: 'ico02';
$ico02-x: 134px;
$ico02-y: 171px;
$ico02-offset-x: -134px;
$ico02-offset-y: -171px;
$ico02-width: 64px;
$ico02-height: 64px;
$ico02-total-width: 455px;
$ico02-total-height: 455px;
$ico02-image: 'sprite.png';
$ico02: (134px, 171px, -134px, -171px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico02', );
$ico02-m-name: 'ico02_m';
$ico02-m-x: 340px;
$ico02-m-y: 185px;
$ico02-m-offset-x: -340px;
$ico02-m-offset-y: -185px;
$ico02-m-width: 48px;
$ico02-m-height: 48px;
$ico02-m-total-width: 455px;
$ico02-m-total-height: 455px;
$ico02-m-image: 'sprite.png';
$ico02-m: (340px, 185px, -340px, -185px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico02_m', );
$ico03-name: 'ico03';
$ico03-x: 67px;
$ico03-y: 37px;
$ico03-offset-x: -67px;
$ico03-offset-y: -37px;
$ico03-width: 64px;
$ico03-height: 64px;
$ico03-total-width: 455px;
$ico03-total-height: 455px;
$ico03-image: 'sprite.png';
$ico03: (67px, 37px, -67px, -37px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico03', );
$ico03-m-name: 'ico03_m';
$ico03-m-x: 407px;
$ico03-m-y: 0px;
$ico03-m-offset-x: -407px;
$ico03-m-offset-y: 0px;
$ico03-m-width: 48px;
$ico03-m-height: 48px;
$ico03-m-total-width: 455px;
$ico03-m-total-height: 455px;
$ico03-m-image: 'sprite.png';
$ico03-m: (407px, 0px, -407px, 0px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico03_m', );
$ico04-name: 'ico04';
$ico04-x: 139px;
$ico04-y: 0px;
$ico04-offset-x: -139px;
$ico04-offset-y: 0px;
$ico04-width: 64px;
$ico04-height: 64px;
$ico04-total-width: 455px;
$ico04-total-height: 455px;
$ico04-image: 'sprite.png';
$ico04: (139px, 0px, -139px, 0px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico04', );
$ico04-m-name: 'ico04_m';
$ico04-m-x: 102px;
$ico04-m-y: 305px;
$ico04-m-offset-x: -102px;
$ico04-m-offset-y: -305px;
$ico04-m-width: 48px;
$ico04-m-height: 48px;
$ico04-m-total-width: 455px;
$ico04-m-total-height: 455px;
$ico04-m-image: 'sprite.png';
$ico04-m: (102px, 305px, -102px, -305px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico04_m', );
$ico05-name: 'ico05';
$ico05-x: 0px;
$ico05-y: 104px;
$ico05-offset-x: 0px;
$ico05-offset-y: -104px;
$ico05-width: 64px;
$ico05-height: 64px;
$ico05-total-width: 455px;
$ico05-total-height: 455px;
$ico05-image: 'sprite.png';
$ico05: (0px, 104px, 0px, -104px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico05', );
$ico05-m-name: 'ico05_m';
$ico05-m-x: 153px;
$ico05-m-y: 356px;
$ico05-m-offset-x: -153px;
$ico05-m-offset-y: -356px;
$ico05-m-width: 48px;
$ico05-m-height: 48px;
$ico05-m-total-width: 455px;
$ico05-m-total-height: 455px;
$ico05-m-image: 'sprite.png';
$ico05-m: (153px, 356px, -153px, -356px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico05_m', );
$ico06-name: 'ico06';
$ico06-x: 67px;
$ico06-y: 104px;
$ico06-offset-x: -67px;
$ico06-offset-y: -104px;
$ico06-width: 64px;
$ico06-height: 64px;
$ico06-total-width: 455px;
$ico06-total-height: 455px;
$ico06-image: 'sprite.png';
$ico06: (67px, 104px, -67px, -104px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico06', );
$ico06-m-name: 'ico06_m';
$ico06-m-x: 407px;
$ico06-m-y: 204px;
$ico06-m-offset-x: -407px;
$ico06-m-offset-y: -204px;
$ico06-m-width: 48px;
$ico06-m-height: 48px;
$ico06-m-total-width: 455px;
$ico06-m-total-height: 455px;
$ico06-m-image: 'sprite.png';
$ico06-m: (407px, 204px, -407px, -204px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico06_m', );
$ico07-name: 'ico07';
$ico07-x: 134px;
$ico07-y: 104px;
$ico07-offset-x: -134px;
$ico07-offset-y: -104px;
$ico07-width: 64px;
$ico07-height: 64px;
$ico07-total-width: 455px;
$ico07-total-height: 455px;
$ico07-image: 'sprite.png';
$ico07: (134px, 104px, -134px, -104px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico07', );
$ico07-m-name: 'ico07_m';
$ico07-m-x: 0px;
$ico07-m-y: 305px;
$ico07-m-offset-x: 0px;
$ico07-m-offset-y: -305px;
$ico07-m-width: 48px;
$ico07-m-height: 48px;
$ico07-m-total-width: 455px;
$ico07-m-total-height: 455px;
$ico07-m-image: 'sprite.png';
$ico07-m: (0px, 305px, 0px, -305px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico07_m', );
$ico08-name: 'ico08';
$ico08-x: 206px;
$ico08-y: 0px;
$ico08-offset-x: -206px;
$ico08-offset-y: 0px;
$ico08-width: 64px;
$ico08-height: 64px;
$ico08-total-width: 455px;
$ico08-total-height: 455px;
$ico08-image: 'sprite.png';
$ico08: (206px, 0px, -206px, 0px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico08', );
$ico08-m-name: 'ico08_m';
$ico08-m-x: 204px;
$ico08-m-y: 305px;
$ico08-m-offset-x: -204px;
$ico08-m-offset-y: -305px;
$ico08-m-width: 48px;
$ico08-m-height: 48px;
$ico08-m-total-width: 455px;
$ico08-m-total-height: 455px;
$ico08-m-image: 'sprite.png';
$ico08-m: (204px, 305px, -204px, -305px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico08_m', );
$ico09-name: 'ico09';
$ico09-x: 206px;
$ico09-y: 67px;
$ico09-offset-x: -206px;
$ico09-offset-y: -67px;
$ico09-width: 64px;
$ico09-height: 64px;
$ico09-total-width: 455px;
$ico09-total-height: 455px;
$ico09-image: 'sprite.png';
$ico09: (206px, 67px, -206px, -67px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico09', );
$ico09-m-name: 'ico09_m';
$ico09-m-x: 51px;
$ico09-m-y: 356px;
$ico09-m-offset-x: -51px;
$ico09-m-offset-y: -356px;
$ico09-m-width: 48px;
$ico09-m-height: 48px;
$ico09-m-total-width: 455px;
$ico09-m-total-height: 455px;
$ico09-m-image: 'sprite.png';
$ico09-m: (51px, 356px, -51px, -356px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico09_m', );
$ico10-name: 'ico10';
$ico10-x: 0px;
$ico10-y: 171px;
$ico10-offset-x: 0px;
$ico10-offset-y: -171px;
$ico10-width: 64px;
$ico10-height: 64px;
$ico10-total-width: 455px;
$ico10-total-height: 455px;
$ico10-image: 'sprite.png';
$ico10: (0px, 171px, 0px, -171px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico10', );
$ico10-m-name: 'ico10_m';
$ico10-m-x: 255px;
$ico10-m-y: 356px;
$ico10-m-offset-x: -255px;
$ico10-m-offset-y: -356px;
$ico10-m-width: 48px;
$ico10-m-height: 48px;
$ico10-m-total-width: 455px;
$ico10-m-total-height: 455px;
$ico10-m-image: 'sprite.png';
$ico10-m: (255px, 356px, -255px, -356px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico10_m', );
$ico11-name: 'ico11';
$ico11-x: 67px;
$ico11-y: 171px;
$ico11-offset-x: -67px;
$ico11-offset-y: -171px;
$ico11-width: 64px;
$ico11-height: 64px;
$ico11-total-width: 455px;
$ico11-total-height: 455px;
$ico11-image: 'sprite.png';
$ico11: (67px, 171px, -67px, -171px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico11', );
$ico11-m-name: 'ico11_m';
$ico11-m-x: 407px;
$ico11-m-y: 102px;
$ico11-m-offset-x: -407px;
$ico11-m-offset-y: -102px;
$ico11-m-width: 48px;
$ico11-m-height: 48px;
$ico11-m-total-width: 455px;
$ico11-m-total-height: 455px;
$ico11-m-image: 'sprite.png';
$ico11-m: (407px, 102px, -407px, -102px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico11_m', );
$ico12-name: 'ico12';
$ico12-x: 340px;
$ico12-y: 67px;
$ico12-offset-x: -340px;
$ico12-offset-y: -67px;
$ico12-width: 64px;
$ico12-height: 64px;
$ico12-total-width: 455px;
$ico12-total-height: 455px;
$ico12-image: 'sprite.png';
$ico12: (340px, 67px, -340px, -67px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico12', );
$ico12-m-name: 'ico12_m';
$ico12-m-x: 340px;
$ico12-m-y: 134px;
$ico12-m-offset-x: -340px;
$ico12-m-offset-y: -134px;
$ico12-m-width: 48px;
$ico12-m-height: 48px;
$ico12-m-total-width: 455px;
$ico12-m-total-height: 455px;
$ico12-m-image: 'sprite.png';
$ico12-m: (340px, 134px, -340px, -134px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico12_m', );
$ico13-name: 'ico13';
$ico13-x: 201px;
$ico13-y: 171px;
$ico13-offset-x: -201px;
$ico13-offset-y: -171px;
$ico13-width: 64px;
$ico13-height: 64px;
$ico13-total-width: 455px;
$ico13-total-height: 455px;
$ico13-image: 'sprite.png';
$ico13: (201px, 171px, -201px, -171px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico13', );
$ico13-m-name: 'ico13_m';
$ico13-m-x: 340px;
$ico13-m-y: 236px;
$ico13-m-offset-x: -340px;
$ico13-m-offset-y: -236px;
$ico13-m-width: 48px;
$ico13-m-height: 48px;
$ico13-m-total-width: 455px;
$ico13-m-total-height: 455px;
$ico13-m-image: 'sprite.png';
$ico13-m: (340px, 236px, -340px, -236px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico13_m', );
$ico14-name: 'ico14';
$ico14-x: 273px;
$ico14-y: 0px;
$ico14-offset-x: -273px;
$ico14-offset-y: 0px;
$ico14-width: 64px;
$ico14-height: 64px;
$ico14-total-width: 455px;
$ico14-total-height: 455px;
$ico14-image: 'sprite.png';
$ico14: (273px, 0px, -273px, 0px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico14', );
$ico14-m-name: 'ico14_m';
$ico14-m-x: 306px;
$ico14-m-y: 305px;
$ico14-m-offset-x: -306px;
$ico14-m-offset-y: -305px;
$ico14-m-width: 48px;
$ico14-m-height: 48px;
$ico14-m-total-width: 455px;
$ico14-m-total-height: 455px;
$ico14-m-image: 'sprite.png';
$ico14-m: (306px, 305px, -306px, -305px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico14_m', );
$ico15-name: 'ico15';
$ico15-x: 273px;
$ico15-y: 67px;
$ico15-offset-x: -273px;
$ico15-offset-y: -67px;
$ico15-width: 64px;
$ico15-height: 64px;
$ico15-total-width: 455px;
$ico15-total-height: 455px;
$ico15-image: 'sprite.png';
$ico15: (273px, 67px, -273px, -67px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico15', );
$ico15-m-name: 'ico15_m';
$ico15-m-x: 153px;
$ico15-m-y: 305px;
$ico15-m-offset-x: -153px;
$ico15-m-offset-y: -305px;
$ico15-m-width: 48px;
$ico15-m-height: 48px;
$ico15-m-total-width: 455px;
$ico15-m-total-height: 455px;
$ico15-m-image: 'sprite.png';
$ico15-m: (153px, 305px, -153px, -305px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico15_m', );
$ico16-name: 'ico16';
$ico16-x: 273px;
$ico16-y: 134px;
$ico16-offset-x: -273px;
$ico16-offset-y: -134px;
$ico16-width: 64px;
$ico16-height: 64px;
$ico16-total-width: 455px;
$ico16-total-height: 455px;
$ico16-image: 'sprite.png';
$ico16: (273px, 134px, -273px, -134px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico16', );
$ico16-m-name: 'ico16_m';
$ico16-m-x: 255px;
$ico16-m-y: 305px;
$ico16-m-offset-x: -255px;
$ico16-m-offset-y: -305px;
$ico16-m-width: 48px;
$ico16-m-height: 48px;
$ico16-m-total-width: 455px;
$ico16-m-total-height: 455px;
$ico16-m-image: 'sprite.png';
$ico16-m: (255px, 305px, -255px, -305px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico16_m', );
$ico17-name: 'ico17';
$ico17-x: 0px;
$ico17-y: 238px;
$ico17-offset-x: 0px;
$ico17-offset-y: -238px;
$ico17-width: 64px;
$ico17-height: 64px;
$ico17-total-width: 455px;
$ico17-total-height: 455px;
$ico17-image: 'sprite.png';
$ico17: (0px, 238px, 0px, -238px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico17', );
$ico17-m-name: 'ico17_m';
$ico17-m-x: 0px;
$ico17-m-y: 356px;
$ico17-m-offset-x: 0px;
$ico17-m-offset-y: -356px;
$ico17-m-width: 48px;
$ico17-m-height: 48px;
$ico17-m-total-width: 455px;
$ico17-m-total-height: 455px;
$ico17-m-image: 'sprite.png';
$ico17-m: (0px, 356px, 0px, -356px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico17_m', );
$ico18-name: 'ico18';
$ico18-x: 67px;
$ico18-y: 238px;
$ico18-offset-x: -67px;
$ico18-offset-y: -238px;
$ico18-width: 64px;
$ico18-height: 64px;
$ico18-total-width: 455px;
$ico18-total-height: 455px;
$ico18-image: 'sprite.png';
$ico18: (67px, 238px, -67px, -238px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico18', );
$ico18-m-name: 'ico18_m';
$ico18-m-x: 102px;
$ico18-m-y: 356px;
$ico18-m-offset-x: -102px;
$ico18-m-offset-y: -356px;
$ico18-m-width: 48px;
$ico18-m-height: 48px;
$ico18-m-total-width: 455px;
$ico18-m-total-height: 455px;
$ico18-m-image: 'sprite.png';
$ico18-m: (102px, 356px, -102px, -356px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico18_m', );
$ico19-name: 'ico19';
$ico19-x: 134px;
$ico19-y: 238px;
$ico19-offset-x: -134px;
$ico19-offset-y: -238px;
$ico19-width: 64px;
$ico19-height: 64px;
$ico19-total-width: 455px;
$ico19-total-height: 455px;
$ico19-image: 'sprite.png';
$ico19: (134px, 238px, -134px, -238px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico19', );
$ico19-m-name: 'ico19_m';
$ico19-m-x: 204px;
$ico19-m-y: 356px;
$ico19-m-offset-x: -204px;
$ico19-m-offset-y: -356px;
$ico19-m-width: 48px;
$ico19-m-height: 48px;
$ico19-m-total-width: 455px;
$ico19-m-total-height: 455px;
$ico19-m-image: 'sprite.png';
$ico19-m: (204px, 356px, -204px, -356px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico19_m', );
$ico20-name: 'ico20';
$ico20-x: 201px;
$ico20-y: 238px;
$ico20-offset-x: -201px;
$ico20-offset-y: -238px;
$ico20-width: 64px;
$ico20-height: 64px;
$ico20-total-width: 455px;
$ico20-total-height: 455px;
$ico20-image: 'sprite.png';
$ico20: (201px, 238px, -201px, -238px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico20', );
$ico20-m-name: 'ico20_m';
$ico20-m-x: 306px;
$ico20-m-y: 356px;
$ico20-m-offset-x: -306px;
$ico20-m-offset-y: -356px;
$ico20-m-width: 48px;
$ico20-m-height: 48px;
$ico20-m-total-width: 455px;
$ico20-m-total-height: 455px;
$ico20-m-image: 'sprite.png';
$ico20-m: (306px, 356px, -306px, -356px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico20_m', );
$ico21-name: 'ico21';
$ico21-x: 268px;
$ico21-y: 238px;
$ico21-offset-x: -268px;
$ico21-offset-y: -238px;
$ico21-width: 64px;
$ico21-height: 64px;
$ico21-total-width: 455px;
$ico21-total-height: 455px;
$ico21-image: 'sprite.png';
$ico21: (268px, 238px, -268px, -238px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico21', );
$ico21-m-name: 'ico21_m';
$ico21-m-x: 407px;
$ico21-m-y: 51px;
$ico21-m-offset-x: -407px;
$ico21-m-offset-y: -51px;
$ico21-m-width: 48px;
$ico21-m-height: 48px;
$ico21-m-total-width: 455px;
$ico21-m-total-height: 455px;
$ico21-m-image: 'sprite.png';
$ico21-m: (407px, 51px, -407px, -51px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico21_m', );
$ico22-name: 'ico22';
$ico22-x: 340px;
$ico22-y: 0px;
$ico22-offset-x: -340px;
$ico22-offset-y: 0px;
$ico22-width: 64px;
$ico22-height: 64px;
$ico22-total-width: 455px;
$ico22-total-height: 455px;
$ico22-image: 'sprite.png';
$ico22: (340px, 0px, -340px, 0px, 64px, 64px, 455px, 455px, 'sprite.png', 'ico22', );
$ico22-m-name: 'ico22_m';
$ico22-m-x: 407px;
$ico22-m-y: 153px;
$ico22-m-offset-x: -407px;
$ico22-m-offset-y: -153px;
$ico22-m-width: 48px;
$ico22-m-height: 48px;
$ico22-m-total-width: 455px;
$ico22-m-total-height: 455px;
$ico22-m-image: 'sprite.png';
$ico22-m: (407px, 153px, -407px, -153px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico22_m', );
$ico-clock-name: 'ico_clock';
$ico-clock-x: 273px;
$ico-clock-y: 201px;
$ico-clock-offset-x: -273px;
$ico-clock-offset-y: -201px;
$ico-clock-width: 23px;
$ico-clock-height: 25px;
$ico-clock-total-width: 455px;
$ico-clock-total-height: 455px;
$ico-clock-image: 'sprite.png';
$ico-clock: (273px, 201px, -273px, -201px, 23px, 25px, 455px, 455px, 'sprite.png', 'ico_clock', );
$ico-clock-s-name: 'ico_clock_s';
$ico-clock-s-x: 442px;
$ico-clock-s-y: 357px;
$ico-clock-s-offset-x: -442px;
$ico-clock-s-offset-y: -357px;
$ico-clock-s-width: 12px;
$ico-clock-s-height: 12px;
$ico-clock-s-total-width: 455px;
$ico-clock-s-total-height: 455px;
$ico-clock-s-image: 'sprite.png';
$ico-clock-s: (442px, 357px, -442px, -357px, 12px, 12px, 455px, 455px, 'sprite.png', 'ico_clock_s', );
$ico-delivery-m-name: 'ico_delivery_m';
$ico-delivery-m-x: 407px;
$ico-delivery-m-y: 306px;
$ico-delivery-m-offset-x: -407px;
$ico-delivery-m-offset-y: -306px;
$ico-delivery-m-width: 48px;
$ico-delivery-m-height: 48px;
$ico-delivery-m-total-width: 455px;
$ico-delivery-m-total-height: 455px;
$ico-delivery-m-image: 'sprite.png';
$ico-delivery-m: (407px, 306px, -407px, -306px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico_delivery_m', );
$ico-gift-m-name: 'ico_gift_m';
$ico-gift-m-x: 0px;
$ico-gift-m-y: 407px;
$ico-gift-m-offset-x: 0px;
$ico-gift-m-offset-y: -407px;
$ico-gift-m-width: 48px;
$ico-gift-m-height: 48px;
$ico-gift-m-total-width: 455px;
$ico-gift-m-total-height: 455px;
$ico-gift-m-image: 'sprite.png';
$ico-gift-m: (0px, 407px, 0px, -407px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico_gift_m', );
$ico-money-m-name: 'ico_money_m';
$ico-money-m-x: 51px;
$ico-money-m-y: 407px;
$ico-money-m-offset-x: -51px;
$ico-money-m-offset-y: -407px;
$ico-money-m-width: 48px;
$ico-money-m-height: 48px;
$ico-money-m-total-width: 455px;
$ico-money-m-total-height: 455px;
$ico-money-m-image: 'sprite.png';
$ico-money-m: (51px, 407px, -51px, -407px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico_money_m', );
$ico-percent-m-name: 'ico_percent_m';
$ico-percent-m-x: 407px;
$ico-percent-m-y: 255px;
$ico-percent-m-offset-x: -407px;
$ico-percent-m-offset-y: -255px;
$ico-percent-m-width: 48px;
$ico-percent-m-height: 48px;
$ico-percent-m-total-width: 455px;
$ico-percent-m-total-height: 455px;
$ico-percent-m-image: 'sprite.png';
$ico-percent-m: (407px, 255px, -407px, -255px, 48px, 48px, 455px, 455px, 'sprite.png', 'ico_percent_m', );
$ico-question-name: 'ico_question';
$ico-question-x: 407px;
$ico-question-y: 357px;
$ico-question-offset-x: -407px;
$ico-question-offset-y: -357px;
$ico-question-width: 32px;
$ico-question-height: 32px;
$ico-question-total-width: 455px;
$ico-question-total-height: 455px;
$ico-question-image: 'sprite.png';
$ico-question: (407px, 357px, -407px, -357px, 32px, 32px, 455px, 455px, 'sprite.png', 'ico_question', );
$label-name: 'label';
$label-x: 0px;
$label-y: 0px;
$label-offset-x: 0px;
$label-offset-y: 0px;
$label-width: 136px;
$label-height: 34px;
$label-total-width: 455px;
$label-total-height: 455px;
$label-image: 'sprite.png';
$label: (0px, 0px, 0px, 0px, 136px, 34px, 455px, 455px, 'sprite.png', 'label', );
$star-empty-name: 'star_empty';
$star-empty-x: 340px;
$star-empty-y: 287px;
$star-empty-offset-x: -340px;
$star-empty-offset-y: -287px;
$star-empty-width: 15px;
$star-empty-height: 14px;
$star-empty-total-width: 455px;
$star-empty-total-height: 455px;
$star-empty-image: 'sprite.png';
$star-empty: (340px, 287px, -340px, -287px, 15px, 14px, 455px, 455px, 'sprite.png', 'star_empty', );
$star-full-name: 'star_full';
$star-full-x: 358px;
$star-full-y: 287px;
$star-full-offset-x: -358px;
$star-full-offset-y: -287px;
$star-full-width: 15px;
$star-full-height: 14px;
$star-full-total-width: 455px;
$star-full-total-height: 455px;
$star-full-image: 'sprite.png';
$star-full: (358px, 287px, -358px, -287px, 15px, 14px, 455px, 455px, 'sprite.png', 'star_full', );
$ico01-2x-name: 'ico01@2x';
$ico01-2x-x: 0px;
$ico01-2x-y: 74px;
$ico01-2x-offset-x: 0px;
$ico01-2x-offset-y: -74px;
$ico01-2x-width: 128px;
$ico01-2x-height: 128px;
$ico01-2x-total-width: 910px;
$ico01-2x-total-height: 910px;
$ico01-2x-image: 'sprite@2x.png';
$ico01-2x: (0px, 74px, 0px, -74px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico01@2x', );
$ico01-m-2x-name: 'ico01_m@2x';
$ico01-m-2x-x: 102px;
$ico01-m-2x-y: 610px;
$ico01-m-2x-offset-x: -102px;
$ico01-m-2x-offset-y: -610px;
$ico01-m-2x-width: 96px;
$ico01-m-2x-height: 96px;
$ico01-m-2x-total-width: 910px;
$ico01-m-2x-total-height: 910px;
$ico01-m-2x-image: 'sprite@2x.png';
$ico01-m-2x: (102px, 610px, -102px, -610px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico01_m@2x', );
$ico02-2x-name: 'ico02@2x';
$ico02-2x-x: 268px;
$ico02-2x-y: 342px;
$ico02-2x-offset-x: -268px;
$ico02-2x-offset-y: -342px;
$ico02-2x-width: 128px;
$ico02-2x-height: 128px;
$ico02-2x-total-width: 910px;
$ico02-2x-total-height: 910px;
$ico02-2x-image: 'sprite@2x.png';
$ico02-2x: (268px, 342px, -268px, -342px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico02@2x', );
$ico02-m-2x-name: 'ico02_m@2x';
$ico02-m-2x-x: 680px;
$ico02-m-2x-y: 370px;
$ico02-m-2x-offset-x: -680px;
$ico02-m-2x-offset-y: -370px;
$ico02-m-2x-width: 96px;
$ico02-m-2x-height: 96px;
$ico02-m-2x-total-width: 910px;
$ico02-m-2x-total-height: 910px;
$ico02-m-2x-image: 'sprite@2x.png';
$ico02-m-2x: (680px, 370px, -680px, -370px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico02_m@2x', );
$ico03-2x-name: 'ico03@2x';
$ico03-2x-x: 134px;
$ico03-2x-y: 74px;
$ico03-2x-offset-x: -134px;
$ico03-2x-offset-y: -74px;
$ico03-2x-width: 128px;
$ico03-2x-height: 128px;
$ico03-2x-total-width: 910px;
$ico03-2x-total-height: 910px;
$ico03-2x-image: 'sprite@2x.png';
$ico03-2x: (134px, 74px, -134px, -74px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico03@2x', );
$ico03-m-2x-name: 'ico03_m@2x';
$ico03-m-2x-x: 814px;
$ico03-m-2x-y: 0px;
$ico03-m-2x-offset-x: -814px;
$ico03-m-2x-offset-y: 0px;
$ico03-m-2x-width: 96px;
$ico03-m-2x-height: 96px;
$ico03-m-2x-total-width: 910px;
$ico03-m-2x-total-height: 910px;
$ico03-m-2x-image: 'sprite@2x.png';
$ico03-m-2x: (814px, 0px, -814px, 0px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico03_m@2x', );
$ico04-2x-name: 'ico04@2x';
$ico04-2x-x: 278px;
$ico04-2x-y: 0px;
$ico04-2x-offset-x: -278px;
$ico04-2x-offset-y: 0px;
$ico04-2x-width: 128px;
$ico04-2x-height: 128px;
$ico04-2x-total-width: 910px;
$ico04-2x-total-height: 910px;
$ico04-2x-image: 'sprite@2x.png';
$ico04-2x: (278px, 0px, -278px, 0px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico04@2x', );
$ico04-m-2x-name: 'ico04_m@2x';
$ico04-m-2x-x: 204px;
$ico04-m-2x-y: 610px;
$ico04-m-2x-offset-x: -204px;
$ico04-m-2x-offset-y: -610px;
$ico04-m-2x-width: 96px;
$ico04-m-2x-height: 96px;
$ico04-m-2x-total-width: 910px;
$ico04-m-2x-total-height: 910px;
$ico04-m-2x-image: 'sprite@2x.png';
$ico04-m-2x: (204px, 610px, -204px, -610px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico04_m@2x', );
$ico05-2x-name: 'ico05@2x';
$ico05-2x-x: 0px;
$ico05-2x-y: 208px;
$ico05-2x-offset-x: 0px;
$ico05-2x-offset-y: -208px;
$ico05-2x-width: 128px;
$ico05-2x-height: 128px;
$ico05-2x-total-width: 910px;
$ico05-2x-total-height: 910px;
$ico05-2x-image: 'sprite@2x.png';
$ico05-2x: (0px, 208px, 0px, -208px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico05@2x', );
$ico05-m-2x-name: 'ico05_m@2x';
$ico05-m-2x-x: 306px;
$ico05-m-2x-y: 712px;
$ico05-m-2x-offset-x: -306px;
$ico05-m-2x-offset-y: -712px;
$ico05-m-2x-width: 96px;
$ico05-m-2x-height: 96px;
$ico05-m-2x-total-width: 910px;
$ico05-m-2x-total-height: 910px;
$ico05-m-2x-image: 'sprite@2x.png';
$ico05-m-2x: (306px, 712px, -306px, -712px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico05_m@2x', );
$ico06-2x-name: 'ico06@2x';
$ico06-2x-x: 134px;
$ico06-2x-y: 208px;
$ico06-2x-offset-x: -134px;
$ico06-2x-offset-y: -208px;
$ico06-2x-width: 128px;
$ico06-2x-height: 128px;
$ico06-2x-total-width: 910px;
$ico06-2x-total-height: 910px;
$ico06-2x-image: 'sprite@2x.png';
$ico06-2x: (134px, 208px, -134px, -208px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico06@2x', );
$ico06-m-2x-name: 'ico06_m@2x';
$ico06-m-2x-x: 814px;
$ico06-m-2x-y: 408px;
$ico06-m-2x-offset-x: -814px;
$ico06-m-2x-offset-y: -408px;
$ico06-m-2x-width: 96px;
$ico06-m-2x-height: 96px;
$ico06-m-2x-total-width: 910px;
$ico06-m-2x-total-height: 910px;
$ico06-m-2x-image: 'sprite@2x.png';
$ico06-m-2x: (814px, 408px, -814px, -408px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico06_m@2x', );
$ico07-2x-name: 'ico07@2x';
$ico07-2x-x: 268px;
$ico07-2x-y: 208px;
$ico07-2x-offset-x: -268px;
$ico07-2x-offset-y: -208px;
$ico07-2x-width: 128px;
$ico07-2x-height: 128px;
$ico07-2x-total-width: 910px;
$ico07-2x-total-height: 910px;
$ico07-2x-image: 'sprite@2x.png';
$ico07-2x: (268px, 208px, -268px, -208px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico07@2x', );
$ico07-m-2x-name: 'ico07_m@2x';
$ico07-m-2x-x: 0px;
$ico07-m-2x-y: 610px;
$ico07-m-2x-offset-x: 0px;
$ico07-m-2x-offset-y: -610px;
$ico07-m-2x-width: 96px;
$ico07-m-2x-height: 96px;
$ico07-m-2x-total-width: 910px;
$ico07-m-2x-total-height: 910px;
$ico07-m-2x-image: 'sprite@2x.png';
$ico07-m-2x: (0px, 610px, 0px, -610px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico07_m@2x', );
$ico08-2x-name: 'ico08@2x';
$ico08-2x-x: 412px;
$ico08-2x-y: 0px;
$ico08-2x-offset-x: -412px;
$ico08-2x-offset-y: 0px;
$ico08-2x-width: 128px;
$ico08-2x-height: 128px;
$ico08-2x-total-width: 910px;
$ico08-2x-total-height: 910px;
$ico08-2x-image: 'sprite@2x.png';
$ico08-2x: (412px, 0px, -412px, 0px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico08@2x', );
$ico08-m-2x-name: 'ico08_m@2x';
$ico08-m-2x-x: 408px;
$ico08-m-2x-y: 610px;
$ico08-m-2x-offset-x: -408px;
$ico08-m-2x-offset-y: -610px;
$ico08-m-2x-width: 96px;
$ico08-m-2x-height: 96px;
$ico08-m-2x-total-width: 910px;
$ico08-m-2x-total-height: 910px;
$ico08-m-2x-image: 'sprite@2x.png';
$ico08-m-2x: (408px, 610px, -408px, -610px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico08_m@2x', );
$ico09-2x-name: 'ico09@2x';
$ico09-2x-x: 412px;
$ico09-2x-y: 134px;
$ico09-2x-offset-x: -412px;
$ico09-2x-offset-y: -134px;
$ico09-2x-width: 128px;
$ico09-2x-height: 128px;
$ico09-2x-total-width: 910px;
$ico09-2x-total-height: 910px;
$ico09-2x-image: 'sprite@2x.png';
$ico09-2x: (412px, 134px, -412px, -134px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico09@2x', );
$ico09-m-2x-name: 'ico09_m@2x';
$ico09-m-2x-x: 102px;
$ico09-m-2x-y: 712px;
$ico09-m-2x-offset-x: -102px;
$ico09-m-2x-offset-y: -712px;
$ico09-m-2x-width: 96px;
$ico09-m-2x-height: 96px;
$ico09-m-2x-total-width: 910px;
$ico09-m-2x-total-height: 910px;
$ico09-m-2x-image: 'sprite@2x.png';
$ico09-m-2x: (102px, 712px, -102px, -712px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico09_m@2x', );
$ico10-2x-name: 'ico10@2x';
$ico10-2x-x: 0px;
$ico10-2x-y: 342px;
$ico10-2x-offset-x: 0px;
$ico10-2x-offset-y: -342px;
$ico10-2x-width: 128px;
$ico10-2x-height: 128px;
$ico10-2x-total-width: 910px;
$ico10-2x-total-height: 910px;
$ico10-2x-image: 'sprite@2x.png';
$ico10-2x: (0px, 342px, 0px, -342px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico10@2x', );
$ico10-m-2x-name: 'ico10_m@2x';
$ico10-m-2x-x: 510px;
$ico10-m-2x-y: 712px;
$ico10-m-2x-offset-x: -510px;
$ico10-m-2x-offset-y: -712px;
$ico10-m-2x-width: 96px;
$ico10-m-2x-height: 96px;
$ico10-m-2x-total-width: 910px;
$ico10-m-2x-total-height: 910px;
$ico10-m-2x-image: 'sprite@2x.png';
$ico10-m-2x: (510px, 712px, -510px, -712px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico10_m@2x', );
$ico11-2x-name: 'ico11@2x';
$ico11-2x-x: 134px;
$ico11-2x-y: 342px;
$ico11-2x-offset-x: -134px;
$ico11-2x-offset-y: -342px;
$ico11-2x-width: 128px;
$ico11-2x-height: 128px;
$ico11-2x-total-width: 910px;
$ico11-2x-total-height: 910px;
$ico11-2x-image: 'sprite@2x.png';
$ico11-2x: (134px, 342px, -134px, -342px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico11@2x', );
$ico11-m-2x-name: 'ico11_m@2x';
$ico11-m-2x-x: 814px;
$ico11-m-2x-y: 204px;
$ico11-m-2x-offset-x: -814px;
$ico11-m-2x-offset-y: -204px;
$ico11-m-2x-width: 96px;
$ico11-m-2x-height: 96px;
$ico11-m-2x-total-width: 910px;
$ico11-m-2x-total-height: 910px;
$ico11-m-2x-image: 'sprite@2x.png';
$ico11-m-2x: (814px, 204px, -814px, -204px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico11_m@2x', );
$ico12-2x-name: 'ico12@2x';
$ico12-2x-x: 680px;
$ico12-2x-y: 134px;
$ico12-2x-offset-x: -680px;
$ico12-2x-offset-y: -134px;
$ico12-2x-width: 128px;
$ico12-2x-height: 128px;
$ico12-2x-total-width: 910px;
$ico12-2x-total-height: 910px;
$ico12-2x-image: 'sprite@2x.png';
$ico12-2x: (680px, 134px, -680px, -134px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico12@2x', );
$ico12-m-2x-name: 'ico12_m@2x';
$ico12-m-2x-x: 680px;
$ico12-m-2x-y: 268px;
$ico12-m-2x-offset-x: -680px;
$ico12-m-2x-offset-y: -268px;
$ico12-m-2x-width: 96px;
$ico12-m-2x-height: 96px;
$ico12-m-2x-total-width: 910px;
$ico12-m-2x-total-height: 910px;
$ico12-m-2x-image: 'sprite@2x.png';
$ico12-m-2x: (680px, 268px, -680px, -268px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico12_m@2x', );
$ico13-2x-name: 'ico13@2x';
$ico13-2x-x: 402px;
$ico13-2x-y: 342px;
$ico13-2x-offset-x: -402px;
$ico13-2x-offset-y: -342px;
$ico13-2x-width: 128px;
$ico13-2x-height: 128px;
$ico13-2x-total-width: 910px;
$ico13-2x-total-height: 910px;
$ico13-2x-image: 'sprite@2x.png';
$ico13-2x: (402px, 342px, -402px, -342px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico13@2x', );
$ico13-m-2x-name: 'ico13_m@2x';
$ico13-m-2x-x: 680px;
$ico13-m-2x-y: 472px;
$ico13-m-2x-offset-x: -680px;
$ico13-m-2x-offset-y: -472px;
$ico13-m-2x-width: 96px;
$ico13-m-2x-height: 96px;
$ico13-m-2x-total-width: 910px;
$ico13-m-2x-total-height: 910px;
$ico13-m-2x-image: 'sprite@2x.png';
$ico13-m-2x: (680px, 472px, -680px, -472px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico13_m@2x', );
$ico14-2x-name: 'ico14@2x';
$ico14-2x-x: 546px;
$ico14-2x-y: 0px;
$ico14-2x-offset-x: -546px;
$ico14-2x-offset-y: 0px;
$ico14-2x-width: 128px;
$ico14-2x-height: 128px;
$ico14-2x-total-width: 910px;
$ico14-2x-total-height: 910px;
$ico14-2x-image: 'sprite@2x.png';
$ico14-2x: (546px, 0px, -546px, 0px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico14@2x', );
$ico14-m-2x-name: 'ico14_m@2x';
$ico14-m-2x-x: 612px;
$ico14-m-2x-y: 610px;
$ico14-m-2x-offset-x: -612px;
$ico14-m-2x-offset-y: -610px;
$ico14-m-2x-width: 96px;
$ico14-m-2x-height: 96px;
$ico14-m-2x-total-width: 910px;
$ico14-m-2x-total-height: 910px;
$ico14-m-2x-image: 'sprite@2x.png';
$ico14-m-2x: (612px, 610px, -612px, -610px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico14_m@2x', );
$ico15-2x-name: 'ico15@2x';
$ico15-2x-x: 546px;
$ico15-2x-y: 134px;
$ico15-2x-offset-x: -546px;
$ico15-2x-offset-y: -134px;
$ico15-2x-width: 128px;
$ico15-2x-height: 128px;
$ico15-2x-total-width: 910px;
$ico15-2x-total-height: 910px;
$ico15-2x-image: 'sprite@2x.png';
$ico15-2x: (546px, 134px, -546px, -134px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico15@2x', );
$ico15-m-2x-name: 'ico15_m@2x';
$ico15-m-2x-x: 306px;
$ico15-m-2x-y: 610px;
$ico15-m-2x-offset-x: -306px;
$ico15-m-2x-offset-y: -610px;
$ico15-m-2x-width: 96px;
$ico15-m-2x-height: 96px;
$ico15-m-2x-total-width: 910px;
$ico15-m-2x-total-height: 910px;
$ico15-m-2x-image: 'sprite@2x.png';
$ico15-m-2x: (306px, 610px, -306px, -610px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico15_m@2x', );
$ico16-2x-name: 'ico16@2x';
$ico16-2x-x: 546px;
$ico16-2x-y: 268px;
$ico16-2x-offset-x: -546px;
$ico16-2x-offset-y: -268px;
$ico16-2x-width: 128px;
$ico16-2x-height: 128px;
$ico16-2x-total-width: 910px;
$ico16-2x-total-height: 910px;
$ico16-2x-image: 'sprite@2x.png';
$ico16-2x: (546px, 268px, -546px, -268px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico16@2x', );
$ico16-m-2x-name: 'ico16_m@2x';
$ico16-m-2x-x: 510px;
$ico16-m-2x-y: 610px;
$ico16-m-2x-offset-x: -510px;
$ico16-m-2x-offset-y: -610px;
$ico16-m-2x-width: 96px;
$ico16-m-2x-height: 96px;
$ico16-m-2x-total-width: 910px;
$ico16-m-2x-total-height: 910px;
$ico16-m-2x-image: 'sprite@2x.png';
$ico16-m-2x: (510px, 610px, -510px, -610px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico16_m@2x', );
$ico17-2x-name: 'ico17@2x';
$ico17-2x-x: 0px;
$ico17-2x-y: 476px;
$ico17-2x-offset-x: 0px;
$ico17-2x-offset-y: -476px;
$ico17-2x-width: 128px;
$ico17-2x-height: 128px;
$ico17-2x-total-width: 910px;
$ico17-2x-total-height: 910px;
$ico17-2x-image: 'sprite@2x.png';
$ico17-2x: (0px, 476px, 0px, -476px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico17@2x', );
$ico17-m-2x-name: 'ico17_m@2x';
$ico17-m-2x-x: 0px;
$ico17-m-2x-y: 712px;
$ico17-m-2x-offset-x: 0px;
$ico17-m-2x-offset-y: -712px;
$ico17-m-2x-width: 96px;
$ico17-m-2x-height: 96px;
$ico17-m-2x-total-width: 910px;
$ico17-m-2x-total-height: 910px;
$ico17-m-2x-image: 'sprite@2x.png';
$ico17-m-2x: (0px, 712px, 0px, -712px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico17_m@2x', );
$ico18-2x-name: 'ico18@2x';
$ico18-2x-x: 134px;
$ico18-2x-y: 476px;
$ico18-2x-offset-x: -134px;
$ico18-2x-offset-y: -476px;
$ico18-2x-width: 128px;
$ico18-2x-height: 128px;
$ico18-2x-total-width: 910px;
$ico18-2x-total-height: 910px;
$ico18-2x-image: 'sprite@2x.png';
$ico18-2x: (134px, 476px, -134px, -476px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico18@2x', );
$ico18-m-2x-name: 'ico18_m@2x';
$ico18-m-2x-x: 204px;
$ico18-m-2x-y: 712px;
$ico18-m-2x-offset-x: -204px;
$ico18-m-2x-offset-y: -712px;
$ico18-m-2x-width: 96px;
$ico18-m-2x-height: 96px;
$ico18-m-2x-total-width: 910px;
$ico18-m-2x-total-height: 910px;
$ico18-m-2x-image: 'sprite@2x.png';
$ico18-m-2x: (204px, 712px, -204px, -712px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico18_m@2x', );
$ico19-2x-name: 'ico19@2x';
$ico19-2x-x: 268px;
$ico19-2x-y: 476px;
$ico19-2x-offset-x: -268px;
$ico19-2x-offset-y: -476px;
$ico19-2x-width: 128px;
$ico19-2x-height: 128px;
$ico19-2x-total-width: 910px;
$ico19-2x-total-height: 910px;
$ico19-2x-image: 'sprite@2x.png';
$ico19-2x: (268px, 476px, -268px, -476px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico19@2x', );
$ico19-m-2x-name: 'ico19_m@2x';
$ico19-m-2x-x: 408px;
$ico19-m-2x-y: 712px;
$ico19-m-2x-offset-x: -408px;
$ico19-m-2x-offset-y: -712px;
$ico19-m-2x-width: 96px;
$ico19-m-2x-height: 96px;
$ico19-m-2x-total-width: 910px;
$ico19-m-2x-total-height: 910px;
$ico19-m-2x-image: 'sprite@2x.png';
$ico19-m-2x: (408px, 712px, -408px, -712px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico19_m@2x', );
$ico20-2x-name: 'ico20@2x';
$ico20-2x-x: 402px;
$ico20-2x-y: 476px;
$ico20-2x-offset-x: -402px;
$ico20-2x-offset-y: -476px;
$ico20-2x-width: 128px;
$ico20-2x-height: 128px;
$ico20-2x-total-width: 910px;
$ico20-2x-total-height: 910px;
$ico20-2x-image: 'sprite@2x.png';
$ico20-2x: (402px, 476px, -402px, -476px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico20@2x', );
$ico20-m-2x-name: 'ico20_m@2x';
$ico20-m-2x-x: 612px;
$ico20-m-2x-y: 712px;
$ico20-m-2x-offset-x: -612px;
$ico20-m-2x-offset-y: -712px;
$ico20-m-2x-width: 96px;
$ico20-m-2x-height: 96px;
$ico20-m-2x-total-width: 910px;
$ico20-m-2x-total-height: 910px;
$ico20-m-2x-image: 'sprite@2x.png';
$ico20-m-2x: (612px, 712px, -612px, -712px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico20_m@2x', );
$ico21-2x-name: 'ico21@2x';
$ico21-2x-x: 536px;
$ico21-2x-y: 476px;
$ico21-2x-offset-x: -536px;
$ico21-2x-offset-y: -476px;
$ico21-2x-width: 128px;
$ico21-2x-height: 128px;
$ico21-2x-total-width: 910px;
$ico21-2x-total-height: 910px;
$ico21-2x-image: 'sprite@2x.png';
$ico21-2x: (536px, 476px, -536px, -476px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico21@2x', );
$ico21-m-2x-name: 'ico21_m@2x';
$ico21-m-2x-x: 814px;
$ico21-m-2x-y: 102px;
$ico21-m-2x-offset-x: -814px;
$ico21-m-2x-offset-y: -102px;
$ico21-m-2x-width: 96px;
$ico21-m-2x-height: 96px;
$ico21-m-2x-total-width: 910px;
$ico21-m-2x-total-height: 910px;
$ico21-m-2x-image: 'sprite@2x.png';
$ico21-m-2x: (814px, 102px, -814px, -102px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico21_m@2x', );
$ico22-2x-name: 'ico22@2x';
$ico22-2x-x: 680px;
$ico22-2x-y: 0px;
$ico22-2x-offset-x: -680px;
$ico22-2x-offset-y: 0px;
$ico22-2x-width: 128px;
$ico22-2x-height: 128px;
$ico22-2x-total-width: 910px;
$ico22-2x-total-height: 910px;
$ico22-2x-image: 'sprite@2x.png';
$ico22-2x: (680px, 0px, -680px, 0px, 128px, 128px, 910px, 910px, 'sprite@2x.png', 'ico22@2x', );
$ico22-m-2x-name: 'ico22_m@2x';
$ico22-m-2x-x: 814px;
$ico22-m-2x-y: 306px;
$ico22-m-2x-offset-x: -814px;
$ico22-m-2x-offset-y: -306px;
$ico22-m-2x-width: 96px;
$ico22-m-2x-height: 96px;
$ico22-m-2x-total-width: 910px;
$ico22-m-2x-total-height: 910px;
$ico22-m-2x-image: 'sprite@2x.png';
$ico22-m-2x: (814px, 306px, -814px, -306px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico22_m@2x', );
$ico-clock-2x-name: 'ico_clock@2x';
$ico-clock-2x-x: 546px;
$ico-clock-2x-y: 402px;
$ico-clock-2x-offset-x: -546px;
$ico-clock-2x-offset-y: -402px;
$ico-clock-2x-width: 46px;
$ico-clock-2x-height: 50px;
$ico-clock-2x-total-width: 910px;
$ico-clock-2x-total-height: 910px;
$ico-clock-2x-image: 'sprite@2x.png';
$ico-clock-2x: (546px, 402px, -546px, -402px, 46px, 50px, 910px, 910px, 'sprite@2x.png', 'ico_clock@2x', );
$ico-clock-s-2x-name: 'ico_clock_s@2x';
$ico-clock-s-2x-x: 884px;
$ico-clock-s-2x-y: 714px;
$ico-clock-s-2x-offset-x: -884px;
$ico-clock-s-2x-offset-y: -714px;
$ico-clock-s-2x-width: 24px;
$ico-clock-s-2x-height: 24px;
$ico-clock-s-2x-total-width: 910px;
$ico-clock-s-2x-total-height: 910px;
$ico-clock-s-2x-image: 'sprite@2x.png';
$ico-clock-s-2x: (884px, 714px, -884px, -714px, 24px, 24px, 910px, 910px, 'sprite@2x.png', 'ico_clock_s@2x', );
$ico-delivery-m-2x-name: 'ico_delivery_m@2x';
$ico-delivery-m-2x-x: 814px;
$ico-delivery-m-2x-y: 612px;
$ico-delivery-m-2x-offset-x: -814px;
$ico-delivery-m-2x-offset-y: -612px;
$ico-delivery-m-2x-width: 96px;
$ico-delivery-m-2x-height: 96px;
$ico-delivery-m-2x-total-width: 910px;
$ico-delivery-m-2x-total-height: 910px;
$ico-delivery-m-2x-image: 'sprite@2x.png';
$ico-delivery-m-2x: (814px, 612px, -814px, -612px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico_delivery_m@2x', );
$ico-gift-m-2x-name: 'ico_gift_m@2x';
$ico-gift-m-2x-x: 0px;
$ico-gift-m-2x-y: 814px;
$ico-gift-m-2x-offset-x: 0px;
$ico-gift-m-2x-offset-y: -814px;
$ico-gift-m-2x-width: 96px;
$ico-gift-m-2x-height: 96px;
$ico-gift-m-2x-total-width: 910px;
$ico-gift-m-2x-total-height: 910px;
$ico-gift-m-2x-image: 'sprite@2x.png';
$ico-gift-m-2x: (0px, 814px, 0px, -814px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico_gift_m@2x', );
$ico-money-m-2x-name: 'ico_money_m@2x';
$ico-money-m-2x-x: 102px;
$ico-money-m-2x-y: 814px;
$ico-money-m-2x-offset-x: -102px;
$ico-money-m-2x-offset-y: -814px;
$ico-money-m-2x-width: 96px;
$ico-money-m-2x-height: 96px;
$ico-money-m-2x-total-width: 910px;
$ico-money-m-2x-total-height: 910px;
$ico-money-m-2x-image: 'sprite@2x.png';
$ico-money-m-2x: (102px, 814px, -102px, -814px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico_money_m@2x', );
$ico-percent-m-2x-name: 'ico_percent_m@2x';
$ico-percent-m-2x-x: 814px;
$ico-percent-m-2x-y: 510px;
$ico-percent-m-2x-offset-x: -814px;
$ico-percent-m-2x-offset-y: -510px;
$ico-percent-m-2x-width: 96px;
$ico-percent-m-2x-height: 96px;
$ico-percent-m-2x-total-width: 910px;
$ico-percent-m-2x-total-height: 910px;
$ico-percent-m-2x-image: 'sprite@2x.png';
$ico-percent-m-2x: (814px, 510px, -814px, -510px, 96px, 96px, 910px, 910px, 'sprite@2x.png', 'ico_percent_m@2x', );
$ico-question-2x-name: 'ico_question@2x';
$ico-question-2x-x: 814px;
$ico-question-2x-y: 714px;
$ico-question-2x-offset-x: -814px;
$ico-question-2x-offset-y: -714px;
$ico-question-2x-width: 64px;
$ico-question-2x-height: 64px;
$ico-question-2x-total-width: 910px;
$ico-question-2x-total-height: 910px;
$ico-question-2x-image: 'sprite@2x.png';
$ico-question-2x: (814px, 714px, -814px, -714px, 64px, 64px, 910px, 910px, 'sprite@2x.png', 'ico_question@2x', );
$label-2x-name: 'label@2x';
$label-2x-x: 0px;
$label-2x-y: 0px;
$label-2x-offset-x: 0px;
$label-2x-offset-y: 0px;
$label-2x-width: 272px;
$label-2x-height: 68px;
$label-2x-total-width: 910px;
$label-2x-total-height: 910px;
$label-2x-image: 'sprite@2x.png';
$label-2x: (0px, 0px, 0px, 0px, 272px, 68px, 910px, 910px, 'sprite@2x.png', 'label@2x', );
$star-empty-2x-name: 'star_empty@2x';
$star-empty-2x-x: 680px;
$star-empty-2x-y: 574px;
$star-empty-2x-offset-x: -680px;
$star-empty-2x-offset-y: -574px;
$star-empty-2x-width: 30px;
$star-empty-2x-height: 28px;
$star-empty-2x-total-width: 910px;
$star-empty-2x-total-height: 910px;
$star-empty-2x-image: 'sprite@2x.png';
$star-empty-2x: (680px, 574px, -680px, -574px, 30px, 28px, 910px, 910px, 'sprite@2x.png', 'star_empty@2x', );
$star-full-2x-name: 'star_full@2x';
$star-full-2x-x: 716px;
$star-full-2x-y: 574px;
$star-full-2x-offset-x: -716px;
$star-full-2x-offset-y: -574px;
$star-full-2x-width: 30px;
$star-full-2x-height: 28px;
$star-full-2x-total-width: 910px;
$star-full-2x-total-height: 910px;
$star-full-2x-image: 'sprite@2x.png';
$star-full-2x: (716px, 574px, -716px, -574px, 30px, 28px, 910px, 910px, 'sprite@2x.png', 'star_full@2x', );
$spritesheet-width: 455px;
$spritesheet-height: 455px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($ico01, $ico01-m, $ico02, $ico02-m, $ico03, $ico03-m, $ico04, $ico04-m, $ico05, $ico05-m, $ico06, $ico06-m, $ico07, $ico07-m, $ico08, $ico08-m, $ico09, $ico09-m, $ico10, $ico10-m, $ico11, $ico11-m, $ico12, $ico12-m, $ico13, $ico13-m, $ico14, $ico14-m, $ico15, $ico15-m, $ico16, $ico16-m, $ico17, $ico17-m, $ico18, $ico18-m, $ico19, $ico19-m, $ico20, $ico20-m, $ico21, $ico21-m, $ico22, $ico22-m, $ico-clock, $ico-clock-s, $ico-delivery-m, $ico-gift-m, $ico-money-m, $ico-percent-m, $ico-question, $label, $star-empty, $star-full, );
$spritesheet: (455px, 455px, 'sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 910px;
$retina-spritesheet-height: 910px;
$retina-spritesheet-image: 'sprite@2x.png';
$retina-spritesheet-sprites: ($ico01-2x, $ico01-m-2x, $ico02-2x, $ico02-m-2x, $ico03-2x, $ico03-m-2x, $ico04-2x, $ico04-m-2x, $ico05-2x, $ico05-m-2x, $ico06-2x, $ico06-m-2x, $ico07-2x, $ico07-m-2x, $ico08-2x, $ico08-m-2x, $ico09-2x, $ico09-m-2x, $ico10-2x, $ico10-m-2x, $ico11-2x, $ico11-m-2x, $ico12-2x, $ico12-m-2x, $ico13-2x, $ico13-m-2x, $ico14-2x, $ico14-m-2x, $ico15-2x, $ico15-m-2x, $ico16-2x, $ico16-m-2x, $ico17-2x, $ico17-m-2x, $ico18-2x, $ico18-m-2x, $ico19-2x, $ico19-m-2x, $ico20-2x, $ico20-m-2x, $ico21-2x, $ico21-m-2x, $ico22-2x, $ico22-m-2x, $ico-clock-2x, $ico-clock-s-2x, $ico-delivery-m-2x, $ico-gift-m-2x, $ico-money-m-2x, $ico-percent-m-2x, $ico-question-2x, $label-2x, $star-empty-2x, $star-full-2x, );
$retina-spritesheet: (910px, 910px, 'sprite@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$ico01-group-name: 'ico01';
$ico01-group: ('ico01', $ico01, $ico01-2x, );
$ico01-m-group-name: 'ico01_m';
$ico01-m-group: ('ico01_m', $ico01-m, $ico01-m-2x, );
$ico02-group-name: 'ico02';
$ico02-group: ('ico02', $ico02, $ico02-2x, );
$ico02-m-group-name: 'ico02_m';
$ico02-m-group: ('ico02_m', $ico02-m, $ico02-m-2x, );
$ico03-group-name: 'ico03';
$ico03-group: ('ico03', $ico03, $ico03-2x, );
$ico03-m-group-name: 'ico03_m';
$ico03-m-group: ('ico03_m', $ico03-m, $ico03-m-2x, );
$ico04-group-name: 'ico04';
$ico04-group: ('ico04', $ico04, $ico04-2x, );
$ico04-m-group-name: 'ico04_m';
$ico04-m-group: ('ico04_m', $ico04-m, $ico04-m-2x, );
$ico05-group-name: 'ico05';
$ico05-group: ('ico05', $ico05, $ico05-2x, );
$ico05-m-group-name: 'ico05_m';
$ico05-m-group: ('ico05_m', $ico05-m, $ico05-m-2x, );
$ico06-group-name: 'ico06';
$ico06-group: ('ico06', $ico06, $ico06-2x, );
$ico06-m-group-name: 'ico06_m';
$ico06-m-group: ('ico06_m', $ico06-m, $ico06-m-2x, );
$ico07-group-name: 'ico07';
$ico07-group: ('ico07', $ico07, $ico07-2x, );
$ico07-m-group-name: 'ico07_m';
$ico07-m-group: ('ico07_m', $ico07-m, $ico07-m-2x, );
$ico08-group-name: 'ico08';
$ico08-group: ('ico08', $ico08, $ico08-2x, );
$ico08-m-group-name: 'ico08_m';
$ico08-m-group: ('ico08_m', $ico08-m, $ico08-m-2x, );
$ico09-group-name: 'ico09';
$ico09-group: ('ico09', $ico09, $ico09-2x, );
$ico09-m-group-name: 'ico09_m';
$ico09-m-group: ('ico09_m', $ico09-m, $ico09-m-2x, );
$ico10-group-name: 'ico10';
$ico10-group: ('ico10', $ico10, $ico10-2x, );
$ico10-m-group-name: 'ico10_m';
$ico10-m-group: ('ico10_m', $ico10-m, $ico10-m-2x, );
$ico11-group-name: 'ico11';
$ico11-group: ('ico11', $ico11, $ico11-2x, );
$ico11-m-group-name: 'ico11_m';
$ico11-m-group: ('ico11_m', $ico11-m, $ico11-m-2x, );
$ico12-group-name: 'ico12';
$ico12-group: ('ico12', $ico12, $ico12-2x, );
$ico12-m-group-name: 'ico12_m';
$ico12-m-group: ('ico12_m', $ico12-m, $ico12-m-2x, );
$ico13-group-name: 'ico13';
$ico13-group: ('ico13', $ico13, $ico13-2x, );
$ico13-m-group-name: 'ico13_m';
$ico13-m-group: ('ico13_m', $ico13-m, $ico13-m-2x, );
$ico14-group-name: 'ico14';
$ico14-group: ('ico14', $ico14, $ico14-2x, );
$ico14-m-group-name: 'ico14_m';
$ico14-m-group: ('ico14_m', $ico14-m, $ico14-m-2x, );
$ico15-group-name: 'ico15';
$ico15-group: ('ico15', $ico15, $ico15-2x, );
$ico15-m-group-name: 'ico15_m';
$ico15-m-group: ('ico15_m', $ico15-m, $ico15-m-2x, );
$ico16-group-name: 'ico16';
$ico16-group: ('ico16', $ico16, $ico16-2x, );
$ico16-m-group-name: 'ico16_m';
$ico16-m-group: ('ico16_m', $ico16-m, $ico16-m-2x, );
$ico17-group-name: 'ico17';
$ico17-group: ('ico17', $ico17, $ico17-2x, );
$ico17-m-group-name: 'ico17_m';
$ico17-m-group: ('ico17_m', $ico17-m, $ico17-m-2x, );
$ico18-group-name: 'ico18';
$ico18-group: ('ico18', $ico18, $ico18-2x, );
$ico18-m-group-name: 'ico18_m';
$ico18-m-group: ('ico18_m', $ico18-m, $ico18-m-2x, );
$ico19-group-name: 'ico19';
$ico19-group: ('ico19', $ico19, $ico19-2x, );
$ico19-m-group-name: 'ico19_m';
$ico19-m-group: ('ico19_m', $ico19-m, $ico19-m-2x, );
$ico20-group-name: 'ico20';
$ico20-group: ('ico20', $ico20, $ico20-2x, );
$ico20-m-group-name: 'ico20_m';
$ico20-m-group: ('ico20_m', $ico20-m, $ico20-m-2x, );
$ico21-group-name: 'ico21';
$ico21-group: ('ico21', $ico21, $ico21-2x, );
$ico21-m-group-name: 'ico21_m';
$ico21-m-group: ('ico21_m', $ico21-m, $ico21-m-2x, );
$ico22-group-name: 'ico22';
$ico22-group: ('ico22', $ico22, $ico22-2x, );
$ico22-m-group-name: 'ico22_m';
$ico22-m-group: ('ico22_m', $ico22-m, $ico22-m-2x, );
$ico-clock-group-name: 'ico_clock';
$ico-clock-group: ('ico_clock', $ico-clock, $ico-clock-2x, );
$ico-clock-s-group-name: 'ico_clock_s';
$ico-clock-s-group: ('ico_clock_s', $ico-clock-s, $ico-clock-s-2x, );
$ico-delivery-m-group-name: 'ico_delivery_m';
$ico-delivery-m-group: ('ico_delivery_m', $ico-delivery-m, $ico-delivery-m-2x, );
$ico-gift-m-group-name: 'ico_gift_m';
$ico-gift-m-group: ('ico_gift_m', $ico-gift-m, $ico-gift-m-2x, );
$ico-money-m-group-name: 'ico_money_m';
$ico-money-m-group: ('ico_money_m', $ico-money-m, $ico-money-m-2x, );
$ico-percent-m-group-name: 'ico_percent_m';
$ico-percent-m-group: ('ico_percent_m', $ico-percent-m, $ico-percent-m-2x, );
$ico-question-group-name: 'ico_question';
$ico-question-group: ('ico_question', $ico-question, $ico-question-2x, );
$label-group-name: 'label';
$label-group: ('label', $label, $label-2x, );
$star-empty-group-name: 'star_empty';
$star-empty-group: ('star_empty', $star-empty, $star-empty-2x, );
$star-full-group-name: 'star_full';
$star-full-group: ('star_full', $star-full, $star-full-2x, );
$retina-groups: ($ico01-group, $ico01-m-group, $ico02-group, $ico02-m-group, $ico03-group, $ico03-m-group, $ico04-group, $ico04-m-group, $ico05-group, $ico05-m-group, $ico06-group, $ico06-m-group, $ico07-group, $ico07-m-group, $ico08-group, $ico08-m-group, $ico09-group, $ico09-m-group, $ico10-group, $ico10-m-group, $ico11-group, $ico11-m-group, $ico12-group, $ico12-m-group, $ico13-group, $ico13-m-group, $ico14-group, $ico14-m-group, $ico15-group, $ico15-m-group, $ico16-group, $ico16-m-group, $ico17-group, $ico17-m-group, $ico18-group, $ico18-m-group, $ico19-group, $ico19-m-group, $ico20-group, $ico20-m-group, $ico21-group, $ico21-m-group, $ico22-group, $ico22-m-group, $ico-clock-group, $ico-clock-s-group, $ico-delivery-m-group, $ico-gift-m-group, $ico-money-m-group, $ico-percent-m-group, $ico-question-group, $label-group, $star-empty-group, $star-full-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
