/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico01-name: 'ico01';
$ico01-x: 0px;
$ico01-y: 34px;
$ico01-offset-x: 0px;
$ico01-offset-y: -34px;
$ico01-width: 64px;
$ico01-height: 64px;
$ico01-total-width: 440px;
$ico01-total-height: 386px;
$ico01-image: 'sprite.png';
$ico01: (0px, 34px, 0px, -34px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico01', );
$ico01-m-name: 'ico01_m';
$ico01-m-x: 48px;
$ico01-m-y: 290px;
$ico01-m-offset-x: -48px;
$ico01-m-offset-y: -290px;
$ico01-m-width: 48px;
$ico01-m-height: 48px;
$ico01-m-total-width: 440px;
$ico01-m-total-height: 386px;
$ico01-m-image: 'sprite.png';
$ico01-m: (48px, 290px, -48px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico01_m', );
$ico02-name: 'ico02';
$ico02-x: 128px;
$ico02-y: 162px;
$ico02-offset-x: -128px;
$ico02-offset-y: -162px;
$ico02-width: 64px;
$ico02-height: 64px;
$ico02-total-width: 440px;
$ico02-total-height: 386px;
$ico02-image: 'sprite.png';
$ico02: (128px, 162px, -128px, -162px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico02', );
$ico02-m-name: 'ico02_m';
$ico02-m-x: 328px;
$ico02-m-y: 176px;
$ico02-m-offset-x: -328px;
$ico02-m-offset-y: -176px;
$ico02-m-width: 48px;
$ico02-m-height: 48px;
$ico02-m-total-width: 440px;
$ico02-m-total-height: 386px;
$ico02-m-image: 'sprite.png';
$ico02-m: (328px, 176px, -328px, -176px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico02_m', );
$ico03-name: 'ico03';
$ico03-x: 64px;
$ico03-y: 34px;
$ico03-offset-x: -64px;
$ico03-offset-y: -34px;
$ico03-width: 64px;
$ico03-height: 64px;
$ico03-total-width: 440px;
$ico03-total-height: 386px;
$ico03-image: 'sprite.png';
$ico03: (64px, 34px, -64px, -34px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico03', );
$ico03-m-name: 'ico03_m';
$ico03-m-x: 288px;
$ico03-m-y: 338px;
$ico03-m-offset-x: -288px;
$ico03-m-offset-y: -338px;
$ico03-m-width: 48px;
$ico03-m-height: 48px;
$ico03-m-total-width: 440px;
$ico03-m-total-height: 386px;
$ico03-m-image: 'sprite.png';
$ico03-m: (288px, 338px, -288px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico03_m', );
$ico04-name: 'ico04';
$ico04-x: 136px;
$ico04-y: 0px;
$ico04-offset-x: -136px;
$ico04-offset-y: 0px;
$ico04-width: 64px;
$ico04-height: 64px;
$ico04-total-width: 440px;
$ico04-total-height: 386px;
$ico04-image: 'sprite.png';
$ico04: (136px, 0px, -136px, 0px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico04', );
$ico04-m-name: 'ico04_m';
$ico04-m-x: 96px;
$ico04-m-y: 290px;
$ico04-m-offset-x: -96px;
$ico04-m-offset-y: -290px;
$ico04-m-width: 48px;
$ico04-m-height: 48px;
$ico04-m-total-width: 440px;
$ico04-m-total-height: 386px;
$ico04-m-image: 'sprite.png';
$ico04-m: (96px, 290px, -96px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico04_m', );
$ico05-name: 'ico05';
$ico05-x: 0px;
$ico05-y: 98px;
$ico05-offset-x: 0px;
$ico05-offset-y: -98px;
$ico05-width: 64px;
$ico05-height: 64px;
$ico05-total-width: 440px;
$ico05-total-height: 386px;
$ico05-image: 'sprite.png';
$ico05: (0px, 98px, 0px, -98px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico05', );
$ico05-m-name: 'ico05_m';
$ico05-m-x: 96px;
$ico05-m-y: 338px;
$ico05-m-offset-x: -96px;
$ico05-m-offset-y: -338px;
$ico05-m-width: 48px;
$ico05-m-height: 48px;
$ico05-m-total-width: 440px;
$ico05-m-total-height: 386px;
$ico05-m-image: 'sprite.png';
$ico05-m: (96px, 338px, -96px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico05_m', );
$ico06-name: 'ico06';
$ico06-x: 64px;
$ico06-y: 98px;
$ico06-offset-x: -64px;
$ico06-offset-y: -98px;
$ico06-width: 64px;
$ico06-height: 64px;
$ico06-total-width: 440px;
$ico06-total-height: 386px;
$ico06-image: 'sprite.png';
$ico06: (64px, 98px, -64px, -98px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico06', );
$ico06-m-name: 'ico06_m';
$ico06-m-x: 392px;
$ico06-m-y: 96px;
$ico06-m-offset-x: -392px;
$ico06-m-offset-y: -96px;
$ico06-m-width: 48px;
$ico06-m-height: 48px;
$ico06-m-total-width: 440px;
$ico06-m-total-height: 386px;
$ico06-m-image: 'sprite.png';
$ico06-m: (392px, 96px, -392px, -96px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico06_m', );
$ico07-name: 'ico07';
$ico07-x: 128px;
$ico07-y: 98px;
$ico07-offset-x: -128px;
$ico07-offset-y: -98px;
$ico07-width: 64px;
$ico07-height: 64px;
$ico07-total-width: 440px;
$ico07-total-height: 386px;
$ico07-image: 'sprite.png';
$ico07: (128px, 98px, -128px, -98px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico07', );
$ico07-m-name: 'ico07_m';
$ico07-m-x: 0px;
$ico07-m-y: 290px;
$ico07-m-offset-x: 0px;
$ico07-m-offset-y: -290px;
$ico07-m-width: 48px;
$ico07-m-height: 48px;
$ico07-m-total-width: 440px;
$ico07-m-total-height: 386px;
$ico07-m-image: 'sprite.png';
$ico07-m: (0px, 290px, 0px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico07_m', );
$ico08-name: 'ico08';
$ico08-x: 200px;
$ico08-y: 0px;
$ico08-offset-x: -200px;
$ico08-offset-y: 0px;
$ico08-width: 64px;
$ico08-height: 64px;
$ico08-total-width: 440px;
$ico08-total-height: 386px;
$ico08-image: 'sprite.png';
$ico08: (200px, 0px, -200px, 0px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico08', );
$ico08-m-name: 'ico08_m';
$ico08-m-x: 192px;
$ico08-m-y: 290px;
$ico08-m-offset-x: -192px;
$ico08-m-offset-y: -290px;
$ico08-m-width: 48px;
$ico08-m-height: 48px;
$ico08-m-total-width: 440px;
$ico08-m-total-height: 386px;
$ico08-m-image: 'sprite.png';
$ico08-m: (192px, 290px, -192px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico08_m', );
$ico09-name: 'ico09';
$ico09-x: 200px;
$ico09-y: 64px;
$ico09-offset-x: -200px;
$ico09-offset-y: -64px;
$ico09-width: 64px;
$ico09-height: 64px;
$ico09-total-width: 440px;
$ico09-total-height: 386px;
$ico09-image: 'sprite.png';
$ico09: (200px, 64px, -200px, -64px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico09', );
$ico09-m-name: 'ico09_m';
$ico09-m-x: 0px;
$ico09-m-y: 338px;
$ico09-m-offset-x: 0px;
$ico09-m-offset-y: -338px;
$ico09-m-width: 48px;
$ico09-m-height: 48px;
$ico09-m-total-width: 440px;
$ico09-m-total-height: 386px;
$ico09-m-image: 'sprite.png';
$ico09-m: (0px, 338px, 0px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico09_m', );
$ico10-name: 'ico10';
$ico10-x: 0px;
$ico10-y: 162px;
$ico10-offset-x: 0px;
$ico10-offset-y: -162px;
$ico10-width: 64px;
$ico10-height: 64px;
$ico10-total-width: 440px;
$ico10-total-height: 386px;
$ico10-image: 'sprite.png';
$ico10: (0px, 162px, 0px, -162px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico10', );
$ico10-m-name: 'ico10_m';
$ico10-m-x: 192px;
$ico10-m-y: 338px;
$ico10-m-offset-x: -192px;
$ico10-m-offset-y: -338px;
$ico10-m-width: 48px;
$ico10-m-height: 48px;
$ico10-m-total-width: 440px;
$ico10-m-total-height: 386px;
$ico10-m-image: 'sprite.png';
$ico10-m: (192px, 338px, -192px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico10_m', );
$ico11-name: 'ico11';
$ico11-x: 64px;
$ico11-y: 162px;
$ico11-offset-x: -64px;
$ico11-offset-y: -162px;
$ico11-width: 64px;
$ico11-height: 64px;
$ico11-total-width: 440px;
$ico11-total-height: 386px;
$ico11-image: 'sprite.png';
$ico11: (64px, 162px, -64px, -162px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico11', );
$ico11-m-name: 'ico11_m';
$ico11-m-x: 392px;
$ico11-m-y: 0px;
$ico11-m-offset-x: -392px;
$ico11-m-offset-y: 0px;
$ico11-m-width: 48px;
$ico11-m-height: 48px;
$ico11-m-total-width: 440px;
$ico11-m-total-height: 386px;
$ico11-m-image: 'sprite.png';
$ico11-m: (392px, 0px, -392px, 0px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico11_m', );
$ico12-name: 'ico12';
$ico12-x: 328px;
$ico12-y: 64px;
$ico12-offset-x: -328px;
$ico12-offset-y: -64px;
$ico12-width: 64px;
$ico12-height: 64px;
$ico12-total-width: 440px;
$ico12-total-height: 386px;
$ico12-image: 'sprite.png';
$ico12: (328px, 64px, -328px, -64px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico12', );
$ico12-m-name: 'ico12_m';
$ico12-m-x: 328px;
$ico12-m-y: 128px;
$ico12-m-offset-x: -328px;
$ico12-m-offset-y: -128px;
$ico12-m-width: 48px;
$ico12-m-height: 48px;
$ico12-m-total-width: 440px;
$ico12-m-total-height: 386px;
$ico12-m-image: 'sprite.png';
$ico12-m: (328px, 128px, -328px, -128px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico12_m', );
$ico13-name: 'ico13';
$ico13-x: 192px;
$ico13-y: 162px;
$ico13-offset-x: -192px;
$ico13-offset-y: -162px;
$ico13-width: 64px;
$ico13-height: 64px;
$ico13-total-width: 440px;
$ico13-total-height: 386px;
$ico13-image: 'sprite.png';
$ico13: (192px, 162px, -192px, -162px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico13', );
$ico13-m-name: 'ico13_m';
$ico13-m-x: 328px;
$ico13-m-y: 224px;
$ico13-m-offset-x: -328px;
$ico13-m-offset-y: -224px;
$ico13-m-width: 48px;
$ico13-m-height: 48px;
$ico13-m-total-width: 440px;
$ico13-m-total-height: 386px;
$ico13-m-image: 'sprite.png';
$ico13-m: (328px, 224px, -328px, -224px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico13_m', );
$ico14-name: 'ico14';
$ico14-x: 264px;
$ico14-y: 0px;
$ico14-offset-x: -264px;
$ico14-offset-y: 0px;
$ico14-width: 64px;
$ico14-height: 64px;
$ico14-total-width: 440px;
$ico14-total-height: 386px;
$ico14-image: 'sprite.png';
$ico14: (264px, 0px, -264px, 0px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico14', );
$ico14-m-name: 'ico14_m';
$ico14-m-x: 288px;
$ico14-m-y: 290px;
$ico14-m-offset-x: -288px;
$ico14-m-offset-y: -290px;
$ico14-m-width: 48px;
$ico14-m-height: 48px;
$ico14-m-total-width: 440px;
$ico14-m-total-height: 386px;
$ico14-m-image: 'sprite.png';
$ico14-m: (288px, 290px, -288px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico14_m', );
$ico15-name: 'ico15';
$ico15-x: 264px;
$ico15-y: 64px;
$ico15-offset-x: -264px;
$ico15-offset-y: -64px;
$ico15-width: 64px;
$ico15-height: 64px;
$ico15-total-width: 440px;
$ico15-total-height: 386px;
$ico15-image: 'sprite.png';
$ico15: (264px, 64px, -264px, -64px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico15', );
$ico15-m-name: 'ico15_m';
$ico15-m-x: 144px;
$ico15-m-y: 290px;
$ico15-m-offset-x: -144px;
$ico15-m-offset-y: -290px;
$ico15-m-width: 48px;
$ico15-m-height: 48px;
$ico15-m-total-width: 440px;
$ico15-m-total-height: 386px;
$ico15-m-image: 'sprite.png';
$ico15-m: (144px, 290px, -144px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico15_m', );
$ico16-name: 'ico16';
$ico16-x: 264px;
$ico16-y: 128px;
$ico16-offset-x: -264px;
$ico16-offset-y: -128px;
$ico16-width: 64px;
$ico16-height: 64px;
$ico16-total-width: 440px;
$ico16-total-height: 386px;
$ico16-image: 'sprite.png';
$ico16: (264px, 128px, -264px, -128px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico16', );
$ico16-m-name: 'ico16_m';
$ico16-m-x: 240px;
$ico16-m-y: 290px;
$ico16-m-offset-x: -240px;
$ico16-m-offset-y: -290px;
$ico16-m-width: 48px;
$ico16-m-height: 48px;
$ico16-m-total-width: 440px;
$ico16-m-total-height: 386px;
$ico16-m-image: 'sprite.png';
$ico16-m: (240px, 290px, -240px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico16_m', );
$ico17-name: 'ico17';
$ico17-x: 0px;
$ico17-y: 226px;
$ico17-offset-x: 0px;
$ico17-offset-y: -226px;
$ico17-width: 64px;
$ico17-height: 64px;
$ico17-total-width: 440px;
$ico17-total-height: 386px;
$ico17-image: 'sprite.png';
$ico17: (0px, 226px, 0px, -226px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico17', );
$ico17-m-name: 'ico17_m';
$ico17-m-x: 336px;
$ico17-m-y: 290px;
$ico17-m-offset-x: -336px;
$ico17-m-offset-y: -290px;
$ico17-m-width: 48px;
$ico17-m-height: 48px;
$ico17-m-total-width: 440px;
$ico17-m-total-height: 386px;
$ico17-m-image: 'sprite.png';
$ico17-m: (336px, 290px, -336px, -290px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico17_m', );
$ico18-name: 'ico18';
$ico18-x: 64px;
$ico18-y: 226px;
$ico18-offset-x: -64px;
$ico18-offset-y: -226px;
$ico18-width: 64px;
$ico18-height: 64px;
$ico18-total-width: 440px;
$ico18-total-height: 386px;
$ico18-image: 'sprite.png';
$ico18: (64px, 226px, -64px, -226px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico18', );
$ico18-m-name: 'ico18_m';
$ico18-m-x: 48px;
$ico18-m-y: 338px;
$ico18-m-offset-x: -48px;
$ico18-m-offset-y: -338px;
$ico18-m-width: 48px;
$ico18-m-height: 48px;
$ico18-m-total-width: 440px;
$ico18-m-total-height: 386px;
$ico18-m-image: 'sprite.png';
$ico18-m: (48px, 338px, -48px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico18_m', );
$ico19-name: 'ico19';
$ico19-x: 128px;
$ico19-y: 226px;
$ico19-offset-x: -128px;
$ico19-offset-y: -226px;
$ico19-width: 64px;
$ico19-height: 64px;
$ico19-total-width: 440px;
$ico19-total-height: 386px;
$ico19-image: 'sprite.png';
$ico19: (128px, 226px, -128px, -226px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico19', );
$ico19-m-name: 'ico19_m';
$ico19-m-x: 144px;
$ico19-m-y: 338px;
$ico19-m-offset-x: -144px;
$ico19-m-offset-y: -338px;
$ico19-m-width: 48px;
$ico19-m-height: 48px;
$ico19-m-total-width: 440px;
$ico19-m-total-height: 386px;
$ico19-m-image: 'sprite.png';
$ico19-m: (144px, 338px, -144px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico19_m', );
$ico20-name: 'ico20';
$ico20-x: 192px;
$ico20-y: 226px;
$ico20-offset-x: -192px;
$ico20-offset-y: -226px;
$ico20-width: 64px;
$ico20-height: 64px;
$ico20-total-width: 440px;
$ico20-total-height: 386px;
$ico20-image: 'sprite.png';
$ico20: (192px, 226px, -192px, -226px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico20', );
$ico20-m-name: 'ico20_m';
$ico20-m-x: 240px;
$ico20-m-y: 338px;
$ico20-m-offset-x: -240px;
$ico20-m-offset-y: -338px;
$ico20-m-width: 48px;
$ico20-m-height: 48px;
$ico20-m-total-width: 440px;
$ico20-m-total-height: 386px;
$ico20-m-image: 'sprite.png';
$ico20-m: (240px, 338px, -240px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico20_m', );
$ico21-name: 'ico21';
$ico21-x: 256px;
$ico21-y: 226px;
$ico21-offset-x: -256px;
$ico21-offset-y: -226px;
$ico21-width: 64px;
$ico21-height: 64px;
$ico21-total-width: 440px;
$ico21-total-height: 386px;
$ico21-image: 'sprite.png';
$ico21: (256px, 226px, -256px, -226px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico21', );
$ico21-m-name: 'ico21_m';
$ico21-m-x: 336px;
$ico21-m-y: 338px;
$ico21-m-offset-x: -336px;
$ico21-m-offset-y: -338px;
$ico21-m-width: 48px;
$ico21-m-height: 48px;
$ico21-m-total-width: 440px;
$ico21-m-total-height: 386px;
$ico21-m-image: 'sprite.png';
$ico21-m: (336px, 338px, -336px, -338px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico21_m', );
$ico22-name: 'ico22';
$ico22-x: 328px;
$ico22-y: 0px;
$ico22-offset-x: -328px;
$ico22-offset-y: 0px;
$ico22-width: 64px;
$ico22-height: 64px;
$ico22-total-width: 440px;
$ico22-total-height: 386px;
$ico22-image: 'sprite.png';
$ico22: (328px, 0px, -328px, 0px, 64px, 64px, 440px, 386px, 'sprite.png', 'ico22', );
$ico22-m-name: 'ico22_m';
$ico22-m-x: 392px;
$ico22-m-y: 48px;
$ico22-m-offset-x: -392px;
$ico22-m-offset-y: -48px;
$ico22-m-width: 48px;
$ico22-m-height: 48px;
$ico22-m-total-width: 440px;
$ico22-m-total-height: 386px;
$ico22-m-image: 'sprite.png';
$ico22-m: (392px, 48px, -392px, -48px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico22_m', );
$ico-clock-name: 'ico_clock';
$ico-clock-x: 264px;
$ico-clock-y: 192px;
$ico-clock-offset-x: -264px;
$ico-clock-offset-y: -192px;
$ico-clock-width: 23px;
$ico-clock-height: 25px;
$ico-clock-total-width: 440px;
$ico-clock-total-height: 386px;
$ico-clock-image: 'sprite.png';
$ico-clock: (264px, 192px, -264px, -192px, 23px, 25px, 440px, 386px, 'sprite.png', 'ico_clock', );
$ico-clock-s-name: 'ico_clock_s';
$ico-clock-s-x: 392px;
$ico-clock-s-y: 369px;
$ico-clock-s-offset-x: -392px;
$ico-clock-s-offset-y: -369px;
$ico-clock-s-width: 12px;
$ico-clock-s-height: 12px;
$ico-clock-s-total-width: 440px;
$ico-clock-s-total-height: 386px;
$ico-clock-s-image: 'sprite.png';
$ico-clock-s: (392px, 369px, -392px, -369px, 12px, 12px, 440px, 386px, 'sprite.png', 'ico_clock_s', );
$ico-delivery-m-name: 'ico_delivery_m';
$ico-delivery-m-x: 392px;
$ico-delivery-m-y: 192px;
$ico-delivery-m-offset-x: -392px;
$ico-delivery-m-offset-y: -192px;
$ico-delivery-m-width: 48px;
$ico-delivery-m-height: 48px;
$ico-delivery-m-total-width: 440px;
$ico-delivery-m-total-height: 386px;
$ico-delivery-m-image: 'sprite.png';
$ico-delivery-m: (392px, 192px, -392px, -192px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico_delivery_m', );
$ico-gift-m-name: 'ico_gift_m';
$ico-gift-m-x: 392px;
$ico-gift-m-y: 240px;
$ico-gift-m-offset-x: -392px;
$ico-gift-m-offset-y: -240px;
$ico-gift-m-width: 48px;
$ico-gift-m-height: 48px;
$ico-gift-m-total-width: 440px;
$ico-gift-m-total-height: 386px;
$ico-gift-m-image: 'sprite.png';
$ico-gift-m: (392px, 240px, -392px, -240px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico_gift_m', );
$ico-money-m-name: 'ico_money_m';
$ico-money-m-x: 392px;
$ico-money-m-y: 288px;
$ico-money-m-offset-x: -392px;
$ico-money-m-offset-y: -288px;
$ico-money-m-width: 48px;
$ico-money-m-height: 48px;
$ico-money-m-total-width: 440px;
$ico-money-m-total-height: 386px;
$ico-money-m-image: 'sprite.png';
$ico-money-m: (392px, 288px, -392px, -288px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico_money_m', );
$ico-percent-m-name: 'ico_percent_m';
$ico-percent-m-x: 392px;
$ico-percent-m-y: 144px;
$ico-percent-m-offset-x: -392px;
$ico-percent-m-offset-y: -144px;
$ico-percent-m-width: 48px;
$ico-percent-m-height: 48px;
$ico-percent-m-total-width: 440px;
$ico-percent-m-total-height: 386px;
$ico-percent-m-image: 'sprite.png';
$ico-percent-m: (392px, 144px, -392px, -144px, 48px, 48px, 440px, 386px, 'sprite.png', 'ico_percent_m', );
$ico-question-name: 'ico_question';
$ico-question-x: 392px;
$ico-question-y: 336px;
$ico-question-offset-x: -392px;
$ico-question-offset-y: -336px;
$ico-question-width: 33px;
$ico-question-height: 33px;
$ico-question-total-width: 440px;
$ico-question-total-height: 386px;
$ico-question-image: 'sprite.png';
$ico-question: (392px, 336px, -392px, -336px, 33px, 33px, 440px, 386px, 'sprite.png', 'ico_question', );
$label-name: 'label';
$label-x: 0px;
$label-y: 0px;
$label-offset-x: 0px;
$label-offset-y: 0px;
$label-width: 136px;
$label-height: 34px;
$label-total-width: 440px;
$label-total-height: 386px;
$label-image: 'sprite.png';
$label: (0px, 0px, 0px, 0px, 136px, 34px, 440px, 386px, 'sprite.png', 'label', );
$star-empty-name: 'star_empty';
$star-empty-x: 425px;
$star-empty-y: 336px;
$star-empty-offset-x: -425px;
$star-empty-offset-y: -336px;
$star-empty-width: 15px;
$star-empty-height: 14px;
$star-empty-total-width: 440px;
$star-empty-total-height: 386px;
$star-empty-image: 'sprite.png';
$star-empty: (425px, 336px, -425px, -336px, 15px, 14px, 440px, 386px, 'sprite.png', 'star_empty', );
$star-full-name: 'star_full';
$star-full-x: 425px;
$star-full-y: 350px;
$star-full-offset-x: -425px;
$star-full-offset-y: -350px;
$star-full-width: 15px;
$star-full-height: 14px;
$star-full-total-width: 440px;
$star-full-total-height: 386px;
$star-full-image: 'sprite.png';
$star-full: (425px, 350px, -425px, -350px, 15px, 14px, 440px, 386px, 'sprite.png', 'star_full', );
$ico01-2x-name: 'ico01@2x';
$ico01-2x-x: 0px;
$ico01-2x-y: 68px;
$ico01-2x-offset-x: 0px;
$ico01-2x-offset-y: -68px;
$ico01-2x-width: 128px;
$ico01-2x-height: 128px;
$ico01-2x-total-width: 880px;
$ico01-2x-total-height: 772px;
$ico01-2x-image: 'sprite@2x.png';
$ico01-2x: (0px, 68px, 0px, -68px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico01@2x', );
$ico01-m-2x-name: 'ico01_m@2x';
$ico01-m-2x-x: 96px;
$ico01-m-2x-y: 580px;
$ico01-m-2x-offset-x: -96px;
$ico01-m-2x-offset-y: -580px;
$ico01-m-2x-width: 96px;
$ico01-m-2x-height: 96px;
$ico01-m-2x-total-width: 880px;
$ico01-m-2x-total-height: 772px;
$ico01-m-2x-image: 'sprite@2x.png';
$ico01-m-2x: (96px, 580px, -96px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico01_m@2x', );
$ico02-2x-name: 'ico02@2x';
$ico02-2x-x: 256px;
$ico02-2x-y: 324px;
$ico02-2x-offset-x: -256px;
$ico02-2x-offset-y: -324px;
$ico02-2x-width: 128px;
$ico02-2x-height: 128px;
$ico02-2x-total-width: 880px;
$ico02-2x-total-height: 772px;
$ico02-2x-image: 'sprite@2x.png';
$ico02-2x: (256px, 324px, -256px, -324px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico02@2x', );
$ico02-m-2x-name: 'ico02_m@2x';
$ico02-m-2x-x: 656px;
$ico02-m-2x-y: 352px;
$ico02-m-2x-offset-x: -656px;
$ico02-m-2x-offset-y: -352px;
$ico02-m-2x-width: 96px;
$ico02-m-2x-height: 96px;
$ico02-m-2x-total-width: 880px;
$ico02-m-2x-total-height: 772px;
$ico02-m-2x-image: 'sprite@2x.png';
$ico02-m-2x: (656px, 352px, -656px, -352px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico02_m@2x', );
$ico03-2x-name: 'ico03@2x';
$ico03-2x-x: 128px;
$ico03-2x-y: 68px;
$ico03-2x-offset-x: -128px;
$ico03-2x-offset-y: -68px;
$ico03-2x-width: 128px;
$ico03-2x-height: 128px;
$ico03-2x-total-width: 880px;
$ico03-2x-total-height: 772px;
$ico03-2x-image: 'sprite@2x.png';
$ico03-2x: (128px, 68px, -128px, -68px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico03@2x', );
$ico03-m-2x-name: 'ico03_m@2x';
$ico03-m-2x-x: 576px;
$ico03-m-2x-y: 676px;
$ico03-m-2x-offset-x: -576px;
$ico03-m-2x-offset-y: -676px;
$ico03-m-2x-width: 96px;
$ico03-m-2x-height: 96px;
$ico03-m-2x-total-width: 880px;
$ico03-m-2x-total-height: 772px;
$ico03-m-2x-image: 'sprite@2x.png';
$ico03-m-2x: (576px, 676px, -576px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico03_m@2x', );
$ico04-2x-name: 'ico04@2x';
$ico04-2x-x: 272px;
$ico04-2x-y: 0px;
$ico04-2x-offset-x: -272px;
$ico04-2x-offset-y: 0px;
$ico04-2x-width: 128px;
$ico04-2x-height: 128px;
$ico04-2x-total-width: 880px;
$ico04-2x-total-height: 772px;
$ico04-2x-image: 'sprite@2x.png';
$ico04-2x: (272px, 0px, -272px, 0px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico04@2x', );
$ico04-m-2x-name: 'ico04_m@2x';
$ico04-m-2x-x: 192px;
$ico04-m-2x-y: 580px;
$ico04-m-2x-offset-x: -192px;
$ico04-m-2x-offset-y: -580px;
$ico04-m-2x-width: 96px;
$ico04-m-2x-height: 96px;
$ico04-m-2x-total-width: 880px;
$ico04-m-2x-total-height: 772px;
$ico04-m-2x-image: 'sprite@2x.png';
$ico04-m-2x: (192px, 580px, -192px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico04_m@2x', );
$ico05-2x-name: 'ico05@2x';
$ico05-2x-x: 0px;
$ico05-2x-y: 196px;
$ico05-2x-offset-x: 0px;
$ico05-2x-offset-y: -196px;
$ico05-2x-width: 128px;
$ico05-2x-height: 128px;
$ico05-2x-total-width: 880px;
$ico05-2x-total-height: 772px;
$ico05-2x-image: 'sprite@2x.png';
$ico05-2x: (0px, 196px, 0px, -196px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico05@2x', );
$ico05-m-2x-name: 'ico05_m@2x';
$ico05-m-2x-x: 192px;
$ico05-m-2x-y: 676px;
$ico05-m-2x-offset-x: -192px;
$ico05-m-2x-offset-y: -676px;
$ico05-m-2x-width: 96px;
$ico05-m-2x-height: 96px;
$ico05-m-2x-total-width: 880px;
$ico05-m-2x-total-height: 772px;
$ico05-m-2x-image: 'sprite@2x.png';
$ico05-m-2x: (192px, 676px, -192px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico05_m@2x', );
$ico06-2x-name: 'ico06@2x';
$ico06-2x-x: 128px;
$ico06-2x-y: 196px;
$ico06-2x-offset-x: -128px;
$ico06-2x-offset-y: -196px;
$ico06-2x-width: 128px;
$ico06-2x-height: 128px;
$ico06-2x-total-width: 880px;
$ico06-2x-total-height: 772px;
$ico06-2x-image: 'sprite@2x.png';
$ico06-2x: (128px, 196px, -128px, -196px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico06@2x', );
$ico06-m-2x-name: 'ico06_m@2x';
$ico06-m-2x-x: 784px;
$ico06-m-2x-y: 192px;
$ico06-m-2x-offset-x: -784px;
$ico06-m-2x-offset-y: -192px;
$ico06-m-2x-width: 96px;
$ico06-m-2x-height: 96px;
$ico06-m-2x-total-width: 880px;
$ico06-m-2x-total-height: 772px;
$ico06-m-2x-image: 'sprite@2x.png';
$ico06-m-2x: (784px, 192px, -784px, -192px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico06_m@2x', );
$ico07-2x-name: 'ico07@2x';
$ico07-2x-x: 256px;
$ico07-2x-y: 196px;
$ico07-2x-offset-x: -256px;
$ico07-2x-offset-y: -196px;
$ico07-2x-width: 128px;
$ico07-2x-height: 128px;
$ico07-2x-total-width: 880px;
$ico07-2x-total-height: 772px;
$ico07-2x-image: 'sprite@2x.png';
$ico07-2x: (256px, 196px, -256px, -196px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico07@2x', );
$ico07-m-2x-name: 'ico07_m@2x';
$ico07-m-2x-x: 0px;
$ico07-m-2x-y: 580px;
$ico07-m-2x-offset-x: 0px;
$ico07-m-2x-offset-y: -580px;
$ico07-m-2x-width: 96px;
$ico07-m-2x-height: 96px;
$ico07-m-2x-total-width: 880px;
$ico07-m-2x-total-height: 772px;
$ico07-m-2x-image: 'sprite@2x.png';
$ico07-m-2x: (0px, 580px, 0px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico07_m@2x', );
$ico08-2x-name: 'ico08@2x';
$ico08-2x-x: 400px;
$ico08-2x-y: 0px;
$ico08-2x-offset-x: -400px;
$ico08-2x-offset-y: 0px;
$ico08-2x-width: 128px;
$ico08-2x-height: 128px;
$ico08-2x-total-width: 880px;
$ico08-2x-total-height: 772px;
$ico08-2x-image: 'sprite@2x.png';
$ico08-2x: (400px, 0px, -400px, 0px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico08@2x', );
$ico08-m-2x-name: 'ico08_m@2x';
$ico08-m-2x-x: 384px;
$ico08-m-2x-y: 580px;
$ico08-m-2x-offset-x: -384px;
$ico08-m-2x-offset-y: -580px;
$ico08-m-2x-width: 96px;
$ico08-m-2x-height: 96px;
$ico08-m-2x-total-width: 880px;
$ico08-m-2x-total-height: 772px;
$ico08-m-2x-image: 'sprite@2x.png';
$ico08-m-2x: (384px, 580px, -384px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico08_m@2x', );
$ico09-2x-name: 'ico09@2x';
$ico09-2x-x: 400px;
$ico09-2x-y: 128px;
$ico09-2x-offset-x: -400px;
$ico09-2x-offset-y: -128px;
$ico09-2x-width: 128px;
$ico09-2x-height: 128px;
$ico09-2x-total-width: 880px;
$ico09-2x-total-height: 772px;
$ico09-2x-image: 'sprite@2x.png';
$ico09-2x: (400px, 128px, -400px, -128px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico09@2x', );
$ico09-m-2x-name: 'ico09_m@2x';
$ico09-m-2x-x: 0px;
$ico09-m-2x-y: 676px;
$ico09-m-2x-offset-x: 0px;
$ico09-m-2x-offset-y: -676px;
$ico09-m-2x-width: 96px;
$ico09-m-2x-height: 96px;
$ico09-m-2x-total-width: 880px;
$ico09-m-2x-total-height: 772px;
$ico09-m-2x-image: 'sprite@2x.png';
$ico09-m-2x: (0px, 676px, 0px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico09_m@2x', );
$ico10-2x-name: 'ico10@2x';
$ico10-2x-x: 0px;
$ico10-2x-y: 324px;
$ico10-2x-offset-x: 0px;
$ico10-2x-offset-y: -324px;
$ico10-2x-width: 128px;
$ico10-2x-height: 128px;
$ico10-2x-total-width: 880px;
$ico10-2x-total-height: 772px;
$ico10-2x-image: 'sprite@2x.png';
$ico10-2x: (0px, 324px, 0px, -324px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico10@2x', );
$ico10-m-2x-name: 'ico10_m@2x';
$ico10-m-2x-x: 384px;
$ico10-m-2x-y: 676px;
$ico10-m-2x-offset-x: -384px;
$ico10-m-2x-offset-y: -676px;
$ico10-m-2x-width: 96px;
$ico10-m-2x-height: 96px;
$ico10-m-2x-total-width: 880px;
$ico10-m-2x-total-height: 772px;
$ico10-m-2x-image: 'sprite@2x.png';
$ico10-m-2x: (384px, 676px, -384px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico10_m@2x', );
$ico11-2x-name: 'ico11@2x';
$ico11-2x-x: 128px;
$ico11-2x-y: 324px;
$ico11-2x-offset-x: -128px;
$ico11-2x-offset-y: -324px;
$ico11-2x-width: 128px;
$ico11-2x-height: 128px;
$ico11-2x-total-width: 880px;
$ico11-2x-total-height: 772px;
$ico11-2x-image: 'sprite@2x.png';
$ico11-2x: (128px, 324px, -128px, -324px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico11@2x', );
$ico11-m-2x-name: 'ico11_m@2x';
$ico11-m-2x-x: 784px;
$ico11-m-2x-y: 0px;
$ico11-m-2x-offset-x: -784px;
$ico11-m-2x-offset-y: 0px;
$ico11-m-2x-width: 96px;
$ico11-m-2x-height: 96px;
$ico11-m-2x-total-width: 880px;
$ico11-m-2x-total-height: 772px;
$ico11-m-2x-image: 'sprite@2x.png';
$ico11-m-2x: (784px, 0px, -784px, 0px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico11_m@2x', );
$ico12-2x-name: 'ico12@2x';
$ico12-2x-x: 656px;
$ico12-2x-y: 128px;
$ico12-2x-offset-x: -656px;
$ico12-2x-offset-y: -128px;
$ico12-2x-width: 128px;
$ico12-2x-height: 128px;
$ico12-2x-total-width: 880px;
$ico12-2x-total-height: 772px;
$ico12-2x-image: 'sprite@2x.png';
$ico12-2x: (656px, 128px, -656px, -128px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico12@2x', );
$ico12-m-2x-name: 'ico12_m@2x';
$ico12-m-2x-x: 656px;
$ico12-m-2x-y: 256px;
$ico12-m-2x-offset-x: -656px;
$ico12-m-2x-offset-y: -256px;
$ico12-m-2x-width: 96px;
$ico12-m-2x-height: 96px;
$ico12-m-2x-total-width: 880px;
$ico12-m-2x-total-height: 772px;
$ico12-m-2x-image: 'sprite@2x.png';
$ico12-m-2x: (656px, 256px, -656px, -256px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico12_m@2x', );
$ico13-2x-name: 'ico13@2x';
$ico13-2x-x: 384px;
$ico13-2x-y: 324px;
$ico13-2x-offset-x: -384px;
$ico13-2x-offset-y: -324px;
$ico13-2x-width: 128px;
$ico13-2x-height: 128px;
$ico13-2x-total-width: 880px;
$ico13-2x-total-height: 772px;
$ico13-2x-image: 'sprite@2x.png';
$ico13-2x: (384px, 324px, -384px, -324px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico13@2x', );
$ico13-m-2x-name: 'ico13_m@2x';
$ico13-m-2x-x: 656px;
$ico13-m-2x-y: 448px;
$ico13-m-2x-offset-x: -656px;
$ico13-m-2x-offset-y: -448px;
$ico13-m-2x-width: 96px;
$ico13-m-2x-height: 96px;
$ico13-m-2x-total-width: 880px;
$ico13-m-2x-total-height: 772px;
$ico13-m-2x-image: 'sprite@2x.png';
$ico13-m-2x: (656px, 448px, -656px, -448px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico13_m@2x', );
$ico14-2x-name: 'ico14@2x';
$ico14-2x-x: 528px;
$ico14-2x-y: 0px;
$ico14-2x-offset-x: -528px;
$ico14-2x-offset-y: 0px;
$ico14-2x-width: 128px;
$ico14-2x-height: 128px;
$ico14-2x-total-width: 880px;
$ico14-2x-total-height: 772px;
$ico14-2x-image: 'sprite@2x.png';
$ico14-2x: (528px, 0px, -528px, 0px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico14@2x', );
$ico14-m-2x-name: 'ico14_m@2x';
$ico14-m-2x-x: 576px;
$ico14-m-2x-y: 580px;
$ico14-m-2x-offset-x: -576px;
$ico14-m-2x-offset-y: -580px;
$ico14-m-2x-width: 96px;
$ico14-m-2x-height: 96px;
$ico14-m-2x-total-width: 880px;
$ico14-m-2x-total-height: 772px;
$ico14-m-2x-image: 'sprite@2x.png';
$ico14-m-2x: (576px, 580px, -576px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico14_m@2x', );
$ico15-2x-name: 'ico15@2x';
$ico15-2x-x: 528px;
$ico15-2x-y: 128px;
$ico15-2x-offset-x: -528px;
$ico15-2x-offset-y: -128px;
$ico15-2x-width: 128px;
$ico15-2x-height: 128px;
$ico15-2x-total-width: 880px;
$ico15-2x-total-height: 772px;
$ico15-2x-image: 'sprite@2x.png';
$ico15-2x: (528px, 128px, -528px, -128px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico15@2x', );
$ico15-m-2x-name: 'ico15_m@2x';
$ico15-m-2x-x: 288px;
$ico15-m-2x-y: 580px;
$ico15-m-2x-offset-x: -288px;
$ico15-m-2x-offset-y: -580px;
$ico15-m-2x-width: 96px;
$ico15-m-2x-height: 96px;
$ico15-m-2x-total-width: 880px;
$ico15-m-2x-total-height: 772px;
$ico15-m-2x-image: 'sprite@2x.png';
$ico15-m-2x: (288px, 580px, -288px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico15_m@2x', );
$ico16-2x-name: 'ico16@2x';
$ico16-2x-x: 528px;
$ico16-2x-y: 256px;
$ico16-2x-offset-x: -528px;
$ico16-2x-offset-y: -256px;
$ico16-2x-width: 128px;
$ico16-2x-height: 128px;
$ico16-2x-total-width: 880px;
$ico16-2x-total-height: 772px;
$ico16-2x-image: 'sprite@2x.png';
$ico16-2x: (528px, 256px, -528px, -256px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico16@2x', );
$ico16-m-2x-name: 'ico16_m@2x';
$ico16-m-2x-x: 480px;
$ico16-m-2x-y: 580px;
$ico16-m-2x-offset-x: -480px;
$ico16-m-2x-offset-y: -580px;
$ico16-m-2x-width: 96px;
$ico16-m-2x-height: 96px;
$ico16-m-2x-total-width: 880px;
$ico16-m-2x-total-height: 772px;
$ico16-m-2x-image: 'sprite@2x.png';
$ico16-m-2x: (480px, 580px, -480px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico16_m@2x', );
$ico17-2x-name: 'ico17@2x';
$ico17-2x-x: 0px;
$ico17-2x-y: 452px;
$ico17-2x-offset-x: 0px;
$ico17-2x-offset-y: -452px;
$ico17-2x-width: 128px;
$ico17-2x-height: 128px;
$ico17-2x-total-width: 880px;
$ico17-2x-total-height: 772px;
$ico17-2x-image: 'sprite@2x.png';
$ico17-2x: (0px, 452px, 0px, -452px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico17@2x', );
$ico17-m-2x-name: 'ico17_m@2x';
$ico17-m-2x-x: 672px;
$ico17-m-2x-y: 580px;
$ico17-m-2x-offset-x: -672px;
$ico17-m-2x-offset-y: -580px;
$ico17-m-2x-width: 96px;
$ico17-m-2x-height: 96px;
$ico17-m-2x-total-width: 880px;
$ico17-m-2x-total-height: 772px;
$ico17-m-2x-image: 'sprite@2x.png';
$ico17-m-2x: (672px, 580px, -672px, -580px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico17_m@2x', );
$ico18-2x-name: 'ico18@2x';
$ico18-2x-x: 128px;
$ico18-2x-y: 452px;
$ico18-2x-offset-x: -128px;
$ico18-2x-offset-y: -452px;
$ico18-2x-width: 128px;
$ico18-2x-height: 128px;
$ico18-2x-total-width: 880px;
$ico18-2x-total-height: 772px;
$ico18-2x-image: 'sprite@2x.png';
$ico18-2x: (128px, 452px, -128px, -452px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico18@2x', );
$ico18-m-2x-name: 'ico18_m@2x';
$ico18-m-2x-x: 96px;
$ico18-m-2x-y: 676px;
$ico18-m-2x-offset-x: -96px;
$ico18-m-2x-offset-y: -676px;
$ico18-m-2x-width: 96px;
$ico18-m-2x-height: 96px;
$ico18-m-2x-total-width: 880px;
$ico18-m-2x-total-height: 772px;
$ico18-m-2x-image: 'sprite@2x.png';
$ico18-m-2x: (96px, 676px, -96px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico18_m@2x', );
$ico19-2x-name: 'ico19@2x';
$ico19-2x-x: 256px;
$ico19-2x-y: 452px;
$ico19-2x-offset-x: -256px;
$ico19-2x-offset-y: -452px;
$ico19-2x-width: 128px;
$ico19-2x-height: 128px;
$ico19-2x-total-width: 880px;
$ico19-2x-total-height: 772px;
$ico19-2x-image: 'sprite@2x.png';
$ico19-2x: (256px, 452px, -256px, -452px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico19@2x', );
$ico19-m-2x-name: 'ico19_m@2x';
$ico19-m-2x-x: 288px;
$ico19-m-2x-y: 676px;
$ico19-m-2x-offset-x: -288px;
$ico19-m-2x-offset-y: -676px;
$ico19-m-2x-width: 96px;
$ico19-m-2x-height: 96px;
$ico19-m-2x-total-width: 880px;
$ico19-m-2x-total-height: 772px;
$ico19-m-2x-image: 'sprite@2x.png';
$ico19-m-2x: (288px, 676px, -288px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico19_m@2x', );
$ico20-2x-name: 'ico20@2x';
$ico20-2x-x: 384px;
$ico20-2x-y: 452px;
$ico20-2x-offset-x: -384px;
$ico20-2x-offset-y: -452px;
$ico20-2x-width: 128px;
$ico20-2x-height: 128px;
$ico20-2x-total-width: 880px;
$ico20-2x-total-height: 772px;
$ico20-2x-image: 'sprite@2x.png';
$ico20-2x: (384px, 452px, -384px, -452px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico20@2x', );
$ico20-m-2x-name: 'ico20_m@2x';
$ico20-m-2x-x: 480px;
$ico20-m-2x-y: 676px;
$ico20-m-2x-offset-x: -480px;
$ico20-m-2x-offset-y: -676px;
$ico20-m-2x-width: 96px;
$ico20-m-2x-height: 96px;
$ico20-m-2x-total-width: 880px;
$ico20-m-2x-total-height: 772px;
$ico20-m-2x-image: 'sprite@2x.png';
$ico20-m-2x: (480px, 676px, -480px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico20_m@2x', );
$ico21-2x-name: 'ico21@2x';
$ico21-2x-x: 512px;
$ico21-2x-y: 452px;
$ico21-2x-offset-x: -512px;
$ico21-2x-offset-y: -452px;
$ico21-2x-width: 128px;
$ico21-2x-height: 128px;
$ico21-2x-total-width: 880px;
$ico21-2x-total-height: 772px;
$ico21-2x-image: 'sprite@2x.png';
$ico21-2x: (512px, 452px, -512px, -452px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico21@2x', );
$ico21-m-2x-name: 'ico21_m@2x';
$ico21-m-2x-x: 672px;
$ico21-m-2x-y: 676px;
$ico21-m-2x-offset-x: -672px;
$ico21-m-2x-offset-y: -676px;
$ico21-m-2x-width: 96px;
$ico21-m-2x-height: 96px;
$ico21-m-2x-total-width: 880px;
$ico21-m-2x-total-height: 772px;
$ico21-m-2x-image: 'sprite@2x.png';
$ico21-m-2x: (672px, 676px, -672px, -676px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico21_m@2x', );
$ico22-2x-name: 'ico22@2x';
$ico22-2x-x: 656px;
$ico22-2x-y: 0px;
$ico22-2x-offset-x: -656px;
$ico22-2x-offset-y: 0px;
$ico22-2x-width: 128px;
$ico22-2x-height: 128px;
$ico22-2x-total-width: 880px;
$ico22-2x-total-height: 772px;
$ico22-2x-image: 'sprite@2x.png';
$ico22-2x: (656px, 0px, -656px, 0px, 128px, 128px, 880px, 772px, 'sprite@2x.png', 'ico22@2x', );
$ico22-m-2x-name: 'ico22_m@2x';
$ico22-m-2x-x: 784px;
$ico22-m-2x-y: 96px;
$ico22-m-2x-offset-x: -784px;
$ico22-m-2x-offset-y: -96px;
$ico22-m-2x-width: 96px;
$ico22-m-2x-height: 96px;
$ico22-m-2x-total-width: 880px;
$ico22-m-2x-total-height: 772px;
$ico22-m-2x-image: 'sprite@2x.png';
$ico22-m-2x: (784px, 96px, -784px, -96px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico22_m@2x', );
$ico-clock-2x-name: 'ico_clock@2x';
$ico-clock-2x-x: 528px;
$ico-clock-2x-y: 384px;
$ico-clock-2x-offset-x: -528px;
$ico-clock-2x-offset-y: -384px;
$ico-clock-2x-width: 46px;
$ico-clock-2x-height: 50px;
$ico-clock-2x-total-width: 880px;
$ico-clock-2x-total-height: 772px;
$ico-clock-2x-image: 'sprite@2x.png';
$ico-clock-2x: (528px, 384px, -528px, -384px, 46px, 50px, 880px, 772px, 'sprite@2x.png', 'ico_clock@2x', );
$ico-clock-s-2x-name: 'ico_clock_s@2x';
$ico-clock-s-2x-x: 784px;
$ico-clock-s-2x-y: 738px;
$ico-clock-s-2x-offset-x: -784px;
$ico-clock-s-2x-offset-y: -738px;
$ico-clock-s-2x-width: 24px;
$ico-clock-s-2x-height: 24px;
$ico-clock-s-2x-total-width: 880px;
$ico-clock-s-2x-total-height: 772px;
$ico-clock-s-2x-image: 'sprite@2x.png';
$ico-clock-s-2x: (784px, 738px, -784px, -738px, 24px, 24px, 880px, 772px, 'sprite@2x.png', 'ico_clock_s@2x', );
$ico-delivery-m-2x-name: 'ico_delivery_m@2x';
$ico-delivery-m-2x-x: 784px;
$ico-delivery-m-2x-y: 384px;
$ico-delivery-m-2x-offset-x: -784px;
$ico-delivery-m-2x-offset-y: -384px;
$ico-delivery-m-2x-width: 96px;
$ico-delivery-m-2x-height: 96px;
$ico-delivery-m-2x-total-width: 880px;
$ico-delivery-m-2x-total-height: 772px;
$ico-delivery-m-2x-image: 'sprite@2x.png';
$ico-delivery-m-2x: (784px, 384px, -784px, -384px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico_delivery_m@2x', );
$ico-gift-m-2x-name: 'ico_gift_m@2x';
$ico-gift-m-2x-x: 784px;
$ico-gift-m-2x-y: 480px;
$ico-gift-m-2x-offset-x: -784px;
$ico-gift-m-2x-offset-y: -480px;
$ico-gift-m-2x-width: 96px;
$ico-gift-m-2x-height: 96px;
$ico-gift-m-2x-total-width: 880px;
$ico-gift-m-2x-total-height: 772px;
$ico-gift-m-2x-image: 'sprite@2x.png';
$ico-gift-m-2x: (784px, 480px, -784px, -480px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico_gift_m@2x', );
$ico-money-m-2x-name: 'ico_money_m@2x';
$ico-money-m-2x-x: 784px;
$ico-money-m-2x-y: 576px;
$ico-money-m-2x-offset-x: -784px;
$ico-money-m-2x-offset-y: -576px;
$ico-money-m-2x-width: 96px;
$ico-money-m-2x-height: 96px;
$ico-money-m-2x-total-width: 880px;
$ico-money-m-2x-total-height: 772px;
$ico-money-m-2x-image: 'sprite@2x.png';
$ico-money-m-2x: (784px, 576px, -784px, -576px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico_money_m@2x', );
$ico-percent-m-2x-name: 'ico_percent_m@2x';
$ico-percent-m-2x-x: 784px;
$ico-percent-m-2x-y: 288px;
$ico-percent-m-2x-offset-x: -784px;
$ico-percent-m-2x-offset-y: -288px;
$ico-percent-m-2x-width: 96px;
$ico-percent-m-2x-height: 96px;
$ico-percent-m-2x-total-width: 880px;
$ico-percent-m-2x-total-height: 772px;
$ico-percent-m-2x-image: 'sprite@2x.png';
$ico-percent-m-2x: (784px, 288px, -784px, -288px, 96px, 96px, 880px, 772px, 'sprite@2x.png', 'ico_percent_m@2x', );
$ico-question-2x-name: 'ico_question@2x';
$ico-question-2x-x: 784px;
$ico-question-2x-y: 672px;
$ico-question-2x-offset-x: -784px;
$ico-question-2x-offset-y: -672px;
$ico-question-2x-width: 66px;
$ico-question-2x-height: 66px;
$ico-question-2x-total-width: 880px;
$ico-question-2x-total-height: 772px;
$ico-question-2x-image: 'sprite@2x.png';
$ico-question-2x: (784px, 672px, -784px, -672px, 66px, 66px, 880px, 772px, 'sprite@2x.png', 'ico_question@2x', );
$label-2x-name: 'label@2x';
$label-2x-x: 0px;
$label-2x-y: 0px;
$label-2x-offset-x: 0px;
$label-2x-offset-y: 0px;
$label-2x-width: 272px;
$label-2x-height: 68px;
$label-2x-total-width: 880px;
$label-2x-total-height: 772px;
$label-2x-image: 'sprite@2x.png';
$label-2x: (0px, 0px, 0px, 0px, 272px, 68px, 880px, 772px, 'sprite@2x.png', 'label@2x', );
$star-empty-2x-name: 'star_empty@2x';
$star-empty-2x-x: 850px;
$star-empty-2x-y: 672px;
$star-empty-2x-offset-x: -850px;
$star-empty-2x-offset-y: -672px;
$star-empty-2x-width: 30px;
$star-empty-2x-height: 28px;
$star-empty-2x-total-width: 880px;
$star-empty-2x-total-height: 772px;
$star-empty-2x-image: 'sprite@2x.png';
$star-empty-2x: (850px, 672px, -850px, -672px, 30px, 28px, 880px, 772px, 'sprite@2x.png', 'star_empty@2x', );
$star-full-2x-name: 'star_full@2x';
$star-full-2x-x: 850px;
$star-full-2x-y: 700px;
$star-full-2x-offset-x: -850px;
$star-full-2x-offset-y: -700px;
$star-full-2x-width: 30px;
$star-full-2x-height: 28px;
$star-full-2x-total-width: 880px;
$star-full-2x-total-height: 772px;
$star-full-2x-image: 'sprite@2x.png';
$star-full-2x: (850px, 700px, -850px, -700px, 30px, 28px, 880px, 772px, 'sprite@2x.png', 'star_full@2x', );
$spritesheet-width: 440px;
$spritesheet-height: 386px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($ico01, $ico01-m, $ico02, $ico02-m, $ico03, $ico03-m, $ico04, $ico04-m, $ico05, $ico05-m, $ico06, $ico06-m, $ico07, $ico07-m, $ico08, $ico08-m, $ico09, $ico09-m, $ico10, $ico10-m, $ico11, $ico11-m, $ico12, $ico12-m, $ico13, $ico13-m, $ico14, $ico14-m, $ico15, $ico15-m, $ico16, $ico16-m, $ico17, $ico17-m, $ico18, $ico18-m, $ico19, $ico19-m, $ico20, $ico20-m, $ico21, $ico21-m, $ico22, $ico22-m, $ico-clock, $ico-clock-s, $ico-delivery-m, $ico-gift-m, $ico-money-m, $ico-percent-m, $ico-question, $label, $star-empty, $star-full, );
$spritesheet: (440px, 386px, 'sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 880px;
$retina-spritesheet-height: 772px;
$retina-spritesheet-image: 'sprite@2x.png';
$retina-spritesheet-sprites: ($ico01-2x, $ico01-m-2x, $ico02-2x, $ico02-m-2x, $ico03-2x, $ico03-m-2x, $ico04-2x, $ico04-m-2x, $ico05-2x, $ico05-m-2x, $ico06-2x, $ico06-m-2x, $ico07-2x, $ico07-m-2x, $ico08-2x, $ico08-m-2x, $ico09-2x, $ico09-m-2x, $ico10-2x, $ico10-m-2x, $ico11-2x, $ico11-m-2x, $ico12-2x, $ico12-m-2x, $ico13-2x, $ico13-m-2x, $ico14-2x, $ico14-m-2x, $ico15-2x, $ico15-m-2x, $ico16-2x, $ico16-m-2x, $ico17-2x, $ico17-m-2x, $ico18-2x, $ico18-m-2x, $ico19-2x, $ico19-m-2x, $ico20-2x, $ico20-m-2x, $ico21-2x, $ico21-m-2x, $ico22-2x, $ico22-m-2x, $ico-clock-2x, $ico-clock-s-2x, $ico-delivery-m-2x, $ico-gift-m-2x, $ico-money-m-2x, $ico-percent-m-2x, $ico-question-2x, $label-2x, $star-empty-2x, $star-full-2x, );
$retina-spritesheet: (880px, 772px, 'sprite@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$ico01-group-name: 'ico01';
$ico01-group: ('ico01', $ico01, $ico01-2x, );
$ico01-m-group-name: 'ico01_m';
$ico01-m-group: ('ico01_m', $ico01-m, $ico01-m-2x, );
$ico02-group-name: 'ico02';
$ico02-group: ('ico02', $ico02, $ico02-2x, );
$ico02-m-group-name: 'ico02_m';
$ico02-m-group: ('ico02_m', $ico02-m, $ico02-m-2x, );
$ico03-group-name: 'ico03';
$ico03-group: ('ico03', $ico03, $ico03-2x, );
$ico03-m-group-name: 'ico03_m';
$ico03-m-group: ('ico03_m', $ico03-m, $ico03-m-2x, );
$ico04-group-name: 'ico04';
$ico04-group: ('ico04', $ico04, $ico04-2x, );
$ico04-m-group-name: 'ico04_m';
$ico04-m-group: ('ico04_m', $ico04-m, $ico04-m-2x, );
$ico05-group-name: 'ico05';
$ico05-group: ('ico05', $ico05, $ico05-2x, );
$ico05-m-group-name: 'ico05_m';
$ico05-m-group: ('ico05_m', $ico05-m, $ico05-m-2x, );
$ico06-group-name: 'ico06';
$ico06-group: ('ico06', $ico06, $ico06-2x, );
$ico06-m-group-name: 'ico06_m';
$ico06-m-group: ('ico06_m', $ico06-m, $ico06-m-2x, );
$ico07-group-name: 'ico07';
$ico07-group: ('ico07', $ico07, $ico07-2x, );
$ico07-m-group-name: 'ico07_m';
$ico07-m-group: ('ico07_m', $ico07-m, $ico07-m-2x, );
$ico08-group-name: 'ico08';
$ico08-group: ('ico08', $ico08, $ico08-2x, );
$ico08-m-group-name: 'ico08_m';
$ico08-m-group: ('ico08_m', $ico08-m, $ico08-m-2x, );
$ico09-group-name: 'ico09';
$ico09-group: ('ico09', $ico09, $ico09-2x, );
$ico09-m-group-name: 'ico09_m';
$ico09-m-group: ('ico09_m', $ico09-m, $ico09-m-2x, );
$ico10-group-name: 'ico10';
$ico10-group: ('ico10', $ico10, $ico10-2x, );
$ico10-m-group-name: 'ico10_m';
$ico10-m-group: ('ico10_m', $ico10-m, $ico10-m-2x, );
$ico11-group-name: 'ico11';
$ico11-group: ('ico11', $ico11, $ico11-2x, );
$ico11-m-group-name: 'ico11_m';
$ico11-m-group: ('ico11_m', $ico11-m, $ico11-m-2x, );
$ico12-group-name: 'ico12';
$ico12-group: ('ico12', $ico12, $ico12-2x, );
$ico12-m-group-name: 'ico12_m';
$ico12-m-group: ('ico12_m', $ico12-m, $ico12-m-2x, );
$ico13-group-name: 'ico13';
$ico13-group: ('ico13', $ico13, $ico13-2x, );
$ico13-m-group-name: 'ico13_m';
$ico13-m-group: ('ico13_m', $ico13-m, $ico13-m-2x, );
$ico14-group-name: 'ico14';
$ico14-group: ('ico14', $ico14, $ico14-2x, );
$ico14-m-group-name: 'ico14_m';
$ico14-m-group: ('ico14_m', $ico14-m, $ico14-m-2x, );
$ico15-group-name: 'ico15';
$ico15-group: ('ico15', $ico15, $ico15-2x, );
$ico15-m-group-name: 'ico15_m';
$ico15-m-group: ('ico15_m', $ico15-m, $ico15-m-2x, );
$ico16-group-name: 'ico16';
$ico16-group: ('ico16', $ico16, $ico16-2x, );
$ico16-m-group-name: 'ico16_m';
$ico16-m-group: ('ico16_m', $ico16-m, $ico16-m-2x, );
$ico17-group-name: 'ico17';
$ico17-group: ('ico17', $ico17, $ico17-2x, );
$ico17-m-group-name: 'ico17_m';
$ico17-m-group: ('ico17_m', $ico17-m, $ico17-m-2x, );
$ico18-group-name: 'ico18';
$ico18-group: ('ico18', $ico18, $ico18-2x, );
$ico18-m-group-name: 'ico18_m';
$ico18-m-group: ('ico18_m', $ico18-m, $ico18-m-2x, );
$ico19-group-name: 'ico19';
$ico19-group: ('ico19', $ico19, $ico19-2x, );
$ico19-m-group-name: 'ico19_m';
$ico19-m-group: ('ico19_m', $ico19-m, $ico19-m-2x, );
$ico20-group-name: 'ico20';
$ico20-group: ('ico20', $ico20, $ico20-2x, );
$ico20-m-group-name: 'ico20_m';
$ico20-m-group: ('ico20_m', $ico20-m, $ico20-m-2x, );
$ico21-group-name: 'ico21';
$ico21-group: ('ico21', $ico21, $ico21-2x, );
$ico21-m-group-name: 'ico21_m';
$ico21-m-group: ('ico21_m', $ico21-m, $ico21-m-2x, );
$ico22-group-name: 'ico22';
$ico22-group: ('ico22', $ico22, $ico22-2x, );
$ico22-m-group-name: 'ico22_m';
$ico22-m-group: ('ico22_m', $ico22-m, $ico22-m-2x, );
$ico-clock-group-name: 'ico_clock';
$ico-clock-group: ('ico_clock', $ico-clock, $ico-clock-2x, );
$ico-clock-s-group-name: 'ico_clock_s';
$ico-clock-s-group: ('ico_clock_s', $ico-clock-s, $ico-clock-s-2x, );
$ico-delivery-m-group-name: 'ico_delivery_m';
$ico-delivery-m-group: ('ico_delivery_m', $ico-delivery-m, $ico-delivery-m-2x, );
$ico-gift-m-group-name: 'ico_gift_m';
$ico-gift-m-group: ('ico_gift_m', $ico-gift-m, $ico-gift-m-2x, );
$ico-money-m-group-name: 'ico_money_m';
$ico-money-m-group: ('ico_money_m', $ico-money-m, $ico-money-m-2x, );
$ico-percent-m-group-name: 'ico_percent_m';
$ico-percent-m-group: ('ico_percent_m', $ico-percent-m, $ico-percent-m-2x, );
$ico-question-group-name: 'ico_question';
$ico-question-group: ('ico_question', $ico-question, $ico-question-2x, );
$label-group-name: 'label';
$label-group: ('label', $label, $label-2x, );
$star-empty-group-name: 'star_empty';
$star-empty-group: ('star_empty', $star-empty, $star-empty-2x, );
$star-full-group-name: 'star_full';
$star-full-group: ('star_full', $star-full, $star-full-2x, );
$retina-groups: ($ico01-group, $ico01-m-group, $ico02-group, $ico02-m-group, $ico03-group, $ico03-m-group, $ico04-group, $ico04-m-group, $ico05-group, $ico05-m-group, $ico06-group, $ico06-m-group, $ico07-group, $ico07-m-group, $ico08-group, $ico08-m-group, $ico09-group, $ico09-m-group, $ico10-group, $ico10-m-group, $ico11-group, $ico11-m-group, $ico12-group, $ico12-m-group, $ico13-group, $ico13-m-group, $ico14-group, $ico14-m-group, $ico15-group, $ico15-m-group, $ico16-group, $ico16-m-group, $ico17-group, $ico17-m-group, $ico18-group, $ico18-m-group, $ico19-group, $ico19-m-group, $ico20-group, $ico20-m-group, $ico21-group, $ico21-m-group, $ico22-group, $ico22-m-group, $ico-clock-group, $ico-clock-s-group, $ico-delivery-m-group, $ico-gift-m-group, $ico-money-m-group, $ico-percent-m-group, $ico-question-group, $label-group, $star-empty-group, $star-full-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
