// FONTS
$tahoma: tahoma, geneva, sans-serif;
$gloria: "aggloriaroman", serif;
$arial: arial, helvetica, sans-serif; // icons font

// COLORS
$gray: #879299;
$dark-gray: #606a6a;
$light-gray: #ebeded;
$medium-gray: #e3e8e8;

$green: #1abc9c;
$green-muddy: #66b094;
$green-darker: #17a88c;
$green-blue: #07939e;
$green-blue-darker: #05757e;

$blue: #55c5d1;
$medium-blue: #06929e;
$dark-blue: #415b77;

$red: #e63c29;

// BG
$bg-body: #f7f8f8;
$bg-box: #eff0f0; // aside gray block

// CONTAINER WIDTH
$container: 1000px;

// SUSY GRID
$susy: (
	columns: 12,
	container: $container,
	gutters: 20px/65px,
	gutter-position: after, // default
	global-box-sizing: border-box
);

// RIPPLES
// ripple defaults
$ripple-duration: .4s; // remRippleTimeout in js file must be the same
$ripple-color: #fff; // can be overwritten with data-ripple-color attr
$ripple-opacity: .25;

// RESPONSIVE BREAKPOINTS
// MIN-WIDTH
$breakpoints: (
	small: 540px,
	medium: 767px,
	large: 1023px,
	xlarge: 1281px
);

// MAX-WIDTH
// $max-width-bp: true;
// $breakpoints: (
// 	big-tablets: ,
// 	tablets: ,
// 	small-tablets: ,
// 	mobile: 
// );
