html { 
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font: 14px/1.42857 $gloria;
	color: $gray;
	min-width: 320px;
	background: $bg-body;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: $green;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.container {
	margin: 0 10px;
	@include clrf;

	@include respond-to(large) {
		max-width: $container;
		margin-right: auto;
		margin-left: auto;
	}
}

%links-bar-styles {
	color: #fff;
	text-shadow: 0 1px 0 $green-blue-darken;
	background: $green;
	border-bottom: 4px solid $green-darken;
}

%overlay-active {
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
}

%mob-menu-common {
	width: 250px;
	height: 100%;
	background: #fff;
	overflow-y: auto;
	visibility: hidden;

	position: fixed;
	top: 0;
	z-index: 16;
	transition: visibility 0s .3s, transform .3s;
}

%mob-menu-active {
	visibility: visible;
	transition-delay: 0s;
}

.logo {
	display: block;
	width: 186px;
	height: 37px;

	&__link {
		display: block;
		height: 100%;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/logo.svg) no-repeat;
	}
}

.ttl {
	font: 21px/1.2 $gloria;
	word-spacing: 1px;
	margin-bottom: 10px;
}

// 		HEADER
// ==============================
.site-header {
	padding: 15px 0;

	@include respond-to(small) {
		padding: calc-percentage(30px) 0 calc-percentage(19px);
	}
	@include respond-to(large) {
		padding: 30px 0 19px;
	}

	&__top {
		text-align: center;
		@include clrf;

		@include respond-to(xlarge) {
			margin-bottom: 29px;
		}
	}

	&__logo {
		margin: 0 auto;

		@include respond-to(small) {
			float: left;
		}
		@include respond-to(large) {
			margin-top: 3px;
		}
	}

	&__categories-trigger {
		float: left;

		@include respond-to(small) {
			display: none;
		}
	}

	&__social {
		display: none;

		@include respond-to(small) {
			display: inline-block;

		}
		@include respond-to(large) {
			margin-left: 17px;
		}
	}

	&__menu-trigger {
		float: right;

		@include respond-to(xlarge) {
			display: none;
		}
	}

	&__search-form {
		display: none;

		@include respond-to(xlarge) {
			display: block;
			float: right;
			width: 262px;
			margin-top: -4px;
		}
	}
}

// 		NAVIGATION
// ==============================
.main-nav {
	$anim-duration: .3s;
	$link-bd-b: 4px;
	@extend %links-bar-styles;
	display: none;

	@include respond-to(xlarge) {
		display: block;
		font: 18px/1.2 $tahoma;
		padding: 0 6px 0 21px;
		border-radius: 3px;

		&__list {
			@include clrf;
		}

		&__item {
			float: left;
			margin-bottom: -$link-bd-b;

			&:first-letter {
				text-transform: uppercase;
			}

			&_drop {
				position: relative;

				&:hover {
					>.main-nav__link {
						background: $green-blue;
						border-bottom-color: $green-blue-darken;

						&:before,
						&:after {
							transform: rotate(180deg);
						}
					}

					>.main-nav__drop-list {
						visibility: visible;
						opacity: 1;
						transition-delay: 0s;
					}
				}

				// triangle for top level link
				>.main-nav__link {
					$trl-w: 6px;
					$trl-h: 3px;
					$pos-t: 27px;
					$pos-r: 25px;
					padding-right: 35px;
					position: relative;

					&:before,
					&:after {
						content: "";
						width: 0;
						height: 0;
						border-top: $trl-h solid #fff;
						border-right: $trl-w/2 solid transparent;
						border-left: $trl-w/2 solid transparent;

						position: absolute;
						top: $pos-t;
						right: $pos-r;
						transition: transform $anim-duration;
					}
					// triangle shadow
					&:before {
						top: $pos-t + 1px;
						border-top-color: $green-blue-darken;
					}
				}
			}

			// aside link
			&_aside {
				float: right;
			}

			&_ico {
				.main-nav__link {
					&:before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 32px;
						height: 32px;
						margin: -18px 12px -16px 0;
						border-radius: 2px;
						overflow: hidden;
						box-shadow: 1px 1px 0 #8ac6b0;
					}
				}
			}
		}

		&__link {
			display: block;
			color: inherit;
			padding: 16px 18px 14px 22px;
			border-bottom: $link-bd-b solid transparent;
			transition: background .3s, border-color $anim-duration;

			&:hover {
				text-decoration: none;
				background: $green-blue;
				border-bottom-color: $green-blue-darken;
			}
		}

		&__drop-list {
			min-width: 100%;
			background: darken($green, 3%);

			opacity: 0;
			visibility: hidden;
			transition: 0s visibility $anim-duration, opacity $anim-duration;

			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;

			// remove bottom border
			.main-nav__link {
				border-bottom-color: transparent;
			}
		}

		&__drop-item {
			&:first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.mob-nav {
	@extend %mob-menu-common;

	font: 16px/1.2 $tahoma;
	color: $dark-gray;
	right: -250px;

	@include respond-to(medium) {
		width: 300px;
		right: -300px;
	}
	@include respond-to(xlarge) {
		display: none;
	}

	&__inner {
		min-height: 100%;
		padding: 0 0 72px;
	}

	&__item {
		&_drop {
			&.is-active {
				> .mob-nav__drop-list {
					display: block;
				}

				.mob-nav__item-svg {
					transform: rotate(180deg);
				}
			}
		}

		&_divided {
			border-top: 1px solid lighten($gray, 30%);
		}

		// arrow down
		&-svg {
			$size: 14px;
			width: $size;
			height: $size;
			margin-top: -$size/2;
			position: absolute;
			top: 50%;
			right: 10px;
			transition: transform .3s;

			fill: $green;
		}
	}

	&__link {
		display: block;
		padding: 10px 30px 15px 16px;
		color: inherit;
		position: relative;

		&:first-letter {
			text-transform: uppercase;
		}
		&:hover {
			text-decoration: none;
		}
	}

	&__drop-list {
		padding: 5px 0;
		color: #fff;
		background: darken($green, 10%);
		display: none;
	}

	&__drop-link {
		padding-left: 21px;
	}

	&__social {
		font-size: 0;
		text-align: center;
		width: 100%;
		margin-top: -42px; // ico height + 10px

		.social__item {
			float: none;
			display: inline-block;
		}
	}
}

.pagination {
	font: 14px/1 $tahoma;
	color: #bdc3c6;
	text-align: center;
	margin-bottom: 20px;
	overflow: hidden;

	@include respond-to(medium) {
		margin-bottom: 0;
	}
	@include respond-to(large) {
		margin-top: -11px;
	}

	&__item {
		&:first-child {
			margin-left: 0;
		}

		float: left;
		margin-left: 4px;

		&:hover,
		&.active {
			.pagination__link {
				color: #fff;
				background: $green;
				border-color: $green;
				border-bottom-color: $green-darken;
			}
		}

		&.active {
			.pagination__link {
				@include respond-to(large) {
					pointer-events: none;
				}
			}
		}
	}

	&__link {
		display: block;
		min-width: 22px;
		height: 32px;
		line-height: 32px;
		padding: 0 2px;
		color: inherit;
		border: solid $light-gray;
		border-width: 1px 1px 3px;

		@include respond-to(large) {
			transition: color .3s, background .3s, border-color .3s;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

// 		CATEGORIES && ASIDE BLOCKS
// ========================================
// wrap for categories and aside blocks on main page
.two-cols {
	@include respond-to(medium) {
		@include clrf;
	}
	@include respond-to(large) {
		margin-bottom: 10px;
	}

	&__item {
		margin-bottom: 20px;

		@include respond-to(medium) {
			&:first-child {
				float: right;
				width: calc-percentage(642px);
			}

			float: left;
			width: calc-percentage(340px);
		}
	}
}

.categories {
	// off-canvas fixed position on mobile
	@extend %mob-menu-common;
	color: #99a1a7;
	padding: 5px 0 10px;
	left: -250px;

	@include respond-to(small) {
		width: auto;
		position: static;
		visibility: visible;
		transition-delay: 0s;
		padding: 5px 0 4px;
		border: solid $light-gray;
		border-width: 1px 1px 4px;
	}
	@include respond-to(large) {
		padding: 9px 0 11px;
		margin-bottom: 66px;
	}

	&_wide {
		@include respond-to(large) {
			margin-bottom: 20px;
		}

		.categories__item {
			@include respond-to(medium) {
				float: left;
				width: 50%;
			}
		}

		.categories__link {
			@include respond-to(large) {
				padding-left: 40px;
			}
		}
	}

	&__list {
		@include respond-to(small) {
			overflow: hidden;
		}
	}

	&__item {
		@include respond-to(small) {
			float: left;
			width: 50%;
		}
		@include respond-to(medium) {
			float: none;
			width: 100%;
		}
	}

	&__link {
		display: block;
		padding: 3px 30px 2px 10px;
		overflow: hidden;

		@include respond-to(small) {
			padding: 5px 6%;
		}
		@include respond-to(large) {
			padding: 8px 40px 8px 29px;
		}
		@include respond-to(xlarge) {
			transition: background .3s;
		}

		&:hover {
			text-decoration: none;
			background: lighten($green, 55%);
		}
	}

	&__ico {
		float: left;
		width: 64px;
		height: 64px;
		margin-right: 10px;
		border-radius: 6px;

		@include respond-to(small) {
			margin-right: 10px;
		}
		@include respond-to(large) {
			margin-right: 20px;
		}
	}

	&__text {
		display: block;
		color: #99a1a7;
		overflow: hidden;
	}

	&__ttl {
		display: block;
		font: 15px/1.2 $gloria;
		color: $gray;
		margin-bottom: 2px;

		@include respond-to(medium) {
			font-size: 16px;
		}
	}

	&__small {
		font: 12px/1.2 $gloria;

		&-qty {
			color: $green;
		}
	}
}

.box-wrap {
	padding: 10px;
	background: $bg-box;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	@include respond-to(small) {
		padding: 10px 15px;
	}
	@include respond-to(medium) {
		padding: 17px 10px 10px;
		border: solid #fff;
		border-width: 0 1px 1px 0;
	}
	@include respond-to(large) {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.box {
	$dots-size: 5px;
	$bd-w: 2px;
	$dots-position: ($dots-size + $bd-w)/2;
	// non-base64:
	// <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="#45c8dc" /></svg>

	font-family: $tahoma;
	line-height: 1.2;
	text-align: center;

	@include respond-to(medium) {
		border: $bd-w solid $medium-gray;
		position: relative;

		&:before,
		&:after {
			content: "";
			width: $dots-size;
			// base64 for IE
			background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0iIzQ1YzhkYyIgLz48L3N2Zz4='),
									url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0iIzQ1YzhkYyIgLz48L3N2Zz4=');
			background-size: $dots-size $dots-size;
			background-repeat: no-repeat;
			background-position: 0 0, 0 100%;

			position: absolute;
			top: -$dots-position;
			bottom: -$dots-position;
		}
		&:before {
			left: -$dots-position;
		}
		&:after {
			right: -$dots-position;
		}
	}

	&__title {
		display: inline-block;
		vertical-align: top;
		min-width: 170px;
		max-width: 90%;
		padding: 0 5px;
		margin-bottom: 10px;
		font-size: 20px;
		color: $medium-blue;
		text-align: center;
		word-spacing: -1px;

		@include respond-to(medium) {
			margin: -13px 0 3px;
			background: $bg-box;
		}
	}

	&__subtitle {
		display: block;
		font-size: 13px;
		color: $green;
	}
}

// 		TOP SHOPS
// ========================================
.top-shops {
	margin-left: -8px;
	padding: 5px 5px 2px 0;
	font-size: 0;
	text-align: center;

	@include respond-to(large) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&_padding {
		@include respond-to(large) {
			padding-left: 13px;
			padding-right: 20px;
		}
	}

	&__item {
		display: inline-block;
		width: 130px;
		max-width: 136px;
		height: 34px;
		margin: 0 0 5px 8px;
		background-color: transparent;

		@include respond-to(medium) {
			width: calc-percentage(136px, 324px);
		}
		@include respond-to(large) {
			width: 136px;
			margin-bottom: 8px;
		}
	}

	&__link {
		display: block;
		height: 100%;
		padding: 0 2px 1px 19px;
		background: #fff;
		background-clip: content-box;
		position: relative;
		@include vertical;

		@include respond-to(xlarge) {
			padding-left: 25px;
		}

		&:hover:after {
			opacity: 1;
		}

		&:after {
			content: "";
			height: 100%;
			border-bottom: 2px solid $green-darken;
			border-radius: 0 0 0 30px/7px;
			opacity: 0;

			position: absolute;
			left: 6px;
			right: 0;
			bottom: -1px;

			@include respond-to(xlarge) {
				transition: opacity .3s;
			}
		}
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}

// just separ)
.separ {
	display: none;

	@include respond-to(large) {
		display: block;
		height: 0;
		margin: 0 0 21px;
		border: solid $light-gray;
		border-width: 0 0 2px;
	}
}

// 		TILES
// ========================================
.tiles-wrap {
	margin-bottom: 30px;

	@include respond-to(large) {
		margin-bottom: 35px;
	}
}

.tiles {
	font: 17px/20px $gloria;
	color: $dark-gray;
	@include clrf;

	&_wide {
		.tiles__item {
			@include respond-to(small) {
				@include gallery(6);

				&:last-child {
					@include push(3);
				}
			}
			@include respond-to(large) {
				@include gallery(4);
				margin-bottom: 30px;
			}
		}

		.tiles__btn {
			@include respond-to(medium) {
				width: calc-percentage(187px, 343px);
				margin-left: 3px;
				margin-top: 0;
			}
			@include respond-to(large) {
				width: 152px;
			}
		}
	}

	&__item {
		margin-bottom: gutter();
		background: #fff;
		border: 1px dashed $medium-gray;

		@include respond-to(small) {
			@include gallery(6);
		}
		@include respond-to(medium) {
			@include gallery(4 of 8);
			margin-bottom: 20px;
		}
	}

	&__content-wrap {
		min-height: 225px;
		padding: 0 12px;
	}

	&__img-wrap {
		display: block;
		height: 115px;
		margin: 0 -12px 15px;
		padding: 0 10px;
		text-align: center;
		position: relative;
		// image vertical alignment
		@include vertical;

		&:after {
			content: "";
			border-bottom: 1px dashed $medium-gray;

			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
		}

		@include respond-to(xlarge) {
			&:after {
				transition: transform .3s, border-color .5s .2s;
			}

			// anim border on a.img-wrap hover
			&:hover:after {
				border-bottom: 2px solid $green;
				transform: scaleX(0.75);
				transition-delay: 0s;
			}
		}
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}

	&__link {
		font-size: 12px;
	}

	&__text {
		max-height: 60px;
		margin-bottom: 7px;
		overflow: hidden;
	}

	&__bottom {
		padding: 0 5px 15px 8px;
		font-size: 0;
		text-align: center;
	}

	&__icons {
		display: inline-block;
		vertical-align: top;
		@include clrf;

		&-item {
			&:first-child {
				margin-left: 0;
			}

			float: left;
			width: 48px;
			height: 48px;
			margin-left: 3px;
			border-radius: 4px;
			text-indent: -9999px;
		}
	}

	&__btn {
		@extend %button-reset;
		width: 100%;
		height: 48px;
		margin-top: 5px;
		padding: 0 5px;
		line-height: 48px;
		font-size: 13px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		@include respond-to(large) {
			width: 152px;
			margin: 0 0 0 3px;
		}
	}

	&__more {
		@extend %button-reset;
		display: block;
		width: 100%;
		padding: 10px;
		font-size: 12px;
		color: $green;
		text-align: center;
		word-spacing: 1px;
		background: #fff;
		border: 1px dashed $medium-gray;

		&:hover {
			color: #fff;
			background: $green;
		}

		@include respond-to(xlarge) {
			margin-top: -10px;
			transition: background .3s, color .3s;
		}

		&-text {
			position: relative;
			margin-left: 6px;

			&:after {
				$w: 7px;
				$h: 4px;
				content: "";
				width: 0;
				height: 0;
				margin-top: -$h/2;
				border-top: $h solid #dfe1e1;
				border-right: $w/2 solid transparent;
				border-left: $w/2 solid transparent;

				position: absolute;
				top: 50%;
				right: -14px;
			}
		}
	}

	&__promo {
		$height: 23px;
		min-width: 100px;
		height: $height;
		padding: 0px 11px 0;
		font-size: 13px;
		line-height: $height;
		color: #fff;
		text-align: left;
		background: $red;

		position: absolute;
		top: 11px;
		left: 0;

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-right: 6px solid #fff;
			border-top: $height/2 solid transparent;
			border-bottom: $height/2 solid transparent;
			position: absolute;
			top: 0;
			right: 0;
		}

		&_blue {
			background: $blue;
		}
	}
}

// small ico with n days left
.ico-counter {
	font: bold 9px/1.2 $arial;
	color: $dark-blue;
	text-indent: 0;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: -1px;
	padding: 9px 6px 0px 3px;
	background: #e8eaea;
	position: relative;
	cursor: default;
	user-select: none;

	&:before {
		content: "";
		width: 23px;
		height: 25px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: transparent;
		@extend %sprite;
		@include sprite-position($ico-clock);
	}

	&__val,
	&__day {
		float: right;
	}

	&__val {
		font-size: 15px;
		color: #eb3f11;
	}

	&__day {
		margin-top: -3px;
		clear: both;
		font-size: 8px;
	}
}

// latest BLOG news
.blog-news {
	margin-bottom: 30px;

	&__list {
		padding-top: 10px;
		margin-bottom: -10px;
		overflow: hidden;
		font-size: 12px;
		text-align: left;

		@include respond-to(medium) {
			padding: 16px 8px 10px 26px;
		}
	}

	&__item {
		margin-bottom: 15px;

		@include respond-to(small) {
			float: left;
			width: 50%;
			padding-right: 15px;
		}
		@include respond-to(large) {
			margin-bottom: 28px;
		}
	}

	&__ico {
		float: left;
		width: 47px;
		height: 47px;
		margin-right: 12px;
		padding: 8px 0 3px 3px;
		font: bold 10px/1 $arial;
		color: #bdbdbd;
		text-align: center;
		text-transform: uppercase;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 2px 0 #e1e4e4;

		@include respond-to(xlarge) {
			transition: box-shadow .3s, color .3s;
		}

		&:hover {
			color: $gray;
			text-decoration: none;
			box-shadow: 0 2px 0 $green-darken;

			.blog-news__ico-day {
				color: $green-darken;
			}
		}

		&-day {
			display: block;
			font-size: 21px;
			color: $green;

			@include respond-to(xlarge) {
				transition: color .3s;
			}
		}
	}

	&__text {
		overflow: hidden;
	}

	&__ttl {
		display: block;
		margin-bottom: 3px;
		font: 15px/20px $gloria;
		color: $dark-blue;
	}

	&__link {
		color: inherit;
	}
}

.bottom-bar {
	@extend %links-bar-styles;
	margin-top: 30px;
	padding: 3px 0 4px;
	font: 15px/1 $tahoma;
	text-align: center;

	@include respond-to(large) {
		margin-top: 42px;
	}

	&__container {
		@include respond-to(large) {
			display: flex;
			justify-content: space-between;

			&:after {
				content: none;
			}
		}
	}

	&__link {
		display: inline-block;
		padding: 8px 5px;
		margin: 0 12px;
		color: inherit;
	}
}

.site-footer {
	padding: 30px 0 20px;
	text-align: center;

	@include respond-to(medium) {
		text-align: left;
	}
	@include respond-to(large) {
		padding: 36px 0 36px;
	}

	&__left,
	&__center {
		margin-bottom: 20px;

		@include respond-to(medium) {
			margin-bottom: 0;
		}
	}

	&__left {
		@include respond-to(medium) {
			float: left;
			margin-right: -100%;
		}
	}

	&__center {
		@include respond-to(medium) {
			float: left;
			width: 100%;
			padding: 0 232px 0 186px; // right-left elems size
			text-align: center;
		}
		@include respond-to(large) {
			padding-right: span(4);
		}
	}

	&__right {
		@include respond-to(medium) {
			float: right;
			margin-left: -100%;
			text-align: right;
			font-size: 0;
		}
		@include respond-to(large) {
			@include span(4 last);
			padding-left: 2px;
			text-align: left;
		}
	}

	&__logo,
	&__social {
		display: inline-block;
		vertical-align: top;
	}

	&__social {
		@include respond-to(large) {
			margin-left: 74px;
		}
	}

	&__stats {
		display: none;

		@include respond-to(medium) {
			display: inline-block;
			vertical-align: middle;
			width: 88px;
			height: 31px;
			margin-right: 10px;
		}
		@include respond-to(large) {
			margin-right: 29px;
		}
	}

	&__copyright {
		font: 14px/1 $tahoma;

		@include respond-to(medium) {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.content {
	@include respond-to(medium) {
		float: right;
		width: calc-percentage(660px);
	}

	&_full-width {
		@include respond-to(medium) {
			float: none;
			width: auto;
		}
	}
}

.aside {
	@include respond-to(medium) {
		float: left;
		width: calc-percentage(322px);
	}
}

// 		TEXT-CONTENT / POST
// ========================================
// scope text styles to text content
.text-content {
	font: 13px/20px $gloria;
	color: #99a1a7;
	margin-bottom: 25px;

	.ico {
		float: left;
		width: 48px;
		height: 48px;
		margin: 2px 12px 0 0;
		text-indent: -9999px;
		overflow: hidden;
	}

	.img-wrap {
		min-height: 100px;
		margin-bottom: 10px;
		background: #fff;
		border: 1px dashed $medium-gray;
		overflow: hidden;
		position: relative;

		@include respond-to(small) {
			margin-bottom: 0;
			float: left;
			width: calc-percentage(320px, 660px);
			min-width: (320px/1.5);
			// just wanted to try classic padding hack)
			padding-bottom: calc-percentage(128px, 660px);
			margin-right: calc-percentage(22px, 660px);
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	h2 {
		font: 18px/1.2 $gloria;
		color: $green-blue-darken;
		margin-bottom: 3px;
	}

	strong {
		color: #646e74;
		font-weight: bold;
	}

	p {
		margin-bottom: 20px;
	}

	// text-content MODIFIERS
	// must be at the bottom of the module due to cascading styles
	&_shop {
		h2 {
			margin: -3px 0 15px;
		}
	}

	&_promo {
		font: 14px/1.2 $tahoma;
		color: #879299;
		margin-bottom: 30px;

		@include respond-to(large) {
			margin-bottom: 40px;
		}

		h2 {
			font-size: 25px;
			color: $green;
			margin-bottom: 15px;
		}
	}
}

.post-bottom {
	padding-top: 2px;
	overflow: hidden;

	&__social {
		float: left;
	}

	&__rating {
		float: right;
		line-height: 24px;

		@include respond-to(large) {
			padding-right: 7px;
		}
	}
}

.posts {
	font: 13px/20px $gloria;
	color: #99a1a7;

	&__single {
		padding: 0 0 18px 0;
		margin-bottom: 20px;
		border-bottom: 2px solid $light-gray;
		overflow: hidden;
	}

	&__img-wrap {
		float: left;
		width: 160px;
		margin-right: 10px;
		text-align: center;

		img {
			width: 100%;
			vertical-align: top;
		}

		.lazyload {
			width: auto;
			max-width: 100%;
		}
	}

	&__img-link {
		display: block;
	}

	&__content {
		overflow: hidden;
	}

	&__ttl {
		font-size: 17px;
		line-height: 20px;
		margin-bottom: 5px;
		color: #5f6a6a;

		&-link {
			color: inherit;
		}
	}

	&__text {
		margin-bottom: 10px;
	}

	&__meta {
		color: #bdc0c0;
		overflow: hidden;

		&-item {
			&:first-child {
				margin-left: 0;
			}

			float: left;
			margin-left: 3px;
			padding: 5px 17px 5px;
			border: 1px solid $medium-gray;
		}
	}
}

.expired {
	padding-top: 10px;
	font: 14px/20px $gloria;
	color: #828e8e;

	@include respond-to(large) {
		padding-top: 26px;
	}

	&__title {
		margin-left: 3px;
		color: $green-blue-darken;
	}

	&__items {
		overflow: hidden;
	}

	&__item {
		margin-bottom: gutter();
		background: #fff;
		border: 1px dashed $medium-gray;

		@include respond-to(small) {
			@include span(6);

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		@include respond-to(medium) {
			@include span(4 of 8);
			margin-bottom: 20px;
		}

		&-top {
			display: block;
			padding: 3px 5px 3px;
			font: 16px/1 $gloria;
			text-align: center;
			background: #fafafa;
			border-bottom: 1px dashed $medium-gray;
		}

		&-text {
			display: block;
			padding: 10px;
		}

		&-bottom {
			display: block;
			padding: 3px 10px 3px;
			font-size: 13px;
			border-top: 1px dashed $medium-gray;
		}
	}
}

.breadcrumbs {
	padding: 7px 10px 8px 19px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px dashed $medium-gray;
	font: 15px/18px $gloria;
	color: $green-blue-darken;
	overflow: hidden;

	&__list {
		overflow: hidden;
		margin-left: -5px;
	}

	&__item {
		&:first-child {
			&:before {
				content: none;
			}
		}

		float: left;
		margin-left: 5px;

		&:before {
			content: "\00BB";
			display: inline-block;
			margin-right: 5px;
		}
	}

	&__link {
		color: $gray;
	}
}

// 		MOBILE
// ========================================
.overlay {
	width: 0;
	height: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;

	transition: opacity .3s;
	will-change: opacity;

	@include respond-to(xlarge) {
		display: none;
	}
}

// 		MOBILE ACTIVE
// ========================================
// active classes on body
.mob-menu-active {
	overflow: hidden;

	.overlay {
		@extend %overlay-active;
	}

	.mob-nav {
		@extend %mob-menu-active;
		transform: translateX(-100%);
	}
}

.mob-categories-active {
	overflow: hidden;

	.overlay {
		@extend %overlay-active;
	}

	.categories {
		@extend %mob-menu-active;
		transform: translateX(100%);
	}
}