html { 
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font: 14px/#{(20/14)} $gloria;
	color: $gray;
	min-width: 320px;
	background: $bg-body;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: $green;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.container {
	margin: 0 10px;
	@include clrf;

	@include respond-to(large) {
		max-width: $container;
		margin-right: auto;
		margin-left: auto;
	}
}

%links-bar-styles {
	color: #fff;
	text-shadow: 0 1px 0 $green-blue-darker;
	background: $green;
	border-bottom: 4px solid $green-darker;
}

%overlay-active {
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: visible;
}

%mob-menu-common {
	width: 250px;
	height: 100%;
	background: #fff;
	overflow-y: auto;
	visibility: hidden;

	position: fixed;
	top: 0;
	z-index: 16;
	transition: visibility 0s .3s, transform .3s;
}

%mob-menu-active {
	visibility: visible;
	transition-delay: 0s;
}

%loader-size {
	width: 32px;
	height: 32px;
}

.logo {
	display: block;
	width: 186px;
	height: 37px;

	&__link {
		display: block;
		height: 100%;
		text-indent: -9999px;
		overflow: hidden;
		background: url(../images/logo.svg) no-repeat;
	}
}

.ttl {
	margin-bottom: 10px;
	font: 21px/1.2 $gloria;
	word-spacing: 1px;
	color: $green-blue-darker;

	&_box {
		padding: 8px 10px 8px 19px;
		margin-bottom: 15px;
		background: #fff;
		border: 1px dashed $medium-gray;
		font-size: 15px;
		word-spacing: normal;

		@include respond-to(small) {
			margin-bottom: 20px;
		}
	}

	&_smaller-gray {
		font-size: 17px;
		color: $dark-gray;
	}
}

// 		HEADER
// ==============================
.site-header {
	padding: 20px 0 30px;

	@include respond-to(large) {
		padding: 30px 0 19px;
	}

	&__top {
		text-align: center;
		@include clrf;

		@include respond-to(xlarge) {
			margin-bottom: 29px;
		}
	}

	&__logo {
		margin: 0 auto;

		@include respond-to(medium) {
			float: left;
		}
		@include respond-to(large) {
			margin-top: 3px;
		}
	}

	&__categories-trigger {
		float: left;

		@include respond-to(medium) {
			display: none;
		}
	}

	&__social {
		display: none;

		@include respond-to(medium) {
			display: inline-block;

		}
		@include respond-to(large) {
			margin-left: 17px;
		}
	}

	&__menu-trigger {
		float: right;

		@include respond-to(xlarge) {
			display: none;
		}
	}

	&__search-form {
		display: none;

		@include respond-to(xlarge) {
			display: block;
			float: right;
			width: 262px;
			margin-top: -4px;
		}
	}
}

// 		NAVIGATION
// ==============================
.main-nav {
	$anim-duration: .3s;
	$link-bd-b: 4px;
	@extend %links-bar-styles;
	display: none;

	@include respond-to(xlarge) {
		display: block;
		font: 18px/1.2 $tahoma;
		padding: 0 6px 0 21px;
		border-radius: 3px;

		&__list {
			@include clrf;
		}

		&__item {
			float: left;
			margin-bottom: -$link-bd-b;

			&:first-letter {
				text-transform: uppercase;
			}

			&_drop {
				position: relative;

				&:hover {
					>.main-nav__link {
						background: $green-blue;
						border-bottom-color: $green-blue-darker;

						&:before,
						&:after {
							transform: rotate(180deg);
						}
					}

					>.main-nav__drop-list {
						visibility: visible;
						opacity: 1;
						transition-delay: 0s;
					}
				}

				// triangle for top level link
				>.main-nav__link {
					$trl-w: 6px;
					$trl-h: 3px;
					$pos-t: 27px;
					$pos-r: 25px;
					padding-right: 35px;
					position: relative;

					&:before,
					&:after {
						content: "";
						width: 0;
						height: 0;
						border-top: $trl-h solid #fff;
						border-right: $trl-w/2 solid transparent;
						border-left: $trl-w/2 solid transparent;

						position: absolute;
						top: $pos-t;
						right: $pos-r;
						transition: transform $anim-duration;
					}
					// triangle shadow
					&:before {
						top: $pos-t + 1px;
						border-top-color: $green-blue-darker;
					}
				}
			}

			// aside link
			&_aside {
				float: right;
			}

			&_ico {
				.main-nav__link {
					&:before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 32px;
						height: 32px;
						margin: -18px 12px -16px 0;
						border-radius: 2px;
						overflow: hidden;
						box-shadow: 1px 1px 0 #8ac6b0;
					}
				}
			}
		}

		&__link {
			display: block;
			color: inherit;
			padding: 16px 18px 14px 22px;
			border-bottom: $link-bd-b solid transparent;
			transition: background .3s, border-color $anim-duration;

			&:hover {
				text-decoration: none;
				background: $green-blue;
				border-bottom-color: $green-blue-darker;
			}
		}

		&__drop-list {
			min-width: 100%;
			background: darken($green, 3%);

			opacity: 0;
			visibility: hidden;
			transition: 0s visibility $anim-duration, opacity $anim-duration;

			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;

			// remove bottom border
			.main-nav__link {
				border-bottom-color: transparent;
			}
		}

		&__drop-item {
			&:first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.mob-nav {
	@extend %mob-menu-common;

	font: 16px/1.2 $tahoma;
	color: $dark-gray;
	right: -250px;

	@include respond-to(medium) {
		width: 300px;
		right: -300px;
	}
	@include respond-to(xlarge) {
		display: none;
	}

	&__inner {
		min-height: 100%;
		padding: 0 0 72px;
	}

	&__item {
		&_drop {
			&.is-active {
				> .mob-nav__drop-list {
					display: block;
				}

				.mob-nav__item-svg {
					transform: rotate(180deg);
				}
			}
		}

		&_divided {
			border-top: 1px solid lighten($gray, 30%);
		}

		// arrow down
		&-svg {
			$size: 14px;
			width: $size;
			height: $size;
			margin-top: -$size/2;
			position: absolute;
			top: 50%;
			right: 10px;
			transition: transform .3s;

			fill: $green;
		}
	}

	&__link {
		display: block;
		padding: 10px 30px 15px 16px;
		color: inherit;
		position: relative;

		&:first-letter {
			text-transform: uppercase;
		}
		&:hover {
			text-decoration: none;
		}
	}

	&__drop-list {
		padding: 5px 0;
		color: #fff;
		background: darken($green, 10%);
		display: none;
	}

	&__drop-link {
		padding-left: 21px;
	}

	&__social {
		font-size: 0;
		text-align: center;
		width: 100%;
		margin-top: -42px; // ico height + 10px

		.social__item {
			float: none;
			display: inline-block;
		}
	}
}

.pagination {
	font: 14px/1 $tahoma;
	color: #bdc3c6;
	text-align: center;
	overflow: hidden;

	&_top {
		margin-bottom: gutter();

		@include respond-to(medium) {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	&_none\@medium {
		@include respond-to(medium) {
			display: none;
		}
	}

	&__item {
		float: left;

		&:not(:first-child) {
			margin-left: 4px;
		}

		&:hover,
		&.active {
			.pagination__link {
				color: #fff;
				background: $green;
				border-color: $green;
				border-bottom-color: $green-darker;
			}
		}

		&.active {
			.pagination__link {
				@include respond-to(large) {
					pointer-events: none;
				}
			}
		}
	}

	&__link {
		display: block;
		min-width: 22px;
		height: 32px;
		line-height: 32px;
		padding: 0 2px;
		color: inherit;
		border: solid $light-gray;
		border-width: 1px 1px 3px;

		@include respond-to(large) {
			transition: color .3s, background .3s, border-color .3s;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

// 		CATEGORIES && ASIDE BLOCKS
// ========================================
// wrap for categories and aside blocks on main page
.two-cols {
	@include respond-to(medium) {
		@include clrf;
	}
	@include respond-to(large) {
		margin-bottom: 10px;
	}

	&__item {
		margin-bottom: 20px;

		@include respond-to(medium) {
			&:first-child {
				float: right;
				width: calc-percentage(642px);
			}

			float: left;
			width: calc-percentage(340px);
		}
	}
}

.categories {
	// off-canvas fixed position on mobile
	@extend %mob-menu-common;
	padding: 5px 0 10px;
	left: -250px;
	color: #99a1a7;

	@include respond-to(small) {
		width: 480px;
		left: -480px;
	}
	@include respond-to(medium) {
		width: auto;
		padding: 5px 0 5px;
		margin-bottom: 20px;
		border: solid $light-gray;
		border-width: 1px 1px 4px;
		position: static;
		visibility: visible;
		transition: none;
	}
	@include respond-to(large) {
		padding: 9px 0 11px;
		margin-bottom: 65px;
	}

	&_wide {
		@include respond-to(large) {
			margin-bottom: 20px;
		}

		.categories__item {
			@include respond-to(medium) {
				float: left;
				width: 50%;
			}
		}

		.categories__link {
			@include respond-to(large) {
				padding-left: 40px;
			}
		}
	}

	&__list {
		@include respond-to(small) {
			overflow: hidden;
		}
	}

	&__item {
		@include respond-to(small) {
			float: left;
			width: 50%;
		}
		@include respond-to(medium) {
			float: none;
			width: 100%;
		}
	}

	&__link {
		display: block;
		padding: 3px 27px 2px 10px;
		overflow: hidden;

		@include respond-to(small) {
			padding: 5px 10px;
		}
		@include respond-to(large) {
			padding: 8px 40px 8px 29px;
		}
		@include respond-to(xlarge) {
			transition: background .3s;
		}

		&:hover {
			text-decoration: none;
			background: lighten($green, 55%);
		}
	}

	&__ico {
		float: left;
		margin-right: 10px;

		@include respond-to(small) {
			margin-right: 10px;
		}
		@include respond-to(large) {
			margin-right: 20px;
		}
	}

	&__text {
		display: block;
		color: #99a1a7;
		overflow: hidden;
	}

	&__ttl {
		display: block;
		font: 15px/1.2 $gloria;
		color: $gray;
		margin-bottom: 2px;

		@include respond-to(medium) {
			font-size: 16px;
		}
	}

	&__small {
		font: 12px/1.2 $gloria;

		&-qty {
			color: $green;
		}
	}
}

.box-wrap {
	padding: 10px;
	background: $bg-box;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	@include respond-to(small) {
		padding: 10px 15px;
	}
	@include respond-to(medium) {
		padding: 17px 10px 10px;
		border: solid #fff;
		border-width: 0 1px 1px 0;
	}
	@include respond-to(large) {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.box {
	$dots-size: 5px;
	$bd-w: 2px;
	$dots-position: ($dots-size + $bd-w)/2;
	// non-base64:
	// <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="#45c8dc" /></svg>

	font-family: $tahoma;
	line-height: 1.2;
	text-align: center;

	@include respond-to(medium) {
		border: $bd-w solid $medium-gray;
		position: relative;

		&:before,
		&:after {
			content: "";
			width: $dots-size;
			// base64 for IE
			background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0iIzQ1YzhkYyIgLz48L3N2Zz4='),
									url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCIgZmlsbD0iIzQ1YzhkYyIgLz48L3N2Zz4=');
			background-size: $dots-size $dots-size;
			background-repeat: no-repeat;
			background-position: 0 0, 0 100%;

			position: absolute;
			top: -$dots-position;
			bottom: -$dots-position;
		}
		&:before {
			left: -$dots-position;
		}
		&:after {
			right: -$dots-position;
		}
	}

	&__title {
		display: inline-block;
		vertical-align: top;
		min-width: 170px;
		max-width: 90%;
		padding: 0 5px;
		margin-bottom: 10px;
		font-size: 18px;
		color: $medium-blue;
		text-align: center;
		word-spacing: -1px;

		@include respond-to(medium) {
			margin: -13px 0 3px;
			background: $bg-box;
		}
		@include respond-to(large) {
			font-size: 20px;
		}
	}

	&__subtitle {
		display: block;
		font-size: 13px;
		color: $green;
	}
}

// 		TOP SHOPS
// ========================================
.top-shops {
	margin-left: -8px;
	padding: 5px 5px 2px;
	text-align: center;
	font-size: 0;

	@include respond-to(medium) {
		margin-left: 0;
	}
	@include respond-to(large) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&_padding\@large {
		@include respond-to(large) {
			padding-left: 13px;
			padding-right: 20px;
		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 130px;
		height: 34px;
		margin: 0 0 8px 8px;

		@include respond-to(medium) {
			width: 47%;
			max-width: 136px; // bg-size
			margin-bottom: 6px;

			&:nth-child(2n+1) {
				margin-left: 0;
			}
		}
		@include respond-to(large) {
			width: 136px;
			margin-bottom: 8px;
		}
	}

	&__link {
		display: block;
		height: 100%;
		padding: 0 2px 1px 19px;
		background: #fff;
		background-clip: content-box;
		position: relative;
		@include vertical;

		@include respond-to(xlarge) {
			padding-left: 25px;
		}

		&:hover:after {
			opacity: 1;
		}

		&:after {
			content: "";
			height: 100%;
			border-bottom: 2px solid $green-darker;
			border-radius: 0 0 0 30px/7px;
			opacity: 0;

			position: absolute;
			left: 6px;
			right: 0;
			bottom: -1px;

			@include respond-to(xlarge) {
				transition: opacity .3s;
			}
		}
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}

// just separ)
.separ {
	display: none;

	@include respond-to(large) {
		display: block;
		height: 0;
		margin: 0 0 21px;
		border: solid $light-gray;
		border-width: 0 0 2px;
	}
}

// 		TILES
// ========================================
.tiles-wrap {
	margin-bottom: 30px;

	@include respond-to(large) {
		margin-bottom: 35px;
	}

	&_no-margin\@medium {
		@include respond-to(medium) {
			margin-bottom: 0;
		}
		@include respond-to(large) {
			margin-bottom: 0;
		}
	}

	&__pagination {
		@include respond-to(medium) {
			margin-top: -10px;
		}
	}
}

.tiles {
	font: 17px/20px $gloria;
	color: $dark-gray;
	@include clrf;

	&_wide {
		.tiles__item {
			@include respond-to(small) {
				@include gallery(6);

				&:last-child {
					@include push(3);
				}
			}
			@include respond-to(large) {
				@include gallery(4);
				margin-bottom: 30px;
			}
		}

		.tiles__btn {
			@include respond-to(medium) {
				width: calc-percentage(187px, 343px);
				margin-left: 3px;
				margin-top: 0;
			}
			@include respond-to(large) {
				width: 151px;
			}
		}
	}

	&__item {
		margin-bottom: gutter();
		background: #fff;
		border: 1px dashed $medium-gray;

		@include respond-to(small) {
			@include gallery(6);
		}
		@include respond-to(medium) {
			@include gallery(4 of 8);
			margin-bottom: 20px;
		}
	}

	&__content-wrap {
		height: 225px;
		padding: 0 12px;
	}

	&__img-wrap {
		display: block;
		height: 115px;
		margin: 0 -12px 15px;
		padding: 0 10px;
		text-align: center;
		position: relative;
		// image vertical alignment
		@include vertical;

		&:after {
			content: "";
			border-bottom: 1px dashed $medium-gray;

			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
		}

		@include respond-to(xlarge) {
			&:after {
				transition: transform .3s, border-color .5s .2s;
			}

			&:hover:after {
				border-bottom: 2px solid $green;
				transform: scaleX(0.75);
				transition-delay: 0s;
			}
		}
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}

	.lazyload,
	.lazyloading {
		@extend %loader-size;
	}

	&__link {
		font-size: 12px;
	}

	&__text {
		max-height: 60px;
		margin-bottom: 7px;
		overflow: hidden;
	}

	&__bottom {
		padding: 0 5px 15px 8px;
		font-size: 0;
		text-align: center;
	}

	&__icons {
		display: inline-block;
		vertical-align: top;
		@include clrf;

		&-item {
			float: left;

			&:not(.ico-counter) {
				text-indent: -9999px;
			}

			&:not(:first-child) {
				margin-left: 3px;
			}
		}
	}

	&__btn {
		height: 48px;
		margin-top: 5px;
		line-height: 44px;
		font-size: 13px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		@include respond-to(large) {
			width: 151px;
			margin: 0 0 0 3px;
		}
	}

	&__more {
		@extend %button-reset;
		display: block;
		width: 100%;
		padding: 10px;
		font-size: 12px;
		color: $green;
		text-align: center;
		word-spacing: 1px;
		background: #fff;
		border: 1px dashed $medium-gray;

		&:hover {
			color: #fff;
			background: $green;
		}

		@include respond-to(xlarge) {
			margin-top: -10px;
			transition: background .3s, color .3s;
		}

		&-text {
			position: relative;
			margin-left: 6px;

			&:after {
				$w: 7px;
				$h: 4px;
				content: "";
				width: 0;
				height: 0;
				margin-top: -$h/2;
				border-top: $h solid #dfe1e1;
				border-right: $w/2 solid transparent;
				border-left: $w/2 solid transparent;

				position: absolute;
				top: 50%;
				right: -14px;
			}
		}
	}

	&__promo {
		$height: 23px;
		min-width: 100px;
		height: $height;
		padding: 0px 11px 0;
		font-size: 13px;
		line-height: $height;
		color: #fff;
		text-align: left;
		background: $red;

		position: absolute;
		top: 11px;
		left: 0;

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-right: 6px solid #fff;
			border-top: $height/2 solid transparent;
			border-bottom: $height/2 solid transparent;
			position: absolute;
			top: 0;
			right: 0;
		}

		&_blue {
			background: $blue;
		}
	}
}

// latest BLOG news
.blog-news {
	margin-bottom: 30px;

	&__list {
		padding-top: 10px;
		margin-bottom: -10px;
		overflow: hidden;
		font-size: 12px;
		text-align: left;

		@include respond-to(medium) {
			padding: 16px 8px 10px 26px;
		}
	}

	&__item {
		margin-bottom: 15px;

		@include respond-to(small) {
			float: left;
			width: 50%;
			padding-right: 15px;
		}
		@include respond-to(large) {
			margin-bottom: 28px;
		}
	}

	&__ico {
		float: left;
		width: 47px;
		height: 47px;
		margin-right: 12px;
		padding: 8px 0 3px 3px;
		font: bold 10px/1 $arial;
		color: #bdbdbd;
		text-align: center;
		text-transform: uppercase;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 2px 0 #e1e4e4;

		@include respond-to(xlarge) {
			transition: box-shadow .3s, color .3s;
		}

		&:hover {
			color: $gray;
			text-decoration: none;
			box-shadow: 0 2px 0 $green-darker;

			.blog-news__ico-day {
				color: $green-darker;
			}
		}

		&-day {
			display: block;
			font-size: 21px;
			color: $green;

			@include respond-to(xlarge) {
				transition: color .3s;
			}
		}
	}

	&__text {
		overflow: hidden;
	}

	&__ttl {
		display: block;
		margin-bottom: 3px;
		font: 15px/20px $gloria;
		color: $dark-blue;
	}

	&__link {
		color: inherit;
	}
}

.bottom-bar {
	@extend %links-bar-styles;
	margin-top: 30px;
	padding: 3px 0 4px;
	font: 15px/1 $tahoma;
	text-align: center;

	@include respond-to(large) {
		margin-top: 42px;
	}

	&__container {
		@include respond-to(large) {
			display: flex;
			justify-content: space-between;
		}

		&:after {
			content: none;
		}
	}

	&__link {
		display: inline-block;
		padding: 8px 5px;
		margin: 0 5px;
		color: inherit;

		@include respond-to(large) {
			margin: 0 10px;
		}
	}
}

.site-footer {
	padding: 30px 0 20px;
	text-align: center;

	@include respond-to(medium) {
		text-align: left;
	}
	@include respond-to(large) {
		padding: 36px 0 36px;
	}

	&__left,
	&__center {
		margin-bottom: 20px;

		@include respond-to(medium) {
			margin-bottom: 0;
		}
	}

	&__left {
		@include respond-to(medium) {
			float: left;
			margin-right: -100%;
			margin-top: 2px;
			// makes .site-footer__left higher than .site-footer__center
			position: relative;
		}
	}

	&__center {
		@include respond-to(medium) {
			float: left;
			width: 100%;
			padding: 0 232px 0 186px; // right-left elems size
			text-align: center;
		}
		@include respond-to(large) {
			padding-right: span(4);
		}
	}

	&__right {
		@include respond-to(medium) {
			float: right;
			margin-left: -100%;
			text-align: right;
			font-size: 0;
		}
		@include respond-to(large) {
			@include span(4 last);
			padding-left: 2px;
			text-align: left;
		}
	}

	&__logo,
	&__social {
		display: inline-block;
		vertical-align: top;
	}

	&__social {
		@include respond-to(large) {
			margin-left: 74px;
		}
	}

	&__stats {
		display: none;

		@include respond-to(medium) {
			display: inline-block;
			vertical-align: middle;
			width: 88px;
			height: 31px;
			margin-right: 10px;
		}
		@include respond-to(large) {
			margin-right: 29px;
		}
	}

	&__copyright {
		font: 14px/1 $tahoma;

		@include respond-to(medium) {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.content {
	@include respond-to(medium) {
		float: right;
		width: calc-percentage(660px);
	}

	&_full-width {
		@include respond-to(medium) {
			float: none;
			width: auto;
		}
	}
}

.aside {
	@include respond-to(medium) {
		float: left;
		width: calc-percentage(322px);
	}
}

// 		TEXT-CONTENT / POST
// ========================================
// scope text styles to text content
.text-content {
	font: 13px/20px $gloria;
	color: #99a1a7;
	margin-bottom: 25px;

	h2 {
		font: 18px/1.2 $gloria;
		color: $green-blue-darker;
		margin-bottom: 3px;
	}

	h3 {
		font: 17px/1.2 $gloria;
		color: $dark-gray;
		margin-bottom: 5px;
	}

	.ttl-box {
		@extend .ttl_box;
	}

	strong {
		color: #646e74;
		font-weight: bold;
	}

	p {
		margin-bottom: 20px;

		&.has-img {
			@include clrf;
		}
	}

	table {
		width: 100%;
		margin-bottom: 20px;
		// sometimes dashed border becomes solid due to the rules of conflict resolution
		border-collapse: separate;
		// border around table
		border: 1px dashed $medium-gray;
		background: #fff;

		&.list-items {
			td {
				@include respond-to(small) {
					padding-left: 33px;
				}

				&:first-child {
					width: 58%;

					&:before {
						content: "";
						width: 4px;
						height: 4px;
						background: #c9efe8;
						border: 1px solid $green;
						border-radius: 50%;
						position: absolute;
						top: 12px;
						left: 10px;

						@include respond-to(small) {
							left: 22px;
						}
					}
				}
			}
		}

		// bug. see above
		// th,
		// td {
		// 	border: 1px dashed $medium-gray;
		// }

		// top border on every td except first row
		tr {
			&:not(:first-child) {
				td {
					border-top: 1px dashed $medium-gray;
				}
			}
		}

		th {
			padding: 8px 10px 9px 23px;
			font: 17px/1.2 $gloria;
			color: $dark-gray;
			text-align: left;
		}

		td {
			padding: 5px 5px 5px 23px;
			position: relative;

			// left border on every td except first td
			&:not(:first-child) {
				border-left: 1px dashed $medium-gray;
			}
		}
	}

	ul:not(.non-text-content) {
		padding-left: 20px;
		margin-bottom: 20px;

		li {
			padding-left: 9px;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 7px;
				left: 0;
				@include sprite-with-sizes($bullet01);
			}
		}
	}

	.ico {
		float: left;
		margin: 2px 12px 0 0;
		text-indent: -9999px;
		overflow: hidden;
	}

	.img-wrap {
		display: block; // in case if it's non-block element
		width: 295px;
		margin: 0 auto 10px;

		@include respond-to(small) {
			float: left;
			margin: 3px 10px 10px 0;
		}

		img {
			width: 100%;
			vertical-align: top;
		}
	}

	.img-wrap-shop {
		height: 128px;
		padding: 10px;
		margin-bottom: 10px;
		background: #fff;
		border: 1px dashed $medium-gray;
		overflow: hidden;
		text-align: center;
		@include vertical;

		@include respond-to(small) {
			float: left;
			width: calc-percentage(320px, 660px);
			min-width: (320px/1.2);
			margin-right: calc-percentage(22px, 660px);
			margin-bottom: 5px;
		}

		img {
			max-width: 100%;
			vertical-align: middle;
		}
	}

	.banner {
		margin-bottom: 20px;

		@include respond-to(large) {
			margin-bottom: 37px;
		}

		@include respond-to(xlarge) {
			transition: opacity .3s;
		}

		&:hover {
			opacity: 0.7;
		}

		a {
			display: block;
		}

		img {
			max-width: 100%;
			vertical-align: top;
		}
	}

	.video-wrap {
		width: calc-percentage(480px, 660px);
		margin: 20px auto 15px;
		padding-bottom: calc-percentage(365px, 660px);
		position: relative;

		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// 		text-content MODIFIERS
	// -----------------------------------
	// must be at the bottom of the module due to cascading styles
	&_shop {
		h2 {
			margin-bottom: 15px;
		}
	}

	&_promo {
		font: 14px/1.2 $tahoma;
		color: #879299;
		margin-bottom: 30px;

		@include respond-to(large) {
			margin-bottom: 40px;
		}

		h2 {
			font-size: 25px;
			color: $green;
			margin-bottom: 15px;
		}
	}

	&_about-shop {
		font-size: 14px;
		line-height: 20px;
		color: $dark-gray;
		letter-spacing: 0.3px;
		margin-bottom: 30px;

		@include respond-to(large) {
			margin-bottom: 45px;
		}

		h2 {
			font-size: 28px;
			margin-bottom: 18px;
			letter-spacing: 0.2px;
		}

		h3 {
			font-size: 18px;
			color: $green;
		}

		p {
			margin-bottom: 20px;

			@include respond-to(large) {
				margin-bottom: 30px;
			}
		}
	}

	&_article {
		margin-bottom: 30px;

		@include respond-to(large) {
			margin-bottom: 50px;
		}
	}
}

.post-bottom {
	overflow: hidden;

	&__social {
		float: left;
	}

	&__rating {
		float: right;

		@include respond-to(large) {
			padding-right: 5px;
		}
	}
}

.post-top {
	margin-bottom: 15px;
	text-align: center;
	@include clrf;

	@include respond-to(small) {
		text-align: left;
	}

	&__left {
		@include respond-to(small) {
			float: left;
			width: 100%;
			padding-right: 132px;
		}
	}

	&__right {
		margin-top: 10px;
		display: inline-block;
		vertical-align: top;

		@include respond-to(small) {
			float: right;
			margin-left: -100%;
			margin-top: 0;
		}
	}
}

.posts {
	font: 13px/20px $gloria;
	color: $gray;
	margin-bottom: 30px;

	@include respond-to(medium) {
		margin-bottom: 50px;
	}

	&__single {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 2px solid $light-gray;
		overflow: hidden;

		@include respond-to(large) {
			padding-bottom: 18px;
			margin-bottom: 20px;
		}
	}

	&__img-wrap {
		height: 132px;
		margin-bottom: 10px;
		overflow: hidden;
		text-align: center;

		&:hover {
			img {
				@include respond-to(xlarge) {
					transform: translate(-50%, -50%) scale(1.1);
				}
			}
		}

		@include respond-to(small) {
			float: left;
			width: 132px;
			margin-right: 10px;
			margin-bottom: 0;
		}
		@include respond-to(large) {
			width: 160px;
			height: 160px;
			margin-right: 12px;
		}

		img {
			width: 100%;
			vertical-align: top;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include respond-to(xlarge) {
				transition: transform .3s ease-out;
			}
		}

		.lazyload,
		.lazyloading {
			@extend %loader-size;
		}
	}

	&__img-link {
		display: block;
		height: 100%;
		position: relative;
	}

	&__content {
		height: 132px;
		overflow: hidden;
		position: relative;

		@include respond-to(large) {
			height: 160px;
		}

		&_bottom-mask {
			&:before {
				content: "";
				width: 100%;
				height: 44px;
				background: #f7f8f8;
				background: linear-gradient(to top, #f7f8f8 70%, transparent);
				position: absolute;
				left: 0;
				bottom: 0;

				@include respond-to(large) {
					height: 34px;
					background: #f7f8f8;
				}
			}
		}
	}

	&__ttl {
		font-size: 17px;
		line-height: 20px;
		color: #5f6a6a;
		max-height: 40px;
		margin-bottom: 5px;
		overflow: hidden;

		&-link {
			color: inherit;
		}
	}

	&__text {
		margin-bottom: 5px;
	}

	&__pagination {
		margin-top: -5px;
	}
}

.post-meta {
	font-family: $gloria;
	font-size: 0;
	line-height: 1;
	color: #bdc0c0;
	transition: color .3s;

	&:hover {
		color: $gray;
	}

	&_at-bottom {
		width: 100%;
		position: absolute;
		bottom: 0;
	}

	&_two-items {
		.post-meta__item {
			&_name {
				max-width: 60%;
			}

			&_date {
				max-width: 35%;
			}
		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		border: 1px solid $medium-gray;
		font-size: 12px;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		&:not(:first-child) {
			margin-left: 3px;
		}

		@include respond-to(large) {
			padding-right: 17px;
			padding-left: 17px;
		}

		&_name {
			max-width: 29%;
		}
		&_date {
			max-width: 27%;
		}
		&_heading {
			max-width: 42%;
		}
	}
}

.expired {
	font: 14px/20px $gloria;
	color: #828e8e;
	margin-bottom: 30px;

	@include respond-to(large) {
		margin-bottom: 50px;
	}

	&_pull-top {
		margin-top: -7px;
	}

	&__title {
		margin: 0 0 18px 3px;
	}

	&__items {
		overflow: hidden;
	}

	&__item {
		margin-bottom: 10px;
		background: #fff;
		border: 1px dashed $medium-gray;

		@include respond-to(small) {
			@include span(6);

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		@include respond-to(medium) {
			@include span(4 of 8);
			margin-bottom: 20px;
		}

		&-top {
			display: block;
			padding: 6px 5px 9px;
			font: 16px/1 $gloria;
			text-align: center;
			background: #fafafa;
			border-bottom: 1px dashed $medium-gray;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		&-text {
			display: block;
			margin: 9px 6px 13px 12px;
			overflow: hidden;

			@include respond-to(small) {
				height: 40px;
			}
		}

		&-bottom {
			display: block;
			padding: 5px 10px 8px 12px;
			font-size: 13px;
			border-top: 1px dashed $medium-gray;

			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-top: -1px;
				margin-right: 10px;
			}
		}
	}

	&__more {
		display: block;
		margin-bottom: -9px;
		font: 12px/1.2 $gloria;
		color: #66b094;

		@include respond-to(medium) {
			margin-top: -9px;
		}

		&-link {
			display: block;
			padding: 9px 0;
			color: inherit;

			@include respond-to(xlarge) {
				display: inline-block;
			}
		}
	}
}

.reviews {
	margin-bottom: 30px;

	@include respond-to(large) {
		margin-bottom: 36px;
	}

	&__ttl {
		margin: 0 0 18px 3px;
		color: $green;
	}
}

.reviews-list {
	margin-bottom: 20px;

	&_inner {
		margin-bottom: 0;

		.reviews-list {
			&__item {
				margin-left: 30px;
				margin-top: 15px;
			}

			&__content {
				padding-left: 20px;
				padding-bottom: 13px;
				background: transparent;
			}

			&__name {
				max-width: 38.4%;
			}

			&__response-time {
				margin-left: 5px;
			}
		}
	}

	// without bg and borders around content
	// with border after item
	&_theme01 {
		.reviews-list {
			&_inner {
				.reviews-list__item {
					margin-left: 20px;
					padding: 10px 0 0 10px;
					border-bottom: none;
					border-top: 2px solid $light-gray;
				}
			}

			&__item {
				padding-bottom: 19px;
				border-bottom: 2px solid $light-gray;
			}

			&__content {
				padding: 0;
				background: none;
				border: none;
			}

			&__text {
				padding: 0 0 8px 0;
			}
		}
	}

	&_has-avatar {
		.reviews-list {
			&__item {
				font-size: 13px;
			}

			&__avatar {
				float: left;
				width: 48px;
				margin-right: -100%;
				position: relative;

				&-link {
					display: block;

					@include respond-to(xlarge) {
						transition: opacity .3s;
					}

					&:hover {
						opacity: 0.75;
					}
				}

				img {
					width: 100%;
					vertical-align: top;
				}
			}

			&__content {
				float: left;
				width: 100%;
				padding-left: 60px;
			}

			&__top {
				margin-top: -5px;
			}

			&__bottom {
				clear: both;
			}
		}
	}

	&__item {
		font: 14px/20px $gloria;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__content {
		padding: 7px 10px 10px 14px;
		background: #fff;
		border: 1px dashed $medium-gray;
	}

	&__top {
	}

	&__name,
	&__to-whom,
	&__response-time {
		display: inline-block;
		vertical-align: middle;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__name {
		max-width: 79%;
		font-size: 16px;
		color: $dark-gray;
	}

	&__response-time {
		max-width: 20%;
		margin-left: 2px;
		font-size: 12px;
		color: $green-muddy;
	}

	&__text {
		display: block;
		padding: 0 0 5px 15px;
		letter-spacing: 0.2px;
		color: #818d8d;
	}

	&__bottom {
		font-size: 12px;
		color: $green-muddy;

		&-link {
			display: inline-block;
			vertical-align: top;
			padding: 5px 10px;
			margin: 0 6px 0 -10px;
			color: inherit;

			&:hover {
				text-decoration: none;
			}

			@include respond-to(xlarge) {
				padding: 5px;
				margin: -5px 6px -5px -5px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__to-whom {
		max-width: 37%;
		margin-left: 13px;
		color: #959f9f;
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			border-left: 4px solid #959f9f;
			border-top: 3px solid transparent;
			border-bottom: 3px solid transparent;
		}
	}
}

.add-inf {
	margin-bottom: 30px;
	// prevents possible hor scroll
	overflow: hidden;

	@include respond-to(large) {
		margin-bottom: 38px;
	}

	&__ttl {
		margin-bottom: 20px;
		color: $green;
	}

	&__cols {
		font: 14px/1.2 $gloria;
		color: $gray;
		overflow: hidden;

		@include respond-to(small) {
			margin: 0 -10px;
		}
	}

	&__col {
		&:not(:first-child) {
			margin-top: 14px;
		}

		@include respond-to(small) {
			float: left;
			width: 50%;
			padding: 0 10px;

			&:not(:last-child) {
				margin-top: 0;
			}

			&:last-child {
				width: 100%;
			}
		}
		@include respond-to(large) {
			&:nth-child(1) {
				width: 27%;
			}
			&:nth-child(2) {
				width: 38%;
				padding-left: 24px;
			}
			&:nth-child(3) {
				width: 35%;
				margin-top: 0;
			}
		}
	}

	&__row {
		&:not(:first-child) {
			margin-top: 14px;
		}
	}

	&__sub-ttl {
		display: block;
		margin-bottom: 3px;
		font-size: 16px;
		color: #4b5454;
	}

	&__list {
		&-item {
			margin-left: 10px;
			position: relative;

			@include respond-to(large) {
				margin-left: 0;
			}

			&:before {
				content: "";
				border-left: 4px solid $gray;
				border-top: 3px solid transparent;
				border-bottom: 3px solid transparent;

				position: absolute;
				top: 5px;
				left: -8px;
			}
		}
	}

	&__link {
	}
}

.breadcrumbs {
	padding: 7px 10px 8px 19px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px dashed $medium-gray;
	overflow: hidden;
	font: 15px/18px $gloria;
	color: $green-blue-darker;

	&__list {
		overflow: hidden;
		margin-left: -5px;
	}

	&__item {
		float: left;
		margin-left: 5px;

		&:not(:first-child) {
			&:before {
				content: "\00BB";
				display: inline-block;
				margin-right: 5px;
			}
		}
	}

	&__link {
		color: $gray;
	}
}

.feedback {
	margin-bottom: 30px;

	&__divided {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid $light-gray;
		font-size: 13px;
	}

	&__row {
		padding-left: 40px;
		margin-bottom: 3px;
	}

	&__text {
		margin-right: 6px;
		color: $green;
	}

	&__link {
		color: $gray;
	}
}

.shops-wrap {
	margin-bottom: 30px;
}

.shops-list {
	margin-bottom: 20px;
	background: #fff;
	border: 1px dashed $medium-gray;

	@include respond-to(large) {
		display: table;
		width: 100%;
	}

	&__row {
		padding: 12px 10px;
		font-size: 0;

		&:not(:last-child) {
			border-bottom: 1px dashed $medium-gray;

			@include respond-to(large) {
				border-bottom: none;
			}
		}
		&:last-child {
			.shops-list__col {
				@include respond-to(large) {
					border-bottom: none;
				}
			}
		}
		@include respond-to(large) {
			display: table-row;
			padding: 0;
		}

		&_headings {
			display: none;

			.shops-list__col {
				@include respond-to(large) {
					border-left: none;
					font-size: 17px;
					color: #5f6a6a;

					&:first-child {
						padding-left: 22px;

						&:before {
							content: none;
						}
					}
				}
			}
		}
	}

	&__col {
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		color: $gray;

		@include respond-to(large) {
			display: table-cell;
			width: auto;
			padding: 5px 15px;
			border: dashed $medium-gray;
			border-width: 0 0 1px 1px;
		}

		img {
			max-width: 100%;
			vertical-align: middle;
		}

		// shop title
		&:first-child {
			display: none;

			@include respond-to(large) {
				display: table-cell;
				width: calc-percentage(140px, 660px);
				border-left: none;

				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: 4px;
					height: 4px;
					margin-right: 8px;
					background: #c9efe8;
					border: 1px solid #1abc9c;
					border-radius: 50%;
				}
			}
		}

		// image
		&:nth-child(2) {
			width: 100%;
			margin-bottom: 12px;
			text-align: center;

			@include respond-to(large) {
				width: calc-percentage(140px, 660px);
				margin-bottom: 0;
			}
		}

		// all cols but the the first two
		&:nth-child(n+3) {
			width: 50%;

			@include respond-to(small) {
				width: 33.33333%;
			}
			@include respond-to(large) {
				width: auto;
			}
		}

		// icons
		&:nth-child(3) {
		}

		// rating
		&:nth-child(4) {
			vertical-align: top;
			text-align: right;

			@include respond-to(small) {
				vertical-align: middle;
				text-align: center;
			}
			@include respond-to(large) {
			}
		}

		// qty
		&:nth-child(5) {
			float: right;
			padding-right: 3px;
			margin-top: -17px;
			text-align: right;

			@include respond-to(small) {
				float: none;
				margin-top: 0;
				vertical-align: middle;
			}
			@include respond-to(large) {
				padding-right: 17px;
				text-align: center;
			}
		}
	}

	&__icons {
		margin-left: -3px;
		white-space: nowrap;
		@include clrf;
	}

	&__ico {
		float: left;
		margin: -5px -5px -5px -2px;
		text-indent: -9999px;
		// autoprefixer doesn't generate -ms- with perspective
		-ms-transform: scale(0.8);
		// the perspective prevents an element from blurring and shaking
		transform: scale(0.8) perspective(1px);

		// [data-tooltip]
		// change tooltip position of the first ico
		&:first-child:after {
			margin-left: 0;
			left: 0;
		}
	}

	&__qty-text {
		@include respond-to(large) {
			display: none;
		}
	}

	&__link {
		display: block;
		padding: 12px 0;
		margin: -12px -10px -12px;

		@include respond-to(large) {
			height: 49px; // same as row height
			padding: 0;
			margin: -6px -15px -5px;
			@include vertical;
		}
		@include respond-to(xlarge) {
			&:hover {
				img {
					opacity: .6;
				}
			}

			img {
				transition: opacity .3s;
			}
		}
	}
}

// 		POPUPS
// ========================================
.promo-details {
	$gray-bg: #eff0f0;
	$gray-bg-darker: #dfe1e1;
	max-width: 630px;
	padding: 50px 20px 20px;
	background: #fff;
	font-size: 16px;
	line-height: 22px;
	color: $gray;
	display: none;

	@include respond-to(large) {
		padding: 48px 70px 20px;
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@include respond-to(large) {
			@include clrf;

			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}

		&_bg {
			padding: 20px;
			margin: 0 -20px 20px;
			background: $gray-bg;
			text-align: center;

			@include respond-to(large) {
				padding: 20px 70px 25px;
				margin-right: -70px;
				margin-left: -70px;

				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}

		&_wide {
			@include respond-to(large) {
				margin-right: -15px;
				margin-left: -15px;
			}
		}
	}

	.form-row {
		&:not(:first-child) {
			margin-top: 10px;
		}

		@include respond-to(large) {
			float: left;

			&:not(:first-child) {
				margin: 0 0 0 9px;
			}
		}
	}

	.pseudo-border {
		right: 0;
		left: 0;
		bottom: 0;
	}

	&__ttl {
		margin-bottom: 16px;
		font-size: 22px;
		text-align: center;
		color: $dark-gray;
		letter-spacing: -0.3px;

		@include respond-to(large) {
			font-size: 25px;
			line-height: 35px;
		}
	}

	&__text {
		margin-bottom: 20px;

		@include respond-to(large) {
			margin-bottom: 36px;
		}
	}

	// INPUTS
	&__code,
	&__email {
		border: 1px dashed #cdd6d6;
	}

	&__code {
		height: 40px;
		line-height: 38px;
		background: #fff;
		font-size: 16px;
		color: $gray;

		@include respond-to(large) {
			width: 320px;
		}
	}

	&__email {
		height: 35px;
		line-height: 33px;
		font-size: 13px;

		@include respond-to(large) {
			width: 370px;
		}
	}

	// BUTTONS
	&__btn-darker {
		height: 40px;
		line-height: 36px; // -4px border-bottom
		background: #425c77;
		border-color: #2d3f51;

		&:hover {
			background: lighten(#425c77, 5%);
			border-bottom-color: lighten(#2d3f51, 5%);
		}

		@include respond-to(large) {
			width: 160px;
			min-width: 0;
		}
	}

	&__btn {
		height: 48px;
		line-height: 44px;
		font-size: 15px;

		@include respond-to(large) {
			width: 260px;
		}

		&-text {
			display: inline-block;
			vertical-align: top;
			position: relative;

			&:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-left: 9px;
				border-left: 6px solid #fff;
				border-top: 3px solid transparent;
				border-bottom: 3px solid transparent;
			}
		}
	}

	&__btn-gray {
		height: 35px;
		line-height: 31px;
		background: $gray-bg;
		border-bottom-color: $gray-bg-darker;
		color: $green;

		&:hover {
			background: darken($gray-bg, 5%);
			border-bottom-color: darken($gray-bg-darker, 5%);
		}

		@include respond-to(large) {
			width: 140px;
			min-width: 0;
		}
	}
}

// 		MOBILE
// ========================================
.overlay {
	width: 0;
	height: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;

	transition: opacity .3s;
	will-change: opacity;

	@include respond-to(xlarge) {
		display: none;
	}
}

// 		MOBILE ACTIVE
// ========================================
// active classes on body
.mob-menu-active {
	overflow: hidden;

	.overlay {
		@extend %overlay-active;
	}

	.mob-nav {
		@extend %mob-menu-active;
		transform: translateX(-100%);
	}
}

.mob-categories-active {
	overflow: hidden;

	.overlay {
		@extend %overlay-active;
	}

	.categories {
		@extend %mob-menu-active;
		transform: translateX(100%);
	}
}